[2021-12-13 15:15] Slach commented on #832
@apibfilip sorry, i miss `default` username in `users` specification for `networks/ip` key
so, properly manifest should look like this:

[code]

[2021-12-13 15:58] apibfilip commented on #832
Auth work now but the described problem persists, clickhouse gives different results on subsequent queries.

[2021-12-13 16:48] Slach commented on #832
do you understand how to works Distributed and Replicated table engines in ClickHouse?

[code]

please read documentation
https://clickhouse.com/docs/en/engines/table-engines/mergetree-family/replication/
https://clickhouse.com/docs/en/engines/table-engines/special/distributed/

[2021-12-15 15:43] #832 closed

[2021-12-15 15:44] #829 closed

[2021-12-17 02:32] jessezax opened #835 "how to upgrade ClickHouse version upgrades ？"
just modify the image and apply？

[2021-12-17 02:34] jessezax commented on #835
Will this lose data？

[2021-12-17 10:52] Slach commented on #835
If your cluster has properly configured CSI / volume provisioner
data will not lose, when define  in your `kind: ClickHouseInstallation` something like that

[code]

after it, you can update image: in your `podTemplates` section

Moreover, will useful  look to https://github.com/Altinity/clickhouse-operator/blob/master/docs/custom_resource_explained.md to understand format for `chi` custom resourc

[2021-12-20 13:18] ganievs opened #837 "Helm chart"
HI guys!
The issue is created in continue to PR #836
I've tested it in some basic configuration with replicated and sharded installation of clickhouse.

[2021-12-21 04:17] surajmachamasi opened #839 "How the data are distributed between the each shards ?"
any guide configuration for to distributing the data between the shards like round-robin way. like for e.g  i want to put the half  of the table data to one shard and other half to other shard.

[2021-12-21 07:16] alex-zaitsev commented on #839
Hi @surajmachamasi,

Use rand() function as a sharding_key Distributed table and insert into Distributed table:
https://clickhouse.com/docs/en/engines/table-engines/special/distributed/

The cluster matches the CHI cluster name. Look at examples of Replicated and so Distributed tables as described here: https://github.com/Altinity/clickhouse-operator/blob/master/docs/replication_setup.md

[2021-12-21 07:16] #839 closed

[2021-12-21 10:54] surajmachamasi opened #840 "The metrics-explorer is not pinging the shards and replicas , what could be the issue?"
i have executed the command:
kubectl exec -n kube-system clickhouse-operator-79d5fb8464-wkftq -c metrics-exporter -- wget -qO- http://chi-repl-prod-prdc01-0-1.ch-prod.svc.cluster.local:8123/ping

it is returning any response, it should have returned "ok" message but results "Operation timeout "

[2021-12-21 11:43] anatoliicasafari commented on #828
Thank you very much for you answer. It helped.
About your question. We have a many sources of data and we are tried to allow them to insert into clickhouse, that why we needs possibility to increase connections limits.
But now, we just create a simple connection pool and pass all data sources through this pool.

[2021-12-21 11:43] #828 closed

[2021-12-21 13:17] Slach commented on #840
check status of your current pods
```kubectl get pods -n ch-prod | grep chi```

also check your service have endpoints
```kubectl get svc -n ch-prod chi-repl-prod-prdc01-0-1 -o wide```

[2021-12-21 15:01] UnamedRus opened #841 "feature: templating for nodeSelector"
Ability to bind specific replicas/shards to k8s nodes without copy-paste whole podTemplate for each replica.

[code]

It useful in case of local path provisioning.

[2021-12-22 05:03] czhfe opened #842 "After upgrading to 0.17, an exception error occurs when modifying clickhouseinstallation"
After upgrading to 0.17 an exception error occurs when modifying clickhouseinstallation, which prevents modification and deletion of clickhouseinstallation. the error is as follows:

The ClickHouseInstallation "clickhouse" is invalid: status.errors: Invalid value: "null": status.errors in body must be of type array: "null"

[2021-12-22 08:12] Slach commented on #842
How exactly do you upgrade to 0.17?
Did you upgrade `crds` or just update image in deployment?

Could you share the results for following command?
[code]

[2021-12-22 08:17] czhfe commented on #842
Upgrade operator first, then upgrade crd.

![image](https://user-images.githubusercontent.com/19341806/147059195-2b65495a-a82e-4759-9378-f2d43c0af44c.png)

[2021-12-22 09:21] Slach commented on #842
Could you upgrade CRDs first
your deployment not look like after `standard installation way`
it should be clickhouse-operator instead of `clickhouse-operator-altinity-clickhouse-operator`?
Did you use some Helm chart or something else?

Could you remove this deployment (it safe)
[code]

after it and just apply
[code]

and check results
[code]

[2021-12-22 09:24] czhfe commented on #842
I wrote the helm chart deployment myself

[2021-12-22 09:53] Slach commented on #842
@czhfe ok. try update crds
in your helm chanrt
and re-install clickhouse-operator

[2021-12-22 10:02] czhfe commented on #842
Now I do not understand why the operator and crd updated here will error, there is no solution

[2021-12-22 10:04] Slach commented on #842
It solution cause new CRDs define status as subresources.

Compare your current CRDs with
 https://raw.githubusercontent.com/Altinity/clickhouse-operator/master/deploy/operator/clickhouse-operator-install-bundle.yaml

[2021-12-22 10:05] czhfe commented on #842
I upgraded from 0.13.5 to 0.17

[2021-12-22 21:57] mcgrawia opened #843 "ClickHouse Operator not able to watch ClickHouseOperatorConfiguration Resources"
Hi operator team,

We recently just upgraded our operator to 0.17 using the latest install bundle yaml and we noticed this warning log in the operator:
[code]

Our operator seems to be functioning normally but unsure if this is cause for concern?

I've noticed in the source code, the api doesn't seem to be registered for the ClickHouseOperatorConfiguration type in this function:
https://github.com

[2021-12-23 02:38] qilitang opened #845 "When I create the table, there is no uuid in the generated sql file, only the table name"
- In /var/lib/clickhouse/metadata

├── default.sql
├── information_schema
├── INFORMATION_SCHEMA
├── information_schema.sql
├── INFORMATION_SCHEMA.sql
├── oneclick
 │   ├── visits_v1_all.sql
 │   └── visits_v1.sql
├── oneclick.sql
├── system -> /var/lib/clickhouse/store/d93/d93ac840-7cf3-46d3-993a-c8407cf3e6d3/
└── system.sql

- cat oneclick/visits_v1.sql

(
     `CounterID` UInt32,
    `StartDate

[2021-12-23 08:01] Slach commented on #845
`clickhouse-operator` prefers Ordinary Database Engine, and modern version `clickhouse-server` setup Atomic by default
https://clickhouse.com/docs/en/engines/database-engines/atomic/

look details on https://github.com/Altinity/clickhouse-operator/blob/master/deploy/operator/clickhouse-operator-install-bundle.yaml#L3455-L3463
If you will to run `CREATE DATABASE oneclick ENGINE=Atomic;`
you will ac

[2021-12-23 08:01] #845 closed

[2021-12-23 08:28] sunsingerus commented on #843
@mcgrawia thanks for notification! Next operator version is under development ATM and this issue would be fixed. Please wait for operator 0.18.0 to come.

[2021-12-23 08:28] czhfe opened #847 "When the clickhouse-operator will perform a DNS cache delete."
![image](https://user-images.githubusercontent.com/19341806/147211320-813fff2e-f3b4-420f-a2ff-521d0f4dbb1b.png)
When the clickhouse-operator will perform a DNS cache delete. Do I need to add the disable_internal_dns_cache parameter when I deploy clickhouse?

Occasional failure of distributed queries because of wrong user/password. Due nature of k8s with dynamic ip allocations, it’s possible that C

[2021-12-23 09:29] Slach commented on #847
clickhouse-operator call DROP DNS CACHE in following cases
* when add / remove new nodes to cluster
* when apply migration schema

Distributed queries may fail cause you change password for `default` user. Let's stay it empty, cause default user resticted to connection only from cluster nodes.

[2021-12-23 14:09] mcgrawia commented on #843
Ok will do. Thanks @sunsingerus!

[2021-12-23 22:45] hodgesrm commented on #808
This problem has been replicated in an additional environment. I will add relevant YAML/log files when available.

[2021-12-24 07:47] alex-zaitsev commented on #808
@FarhadF , do you set any labels outside of operator? This log message is important:

I1026 16:24:55.343085       1 announcer.go:224] getStatefulSetStatus():clickhouse/clickhouse:INFO StatefulSet ARE DIFFERENT based on labels. Reconcile is required for clickhouse/chi-clickhouse-sandbox-ch-0-0

It means that operator discovered that labels that it expects on stateful set are different from the actu

[2021-12-24 08:08] olexiyb commented on #845
This is not enough, you also need to override default engine to be `Atomic`. Otherwise when you add new replicate any existing database will replicate with engine `Ordinary`.

[code]

[2021-12-24 09:06] alex-zaitsev commented on #771
@UnamedRus , could you please check and fix the documentation.

[2021-12-24 13:47] yasha-dev1 commented on #823
Thanks for the solution. I had the same problem in my K8s cluster and it was solved by changing the regex to allow all hosts. Not sure but might be a good idea to reflect this change in default values or even in the CH-examples

[2021-12-27 09:37] alex-zaitsev commented on #808
@FarhadF , the restart is caused by

[code]

This is a setting the FORCES a restart. We use it in order to restart ClickHouse cluster on demand without service interruption.

Please remove it, that should help.

[2021-12-28 06:31] surajmachamasi opened #851 "<Error> void DB::StorageKafka::threadFunc(): Code: 252, e.displayText() = DB::Exception: Too many partitions for single INSERT block (more than 100)."
i am getting this error several times. what could be the main issue and how to fix this isse.

[2021-12-28 06:31] surajmachamasi commented on #851
<Error> void DB::StorageKafka::threadFunc(): Code: 252, e.displayText() = DB::Exception: Too many partitions for single INSERT block (more than 100). The limit is controlled by 'max_partitions_per_insert_block' setting. Large number of partitions is a common misconception.

[2021-12-28 06:50] Slach commented on #851
Issue is not related to clickhouse-operator
you have wrong PARTITION BY clause in your tables

[2021-12-28 06:50] #851 closed

[2021-12-29 00:46] michaelhyatt opened #852 "Operator support for ARM64"
Currently, there are no `arm64` published binaries for the operator, so I tried to build it myself on Raspberry Pi running Ubuntu 64-bit server and the build fails on the UBI image mentioned in the [Dockerfile](https://github.com/Altinity/clickhouse-operator/blob/master/dockerfile/operator/Dockerfile#L28).

Replacing the image with `FROM almalinux:7-minimal AS ubi7` seems to be the way to fix it,

[2021-12-29 05:54] czhfe commented on #847
I haven't bothered to change the password for `default`, but occasionally I have problems with distributed query failures

[2021-12-29 06:00] czhfe commented on #842
Upgrade from clickhouse-operator 0.13.5 to 0.17.0. perform the following steps.
1. Upgrade crd first
2. Upgrade operator and other resources

After the upgrade, modify ClickHouseInstallation CR encountered the following error

![image](https://user-images.githubusercontent.com/19341806/147631785-d3da9b61-58fa-455a-a977-fab49b17bf00.png)

[2021-12-29 08:14] Slach commented on #842
Do you have `status` in your edited resource? If yes, please remove this sections and try to save

Could you share the following command results?
[code]

[2021-12-29 08:19] Slach commented on #847
`clickhouse-operator` generates `remote_servers` config and use DNS names of `kind: Service` with `type: ClusterIP` which cover one only clickhouse statefulset (and one pod inside statefulset), this DNS usually return IP constantly from coredns.

Could you share results of the following command?
[code]

[2021-12-29 08:22] Slach commented on #852
Not yet released 0.18.0 (in active development) available for ARM64 and switched to ubi8
https://hub.docker.com/r/altinity/clickhouse-operator/tags?page=1&name=0.18

try to
[code]

[2021-12-29 08:22] #852 closed

[2021-12-29 10:20] #808 closed

[2021-12-30 05:29] czhfe commented on #842
Yes, I have tested this before by deleting the `status` section and trying to save it later, but the result is still the same.

[2021-12-30 05:31] czhfe commented on #842
Problem recurrence：
The /spec/templating/policy in the clickhouseinstallations.clickhouse.altinity.com CRD prior to version 0.16.0 did not have its default value explicitly defined, resulting in that default value being "".
The clickhouseinstallations.clickhouse.altinity.com CRD was upgraded in version 0.16.0 of the clickhouse operator (this can be seen in the release notes in RELEASES).
In versio

[2021-12-30 05:31] czhfe commented on #842
Problem recurrence：

The /spec/templating/policy in the clickhouseinstallations.clickhouse.altinity.com CRD prior to version 0.16.0 did not have its default value explicitly defined, resulting in that default value being "".
The clickhouseinstallations.clickhouse.altinity.com CRD was upgraded in version 0.16.0 of the clickhouse operator (this can be seen in the release notes in RELEASES).
In versi

[2021-12-30 05:51] su-houzhen opened #853 "About Restart RollingUpdate"
I am using clickhouse-operator 0.16.0 for test. And I got a question during the test.

Prerequisite: My CHI is set spec.restart = RestartRollingUpdate
Operation: restart operator
Result: The ClickHouse cluster is restarted.

at the same time:
Prerequisite: My CHI no longer sets spec.restart = RestartRollingUpdate
Operation: restart operator
Result: The ClickHouse cluster was not restarted.

Accord

[2021-12-30 05:56] sozenh opened #854 "Exclude INFORMATION_SCHEMA and information_schema from `schemer.go`"
I am using clickhouse-operator 0.16.0 for test. And I got a question during the test.

Prerequisite: My CHI is using high version ClickHouse, altinity/clickhouse-server:latest
Result: Since the high version of clickhouse introduced database information_schema, I found that the operator would read the table in the information_schema and rebuild it under the default database.

Why does this happen？

[2021-12-30 06:31] czhfe commented on #847
`apiVersion: clickhouse.altinity.com/v1
kind: ClickHouseInstallation
metadata:
  creationTimestamp: "2021-12-30T05:50:01Z"
  finalizers:
  - finalizer.clickhouseinstallation.altinity.com
  generation: 95
  managedFields:
  - apiVersion: clickhouse.altinity.com/v1
    fieldsType: FieldsV1
    fieldsV1:
      f:metadata:
        f:finalizers:
          .: {}
          v:"finalizer.clickhouseinstalla

[2021-12-30 06:31] czhfe commented on #847
[code]

[2021-12-30 06:33] czhfe commented on #847
Distributed query errors are as follows:

![image](https://user-images.githubusercontent.com/19341806/147727443-bc1d20d0-af76-4bf6-bb45-92347ab2f448.png)

[2021-12-30 08:30] Slach commented on #853
yep, spec.restart = RollingUpdate mean `restart each server explicitly during rolling update`, and contsant have not mental name

This is a 'soft restart' button. When set to 'RollingUpdate' operator will restart ClickHouse pods in a graceful way. Remove it after the use in order to avoid unneeded restarts.

[2021-12-30 08:30] #853 closed

[2021-12-30 08:32] Slach commented on #854
Yes, it's a bug and should be fixed on 0.18.0

[2021-12-30 10:32] Slach commented on #847
Maybe issue is related to PTR DNS response

[2021-12-30 13:32] alex-zaitsev commented on #854
@su-houzhen , It is fixed in 0.17.0 already. See https://github.com/Altinity/clickhouse-operator/releases/tag/0.17.0

[2021-12-30 13:32] #854 closed

[2022-01-01 10:19] czhfe commented on #847
Running in a kubernetes environment does have multiple DNS PTR records.

![image](https://user-images.githubusercontent.com/19341806/147848437-4a29286d-3c95-41b9-a91a-04e76b0d3871.png)

![image](https://user-images.githubusercontent.com/19341806/147848419-9b6498f9-6e12-414b-8267-0cec6e2d1fe3.png)

This distributed query error due to multiple DNS PTR records should be handled efficiently if。

[2022-01-02 14:06] Slach commented on #847
![image](https://user-images.githubusercontent.com/105560/147878319-55ff345e-50d2-4420-a37d-dc069f28f91a.png)
you can change

[code]

[2022-01-03 16:18] UnamedRus commented on #771
Looks like this restriction was added with support for yaml configs

https://github.com/ClickHouse/ClickHouse/pull/21858/files#diff-be8543b10bc4c2ccfeb38691976ffe53ebd8b905dc44f4fa1f440c9f24ec372cL461

[2022-01-04 05:54] czhfe commented on #847
Thank you very much, I think I already know the reason and how to solve the problem.

[2022-01-04 07:06] czhfe opened #855 "Restarting or removing the clickhouse-operator will cause Clickhouse to restart"
Restarting or removing the clickhouse-operator will cause Clickhouse to restart

![image](https://user-images.githubusercontent.com/19341806/148021863-01f4a540-717f-4765-80dc-38186900afd6.png)

[2022-01-04 19:08] ragsarang opened #856 "Unable to run distributed DDL"
**Describe the unexpected behaviour**
When I execute a statement with ON CLUSTER, It should be able to run it on all the  shards and replicas. However it is timing out.

**How to reproduce**
* Which ClickHouse server version to use: 21.12.3.32
* Which interface to use, if matters: Clickhouse-operator
* `CREATE TABLE` statements for all tables involved:
[code]
* Queries to run that lead to unexpect

[2022-01-04 19:20] ragsarang commented on #856
I updated clickhouse installation spec with `replicasUseFQDN: "yes"`.
Now the hostname is rendered like below. But the address is not rendered properly and unable to ping the rendered address in hostname section. How can we modify the hostname parameter to render the correct address as per the /etc/hosts ?

[code]

[2022-01-05 02:00] czhfe commented on #855
The logs are as follows:

[code]

[2022-01-05 07:36] Slach commented on #856
could you share
[code]

and
[code]

[2022-01-05 10:06] ragsarang commented on #856
Please find the details below:

[code]

[code]

obfuscated some values due to confidential info

[2022-01-05 10:55] Slach commented on #856
Is not look good, other type: ClusterIP service have ipv6 address

could you share

[code]

and

[code]

and

[code]

[2022-01-05 14:23] ragsarang commented on #856
Yes, our kubernetes cluster is having only ipv6 protocol

[code]

[code]

[code]

[2022-01-05 18:54] ragsarang commented on #856
Additional info: I updated the clickhouse operator yaml parameter chConfigNetworksHostRegexpTemplate

`chConfigNetworksHostRegexpTemplate: "(chi-{chi}-[^.]+\\d+-\\d+|clickhouse\\-{chi})\\.{namespace}\\.svc\\.uhxxxxxx\\.local$"`

Because our cluster has specific clusterDomain "uhxxxxxx.local" But the common-configd configmap is still taking cluster.local in the chop-generated-remote_servers.xml sec

[2022-01-06 07:03] Slach commented on #856
After upgrade `chConfigNetworksHostRegexpTemplate`
you should restrart clickhouse-operator deployment manually
it allow us control changes in `clickhouse-operator`

and re-apply kind: ClickHouse installation manifest (change something in manifest)

[2022-01-06 07:29] ragsarang commented on #856
Yes I tried it. I created new operator installation with this change chConfigNetworksHostRegexpTemplate but the endpoints are still taking cluster.local

I even added this before deploying
default/networks/host_regexp: (chi-repl-1s1r-[^.]+\d+-\d+|clickhouse\-repl-1s1r)\.ch1\.svc\.uhxxxxxx\.local$

[code]

This is the chi file used for the deployment
[code]

[2022-01-06 08:01] Slach commented on #856
change `kind: ClickHouseInstallation`

add
[code]

[2022-01-06 10:09] ragsarang commented on #856
I might be looking for this exact configuration for the cluster domain..
I will try it out and update you

[2022-01-06 20:12] ragsarang commented on #856
I added namespaceDomainPattern in CHI yaml and recreated entire setup from operator to CHI. This parameter has fixed the hostname rendering in system.clusters. However base problem still exists - distributed DDL times out (error log below).  based on the logs, it seems like it is still getting the cluster.local from somewhere

[code]

[code]

[code]

[2022-01-07 09:39] Slach commented on #856
Did you destroy / create zookeeper after re-install your CHI manifest?

[2022-01-07 15:02] filimonov opened #857 "Support for Atomic database when cluster scale up"
- [ ] show_table_uuid_in_table_create_query_if_not_nil should be enabled during schema reading
- [ ] we need to preserve the database engine (all nodes should have the same engine)

[2022-01-07 22:03] sunsingerus commented on #855
It would be helpful to see CHI manifest.

[2022-01-09 19:05] ragsarang commented on #856
I deleted zookeeper pods after reinstallation of chi manifest. However it is still same error

[2022-01-10 09:02] alex-zaitsev commented on #857
Database engine is already respected since 0.17.0 operator release.

[2022-01-10 11:13] czhfe commented on #855
[code]

[2022-01-10 14:39] wangqinghuan opened #858 "http: panic serving 127.0.0.1:56586: runtime error: invalid memory address or nil pointer dereference"
1. Install Clickhouse  cluster successfully, I can connect clickhouse-server using clickhouse-client.

![image](https://user-images.githubusercontent.com/22762150/148783005-940be1c9-b256-4b9a-b270-f7ae4696f284.png)
sudo microk8s kubectl  get services
![image](https://user-images.githubusercontent.com/22762150/148783095-e2b5440f-f112-4ad4-9702-a16c7ad67e56.png)
sudo microk8s kubectl  get pods
![ima

[2022-01-10 15:04] Slach commented on #858
Issue is not related to `clickhouse-operator` itself

let fire it on https://github.com/Altinity/altinity-dashboard

[2022-01-10 15:04] #858 closed

[2022-01-10 20:01] roimor commented on #60
@alex-zaitsev any update on this feature ?

[2022-01-11 10:58] tanenbaum opened #859 "0.17.0 Config excludeFromPropagationAnnotations not excluding annotations for various created resources"
If I set up a CHOP with config.yaml containing:

[code]
and a CHI with metadata like:

[code]
I would expect all created resources to be without the "foo" annotation.

I actually find that the StatefulSets, ConfigMaps, PVCs and host specific Services have the annotation.

Tracing through the code, I think https://github.com/Altinity/clickhouse-operator/blob/dc6cdc6f2f61fc333248bb78a8f8efe792d14ca2

[2022-01-12 03:45] jun0tpyrc commented on #798
seem still an issue for me

[2022-01-12 06:47] Slach commented on #798
@jun0tpyrc issue is not related to clickhouse-operator, please try to update to latest `clickhouse-server` 21.12 version or create separate issue with stack traces on https://github.com/ClickHouse/ClickHouse/issues

[2022-01-13 14:46] pschiffe opened #860 "missing cluster service"
Hello,

when deploying clickhouse, service per pod is created correctly, but I'm not getting any service for whole cluster (with all pods):
[code]

`ClickHouseInstallation` YAML config:
[code]

Am I missing something? Operator version is 0.17

Thank you.

[2022-01-13 17:25] Slach commented on #860
you share part of helm chart
could you share
[code]

also first look
[code]
doesn't look properly for describe clickhouse related services
so, maybe your helm chart just not applied cause you have empty template values?

also for re-define cluster level service
you should use
[code]

[2022-01-13 17:45] #860 closed

[2022-01-18 02:56] su-houzhen opened #862 "support clickhouse-backup by operator"
Do we have plans to support cluster backup and restore functionality with built-in clickhouse-backup?
I have some ideas for this, and if you feel it fits, I will start coding and Pull requests.
Here are my thoughts, look forward to your reply.

1. Add `ClickHouse-Backup` container to the pod and expose some backup configuration. (By adding some CHI configuration or just use pod templates).
2. Add

[2022-01-18 03:39] su-houzhen commented on #855
@czhfe Since you specified spec.restart, this is what caused the problem.

see https://github.com/Altinity/clickhouse-operator/issues/853 for more information.

[2022-01-18 11:06] Slach commented on #862
We already have some examples how to use `clickhouse-backup` together with `clickhouse-operator`
https://github.com/Altinity/clickhouse-backup/blob/master/Examples.md#how-to-use-clickhouse-backup-in-kubernetes

Could you explain what exactly do you mean when say `cluster backup`?

[2022-01-18 11:13] Slach commented on #862
Your approach looks promising!
feel free to make PRs

[2022-01-18 12:42] sunsingerus commented on #855
@czhfe
@su-houzhen
Version 0.18.0 of the operator is about to be released, which has this issue fixed. It is stable enough, so feel free to test.

[2022-01-18 12:43] sunsingerus commented on #853
please check [this reply](https://github.com/Altinity/clickhouse-operator/issues/855#issuecomment-1015374266) as well

[2022-01-18 12:48] sunsingerus commented on #843
Version 0.18.0 of the operator is about to be released, which has this issue fixed. It is stable enough, so feel free to test.

[2022-01-19 02:41] su-houzhen commented on #862
@Slach
What I mean is that the deployment of Job / CronJob is automatically performed by the operator. We only need to specify the address (CHI, namespace) of the cluster we want to backup when deploying the `clickhousebackup` CR.

At the same time, In my opinion, in this example https://github.com/Altinity/clickhouse-backup/blob/master/Examples.md#how-to-use-clickhouse-backup-in-kubernetes, we as

[2022-01-19 09:34] Slach commented on #862
Yes, but first replicas from shard selected only for example
we can select all replicas instead of first one

I think we can define clickhouse-backup CronJob related configurations and schedule rules inside `spec` field for `kind: ClickHouseBackup` custom resource

PR to clickhouse-backup with e2e tests also welcome!

[2022-01-19 09:40] su-houzhen commented on #862
Thanks. I will start coding for this.

[2022-01-21 02:10] gauravphoenix commented on #820
At the very least, please do document with a prominent warning that the installation uses a default hardcoded password and it must be changed.

Ideally, the installation should randomly generate a password and use it in k8s secret and the documentation can just point to how to retrieve the password using `kubectl get secrets...` command

too many compromises on Elasticsearch, Hadoop, Redis have ha

[2022-01-21 02:13] vanducvo opened #863 "Operator auto delete PVC after ClickHouseInstallation"
Operator delete pvc after remove ClickHouseInstallation although PVC RECLAIM POLICY is 'Delete'
[code]

[2022-01-21 06:52] Slach commented on #863
Dou you mean you have "Retain" here?
"Delete" reclaim policy means PVC will delete when delete CHI and its default behavior

look ` kubectl explain chi.spec.templates.volumeClaimTemplates`

use
[code]
if you want avoid deletion of PVC

[2022-01-21 06:52] #863 closed

[2022-01-22 23:24] gauravphoenix opened #864 "is grpc supported?"
I can't seem to find an example and when I look at the source code, I don't see any relevant reference either

[2022-01-23 04:41] vanducvo opened #865 "How to disable public access of 'clickhouse_operator' user"
I try to change network ip range of pod but `clickhouse_operator` but it until access form public network.
How I can allow `clickhouse_operator` user only access in k8s network?

[2022-01-23 06:27] czhfe opened #866 "clickhouse operator health status check"
Does the clickhouse operator have a health status detection interface, I see no configuration in the manifest about this piece

[2022-01-23 12:32] Slach commented on #864
Do you mean gRPC interface for `clickhouse-server`?

It could be added to manifest with something like that:

[code]

[2022-01-24 02:53] qilitang commented on #845
thank you very much

[2022-01-24 03:43] gauravphoenix opened #867 "How to create multi-zonal cluster without duplicating config"
I would like to have an `n` shard cluster with 3 replicas with each replica in three different GCP zones (I'm using GKE).
The config I am using is this-

[code]

Is this the right way to go about it? The multi-zone example listed [here](https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/10-zones-01-simple-01-aws-pods-in-availability-zones.yaml) requires repeating `podTem

[2022-01-24 04:24] gauravphoenix commented on #864
I shall give that a try, last time I tried something like that, I ran into some GKE issues giving me errors like- IP address is already allocated.

[2022-01-24 11:54] #843 closed

[2022-01-26 11:27] alex-zaitsev commented on #855
Fixed in https://github.com/Altinity/clickhouse-operator/releases/tag/0.18.0

[2022-01-26 11:27] #855 closed

[2022-01-31 09:00] tdminh opened #873 "Upgrading clickhouse-operator from 0.17 to 0.18 causes reconcilation"
Hi,

In order to resolve this error "ClickHouse Operator not able to watch ClickHouseOperatorConfiguration Resources", I have just tried to upgrade our clickhouse-operator to the newer version. Everything works perfectly but the upgrade causes reconcilation for some reasons. Does any body have the same problem?

[code]

Thanks,

[2022-01-31 09:14] alex-zaitsev commented on #873
@tdminh , looks like your CHI is corrupted by a custom Helm chart. Or maybe you did not update the CRD. The log assumes your CHI does not match the spec.

[2022-01-31 09:17] alex-zaitsev commented on #867
Yes, you can do this way, or look at podDistribution: https://github.com/Altinity/clickhouse-operator/blob/3c8f26e28702d7366548c18e5bbc78bff1ab762f/docs/chi-examples/99-clickhouseinstallation-max.yaml#L362

[2022-01-31 13:24] minhtd1981 commented on #873
Hi @alex-zaitsev

Yes I created a helm chart to install CHI via Jenkins pipeline. Do you mean that I should not do that? The reason why we want to do is to keep the history of all changes to our K8S.

Thanks,

[2022-02-01 16:37] johnhummelAltinity opened #874 "Docker Build for 0.18.0 lacking"
When I attempted to build `clickhouse-operator 0.18.0` through the docker build instructions I encountered the following:

[code]

I was able to get to work by downloading 0.17.0 and running the same instructions - any other steps that we need?

[2022-02-01 16:57] Slach commented on #874
for Support `ARM64` you should use
`docker buildx` instead of `docker build`
look to
https://github.com/Altinity/clickhouse-operator/blob/master/dev/image_build_universal.sh#L29-L45
for examples

[2022-02-01 16:58] #874 closed

[2022-02-01 17:29] Slach commented on #874
let me explain
now, Dockerfile have multiplatform instructions `--platform`

for support new Dockerfile format
you should use
docker buildx with qemu emulation
https://www.docker.com/blog/faster-multi-platform-builds-dockerfile-cross-compilation-guide/

or some other docker builders which support `buildkit` properly

you need to update your docker (19.10+), and create `docker buildx create --use`

[2022-02-03 06:57] sanjeev3d opened #876 "clickhouse metrics not getting || Wrong Hostname"
I'm not able to get any metric from clickhouse operator it seems
fetching wrong hostname="chi-cliff-cliffcluster-replica0-shard1.click.svc.cluster.local",

It would be like chi-cliff-cliffcluster-replica0-shard1.click.svc.uhn7klr2c.local
Not getting option in operator to change same

Error log
`[sanjeev.gautam@lab.rmn.local@uhn5klbjhmgmt-p ~]$ curl -g -v -6 http://[240b:c0e0:102:553e:b4c4:2:0:44d8

[2022-02-03 06:58] sanjeev3d commented on #876
curl -g -v -6 http://[240b:c0e0:102:553e:b4c4:2:0:4b8c]:8123/ping

is working with pod IP

[2022-02-03 07:39] alex-zaitsev commented on #876
@sanjeev3d , try defining your own rule for domain names:

https://github.com/Altinity/clickhouse-operator/blob/20ad7099b5b00402b53de35a9825e0cdcb66df85/docs/chi-examples/99-clickhouseinstallation-max.yaml#L21

[2022-02-03 07:54] #876 closed

[2022-02-03 13:30] sunsingerus commented on #830
This issue was addressed in 0.18.0 release

[2022-02-03 16:23] sunsingerus commented on #859
This issue was addressed in 0.18.2 version, please check

[2022-02-04 09:17] esselius commented on #837
I would love an official helm chart, currently I'm using [slamdevs chart](https://artifacthub.io/packages/helm/slamdev/altinity-clickhouse-operator), which is fine, but it doesn't seem maintained anymore and is lagging in versions

[2022-02-04 09:21] Slach commented on #837
@esselius look to https://github.com/Altinity/clickhouse-operator/pull/836#issuecomment-998097594
to be maintainable
helm chart should be generated from current https://github.com/Altinity/clickhouse-operator/blob/master/deploy/operator/clickhouse-operator-install-bundle.yaml, if you familiar with https://github.com/mikefarah/yq/ and https://github.com/arttor/helmify
feel free to make pull request

[2022-02-07 09:43] tanenbaum commented on #859
I will be testing this change soon (next day or so). I'll get back to you
asap.

On Thu, 3 Feb 2022 at 16:23, Vladislav Klimenko ***@***.***>
wrote:

[2022-02-07 23:20] kanlee opened #879 "remove clickhouse operator metrics for deleted clickhouse cluster"
Hi,  thank you for making clickhouse operator available.  It's been really helpful.  I am monitoring clickhouse operator metrics with prometheus and grafana.  I noticed that after I deleted an old clickhouse test cluster.  It's still showing up in my clickhouse operator metrics.  Is there a way to remove that from my clickhouse operator metrics?   Thank you

[2022-02-08 17:09] kanlee commented on #879
thank you for the quick response!  I deleted all the pods, services, PVCs associated with my cluster but didn't delete the ClickhouseInstallation resource.   After deleting that, it stopped showing up in my clickhouse-operator-metrics.   Also does this mean that the best way to remove a old cluster is to just delete the ClickhouseInstallation resource and all the associated pods, services, PVCs wi

[2022-02-08 17:20] Slach commented on #879
yes, exactly, `clickhouse-operator` will remove all PVC, Statefulset and related ConfigMaps after delete custom

look to ` kubectl explain chi.spec.templates.volumeClaimTemplates`
to figure out how you can define `reclaimPolicy: Retain` in `volumeClaimTemplates[]`, to avoid lost your data for case when you delete `chi` mistakenly

[2022-02-08 17:20] #879 closed

[2022-02-08 23:20] kanlee opened #880 "load balancer service template question"
Hi, I was able to get the load balancer to work as expected with an external IP using [this example](https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/04-replication-zookeeper-05-simple-PV.yaml).  it doesn't specify service templates and just use some sort of default I am guessing.

but when I specified the default serviceTemplate as below, it doesn't work anymore.  con

[2022-02-09 06:46] qilitang opened #881 "When Delete chi, can not delete pod and sts. use 0.18.0"
I created cluster by 0.18.0
when i delete chi,  chi is deleted , but  pod and sts is not deleted .

[2022-02-09 06:47] alex-zaitsev commented on #881
@qilitang , how do you delete the chi?

[2022-02-09 06:51] qilitang commented on #881
kubectl delete chi <chiname>

[2022-02-09 06:51] qilitang commented on #881
│   Info  CreateStarted        85s    clickhouse-operator  Adding tables on shard/host:1/0 cluster:little-cluster
│   Info  UpdateCompleted      85s    clickhouse-operator  Update Service default/chi-volume-hostpath-little-cluster-1-0
│   Info  UpdateCompleted      85s    clickhouse-operator  Update ConfigMap default/chi-volume-hostpath-common-configd
│   Info  ReconcileCompleted   85s    clickhou

[2022-02-09 07:13] qilitang commented on #881
│ I0209 07:11:34.749931       1 announcer.go:229] clear():default/volume-hostpath/d0603344-d1c0-45bc-992e-2f9999a7b9c4:Non-reconciled objects:
│ I0209 07:11:34.749957       1 announcer.go:231] clear():default/volume-hostpath/d0603344-d1c0-45bc-992e-2f9999a7b9c4:remove items scheduled for deletion
│ I0209 07:11:34.977748       1 announcer.go:231] worker.go:406:dropReplicas():start:default/volume-ho

[2022-02-09 07:28] #881 closed

[2022-02-09 07:30] qilitang commented on #881
It's my  problem . I  modify some code .
Извините .

[2022-02-09 09:03] Slach commented on #880
After define `seriveTemplates[]` items you also should link this template as default `serviceTempate` with spec something like that:

[code]

Moreover, look to
[code]
and watch External-IP column, maybe your `LoadBalancer` provider setup your service external IP to `pending` state

you can specify traffic policy via `serviceTemplates[].spec.externalTrafficPolicy`
look to ` kubectl explain svc.spec

[2022-02-09 12:34] alex-zaitsev commented on #865
@vanducvo , look at https://github.com/Altinity/clickhouse-operator/blob/master/config/users.d/01-clickhouse-user.xml

You can change this, it is deployed a configmap, and restart the operator.

[2022-02-09 14:46] johnnyleitrim opened #882 "Is there any way to configure the security options of connecting to a ZooKeeper cluster?"
I'm trying to connect my ClickHouse cluster to an existing ZK cluster (which has TLS enabled), but the ClickHouse servers always through the following errors:
[code]

The ZK nodes have the following errors:
[code]

I couldn't find a way to configure the ClickHouse cluster to use secure connections when talking to ZK. Here's my existing yaml file:
[code]

[2022-02-13 21:17] alex88 opened #886 "RBAC replication on cluster scaling"
Same as https://github.com/Altinity/clickhouse-operator/issues/562 but for RBAC, when replicating users the operator should replicate RBAC rules too

[2022-02-14 09:58] alex-zaitsev commented on #886
Hi @alex88.

If you are running ClickHouse 21.9 and above you can enable storing access management in ZooKeeper. in this case it will be automatically propagated to the cluster. This requires a configuration file:

[code]

[2022-02-14 13:30] alex-zaitsev commented on #859
Fixed in  https://github.com/Altinity/clickhouse-operator/releases/tag/0.18.2

[2022-02-14 13:30] #859 closed

[2022-02-16 17:59] bopohaa opened #888 "Support for the ability to add schema files via cluster configuration"
We have
[code]
Schema file placed in `/etc/clickhouse-server/config.d/schema.proto`
But would like to have it in the right place - `/etc/clickhouse-server/format_schemas/schema.proto`
To do this, you need to specify something like this in the configuration
[code]

[2022-02-17 02:13] jgrossmac opened #889 "Metrics suddenly stopped"
Ran a curl against the operator on port 8888, then did it a few minutes later and no metrics.

Noticed this in the logs of the metrics-exporter.  Any ideas?  Seems like an old [design decision](https://github.com/Altinity/clickhouse-operator/issues/160) popped it head back up?

I0217 01:40:19.641319       1 exporter.go:92] Removed ClickHouseInstallation (data-team1/clickhouse) from Exporter
I0217

[2022-02-17 05:27] Slach commented on #889
No, described issue is not actual now, currently metrics-exporter will write `chi_clickhouse_metrics_fetch_errors` if fetch fail
could you share `kubectl get chi --all-namespces`?

Which clickhouse-operator version do you use?
could you share
`kubectl get pods --all-namespaces -l app=clickhouse-operator` ?

Looks like you delete your `chi` manifest or delete `CRDs`
`kubectl get crds | grep clickho

[2022-02-17 06:45] Slach commented on #888
You can use initContainer in custom podTemplate
Look to https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/20-protobuf-schema-example.yaml

[2022-02-17 09:22] bopohaa commented on #888
This looks like a temporary solution. I can make my own pull request. Just not sure if that would be in line with the general policy.

[2022-02-23 03:41] czhfe opened #890 "Clickhouse Operator exception causes clickhouse cluster exception"
**Environment**
Clickhouse Operator version: 0.17.0

**Question**
Clickhouse Operator restart (oom, update, etc.) will cause clickhouse exceptions. The error is as follows:
[code]
![image](https://user-images.githubusercontent.com/19341806/155258082-402971bc-0acd-477a-97ba-bb865b7b3f15.png)

[2022-02-23 07:07] Slach commented on #890
Could you share your `kind: ClickHouseInstallation` manifest?
Which layout do you use?

Multiple copies of what do you need?
Do you mean multiple clickhouse-server instances?

All clusters defined in ConfigMap and mounted in file `/etc/clickhouse-server/config.d/chop-generated-remote_servers.xml`
I not sure OOM will root cause this exception.

[2022-02-23 07:19] czhfe commented on #890
**1、ClickHouseInstallation manifest**
[code]

**2、This refers to whether the clickhouse operator can run multiple copies, not to the clickhouse-server**

**3、This problem may occur whenever the clickhouse-operator has restarted**

[2022-02-23 08:05] Slach commented on #890
1 I don't see `skyline` cluster in your spec, only `czhfe` cluster,
[code]

could you share following query result?

[code]

It's possible, but only for the same version of `clickhouse-operator` and each `clickhouse-operator` instance shall watch separate namespaces (if you install clickhouse-operator in `kube-system` it will watch  all namespaces, if you install clickhouse-operator into the other

[2022-02-23 10:15] czhfe commented on #890
For the top up, the above manifest is an example, cluster is written `czhfe`

[code]

I don't know if this clickhouse-operator can run more than one replica (the deployment replicas in kubernetes are greater than 1), and I'm not sure if running more than one replica has any impact.

[2022-02-23 10:29] Slach commented on #890
Shared results are incomplete, you skip original query (only exception related field), so I don't know what exactly happens

[2022-02-24 01:21] czhfe commented on #890
[code]

[code]

[2022-02-24 07:26] Slach commented on #890
ok. now you have only one instance `clickhouse-operator` which watch all namespaces

could you share follwing queries results?
[code]

[2022-02-24 16:00] czhfe commented on #890
Sorry, there are some table structures that are not so easy to share. clickhouse-operator can run multiple copies? Is there any impact

[2022-02-24 16:32] Slach commented on #890
I already asked, you not answer
https://github.com/Altinity/clickhouse-operator/issues/890#issuecomment-1048498883

Multiple copies of what?

[2022-02-24 16:36] czhfe commented on #890
clickhouse-operator, I'm referring to whether the replicas of clickhouse-operator deployment in kubernetes can be set to greater than 1 (i.e. multiple replicas)

[2022-02-24 17:24] Slach commented on #890
yes, clickhouse-operator could be run in different namespaces
no, clickhouse-operator shall have replicas: 1 in his deployment
did you change replicas in clickhouse-operator deployment?

you shared following command
[code]
it mean you have only ONE copy of clickhouse-operator

so, i ask again
you shared manifest with no skyline cluster

please share `kind: ClickHouseInstallation` manifest for skyl

[2022-02-24 22:21] jmpdt opened #891 "Change ClusterRoleBinding to RoleBinding"
The operator currently requires the role "cluster-admin" which grants full permissions to the entire cluster. Could this be changed to simply a RoleBinding to limit permissions to the namespace where the operator is deployed? I'd like to run this on an enterprise K8s platform and cannot a cluster-wide role. Thank you!

[2022-02-24 22:22] jmpdt opened #892 "Helm Chart Installation"
Could a Helm Chart be created for operator installation to complement the bash install script? Thank you!

[2022-02-25 02:32] czhfe commented on #890
Yes, what I want to confirm now is whether clickhouse-opeartor deployments under the same namespace can be multiple copies

[2022-02-25 02:44] czhfe commented on #890
An abnormal restart of the clickhouse-operator here will cause the clickhouse-operator to coordinate after restarting, isn't that the same problem mentioned in this issue (#855)

[2022-02-25 05:39] Slach commented on #892
look to https://github.com/Altinity/clickhouse-operator/pull/836#issuecomment-1029850387

[2022-02-25 05:39] #892 closed

[2022-02-25 05:44] Slach commented on #891
try to following installation method

[code]

[2022-02-25 05:44] #891 closed

[2022-02-28 02:10] chanadian opened #893 "Cycling to New Hosts with Persistent volume setup"
Hi we are doing a migration on our cluster that requires us to move all CH nodes to new hosts. Our cluster is setup as a replicated cluster with persistent volume storage provided by EBS. I am considering two options and would love any recommendations you have.

Operator version: 0.13.5 (we prefer to wait for this migration to complete before upgrading versions, since upgrading in the past has cau

[2022-02-28 11:04] Slach commented on #893
|It depends of your CSI and storageclass
but for AWS gp2, answer is yes, it will move to another node witch exists PV

Operator itself manage only `kind: StatefulSet` resources, which have volumeClaimTemplates, so when your StatefuleSet will schedule his own pods to another node, your CSI will attach PV via PVC to another node too.

simplest way is check
[code]
or
[code]

[2022-02-28 18:59] chanadian commented on #890
I recently ran into the same symptoms after upgrading CH version from 0.13.5 to 0.18.2, but with 1 operator in a namespace. The cluster was removed even though CRD was upgraded. It seems like the root cause was if the install spec is broken (see below), the cluster may be removed. Here's the clickhouse operator logs:
[code]

We had to revert and manually add "" to the CHI install template `clickho

[2022-02-28 19:01] chanadian commented on #893
Thank you for the speedy reply @Slach! So it should work even for 0.13.5 operator version?

[2022-03-01 07:50] Slach commented on #893
Yes, PV will move to new node event 0.13.5
you can try itself on staging and look to progress

[2022-03-01 07:51] #893 closed

[2022-03-01 11:32] Slach commented on #890
@chanadian
Could you provide sequence step of your actions?
how exactly you upgrade CRDs and operator?
How much times between upgrade CRDs and upgrade clickhouse-operator?

[2022-03-01 18:09] chanadian commented on #890
I followed the upgrade instructions listed here: https://github.com/Altinity/clickhouse-operator/blob/master/docs/operator_upgrade.md

Sequence:
1. `kubectl delete deploy -n kube-system clickhouse-operator`
2. Waited for operator to be terminated
3. `kubectl apply -f https://raw.githubusercontent.com/Altinity/clickhouse-operator/0.18.2/deploy/operator/parts/crd.yaml`
4. Deployed new version of ch

[2022-03-03 10:38] Sallery-X opened #896 "Is there program support clickhouse-copier?"

[2022-03-03 12:09] kishorer00 opened #897 "Failed to start the Clickhouse Server service and connect through 9000 port"
Hi Team,

I have deployed Clickhouse Cluster using Altinity Operator and PODs are running fine.

- Deployment file used : https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/99-clickhouseinstallation-max.yaml
- Running Cliskhouse on Microk8s Cluster
- Persistance volume created as per the documentation : https://github.com/Altinity/clickhouse-operator
- PODs are in Runnin

[2022-03-03 18:26] pdsaiteja opened #898 "Attach a existing Persistent Volume to New Deployment"
Hi Team,

I am deploying Clickhouse  on Google Kubernetes Engine cluster. I am using like two shards and two replicas as mentioned below. When I create a clickhouse cluster, the clickhouse operator automatically creates Persistent volumes and persistent volume claims for each shard. Like in this case may be 4 PVC's and 4 PV's. I made all these PV's reclaim policy to "Retain.

I have two main scena

[2022-03-04 08:14] Slach commented on #898
If you explicitly delete whole namespace and even more whole GKE cluster, PV which contains in this namespace (and all PV contained) also will delete.

This behavior is not related to `clickhouse-operator` itself, it related by fundamental Kubernetes design and can't be fixed from `clickhouse-operator`

Current ` reclaimPolicy: Retain` allow you to avoid deleting PV when you delete `chi` resources

[2022-03-04 08:14] #898 closed

[2022-03-04 08:56] Slach commented on #897
https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/99-clickhouseinstallation-max.yaml
maybe too complicated for your experience

it will not work, cause under Kubernetes clickhouse-server running inside container and don't use `systemd`services

ok. let's remove some unnecessary and attempt to investigate why you can't connect

first
let;'s remove following parts from yo

[2022-03-04 08:56] #897 closed

[2022-03-04 10:08] tarops opened #899 "Observed a panic: reflect: reflect.Value.Set using value obtained using unexported field"
Upgrade mergo to v0.3.12

https://github.com/imdario/mergo/issues/174
https://github.com/imdario/mergo/pull/175

[2022-03-04 20:30] pdsaiteja opened #900 "Migration of Entire ClickHouse from Debian system to Google Kubernetes Engine"
Hi Team,

We need to migrate a CH server which contains lots of data in Debian OS system. We need to migrate this server along with complete data to newly created GKE cluster. Could not find any proper documentation for this., please help me with the process for it.

Thanks,
Sai Teja

[2022-03-05 12:49] Slach commented on #900
Call `kubectl apply -f your_kind_ClickHouseInstallation_manifest.yaml` and deploy cluster with empty data
look to
https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/03-persistent-volume-01-default-volume.yaml
as minimal working sample

After it, you can have the following variants:
1. copy data with `INSERT INTO ... SELECT ... FROM remote()`
  * read documentation https:

[2022-03-06 01:23] a-dot opened #901 "clickhouse-keeper example, SERVERS value"
Hi, in your clickhouse-keeper 3 node example, the SERVERS value is set to 1. Shouldn't that be set to 3?

https://github.com/Altinity/clickhouse-operator/blob/master/deploy/clickhouse-keeper/clickhouse-keeper-3-nodes.yaml#L134

Thanks!

[2022-03-06 03:28] Slach commented on #901
Good catch, Yes it shall be 3, thanks a lot for reporting, could you make pull request?

[2022-03-06 19:48] a-dot commented on #901
Done: https://github.com/Altinity/clickhouse-operator/pull/902

I pointed the PR to master because it does not contain any code modification. Thanks!!

[2022-03-07 06:41] #901 closed

[2022-03-07 12:38] kishorer00 commented on #897
Hi @Slach ,

I just removed the above mentioned lines and deployed the Cluster. Still running into the same issue.

Also, i tried deploying sample Cluster. It's working and able to connect through port 9000. Happy !!!.

Need your Suggestions:-
-------------------------
Trying build Strong and Robust **Clickhouse Cluster with Persistent volumes** from the deployment files https://github.com/Altinit

[2022-03-07 12:44] Slach commented on #897
@kishorer00 look to
https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/03-persistent-volume-05-resizeable-volume-1.yaml#L11-L13

you need define properly StorageClass and need to install to your MikroK8s proper CSI which allow use local disk or deply custom storage provisioner

for example
[code]

**local-path-default-storageclass.yaml**
[code]

[2022-03-07 17:08] macobo opened #903 "Automatic schema propagation does not propagate everything"
## Context

This chart mentions one feature:

The behavior of this feature did not match my expectations.

## Current behavior

From @alex-zaitsev via Slack:

This means tables which are not automatically propagated include:
- ReplicatedMergeTree tables _without_ Distributed tables (e.g. tables not using sharding)
- Kafka engine tables
- Materialized views
- Non-replicated tables

## Desired behav

[2022-03-07 17:55] a-dot opened #904 "clickhouse-keeper readiness probe failing"
It seems like the readiness probe for clickhouse-keeper example is failing because zk_peer_state does not exist in clickhouse-keeper mntr. When a node is a follower zk_peer_state does not exist: https://github.com/Altinity/clickhouse-operator/blob/master/deploy/clickhouse-keeper/clickhouse-keeper-3-nodes.yaml#L182

Would it be sufficient to just be "ruok" ?

[2022-03-08 15:14] Slach commented on #904
@a-dot, looks like 3 nodes is completelly broken ;( sorry for that,

I tried to remove any readyness, and add only liveness ruok monitor on zookeeper-exporter container, but looks like something wrong with quorum in clickhouse-keeper ;(
continue to figure out

[2022-03-08 15:42] a-dot commented on #904
It seems to be a little bit hit or miss but I'm having a semblance of reliability if I leave the livenessProbe for zookeeper-exporter untouched and modify the readinessProbe for clickhouse-keeper to:
[code]

That way all 3 nodes come up and I seem to have quorum. At least I think that's what these messages mean?
[code]

[2022-03-09 04:50] HeenaBansal2009 opened #905 "Can I Configure CH server to listen_host equals to POD IP environment variable"
I can update pod template to have a environment variable from POD metadata which contains POD IP.

My question is , can I configure my CH server configuration to listen on POD IP  using that environment variable.

[2022-03-09 05:34] Slach commented on #905
You could attempt to use something like this:

[code]

[2022-03-09 05:34] #905 closed

[2022-03-09 14:04] kishorer00 commented on #897
@Slach ,

After removing the below content, Able to deploy the Clickhouse Cluster using the deployment file : https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/99-clickhouseinstallation-max.yaml

+++++++++++++++++++++++
    hostTemplates:
      - name: host-template-custom-ports
        spec:
          tcpPort: 7000
          httpPort: 7001
          interserverHTTPPort

[2022-03-09 14:14] Slach commented on #897
after change httpPort
you also change `livenessProbe` inside `podTemplates[].spec.containers`

[2022-03-09 14:16] Slach commented on #897
What is your goal? why you do all these changes?

[2022-03-10 03:53] kishorer00 commented on #897
- Planning to build Strong and Robust Clickhouse cluster using Clickhouse Operator with shards and replicas.
- Test the Backup and Restore on the newly deployed Clickhouse cluster.

Regarding livenessProbe :-
----------------------------
- Just gone through the YAML file ... " livenessProbe" not specified under " podTemplates[].spec.containers."
https://github.com/Altinity/clickhouse-operator/blob

[2022-03-10 04:01] kishorer00 commented on #897
@Slach , I have Clickhouse database running on Docker Evenvirnemt (Running in a container )

Is it possible to take the Backups and Restore it on the Clickhose Cluster built by the Clickhouse Operator?

[2022-03-10 11:45] Slach commented on #897
So, just remove all unnecessary changes

use something simple  with PersistentVolumes
https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/03-persistent-volume-05-resizeable-volume-1.yaml

cause by default liveness and readyness probes use 8123 port and add inside golang code clickhouse-operator
https://github.com/Altinity/clickhouse-operator/blob/28ca2237ba6419c9ac1019da2

[2022-03-11 12:39] electrical opened #906 "Question: Moving CH instances from one server to another"
Hi all,

We recently had replaced some servers in our kubernetes cluster and we had to move the Clickhouse instances which was a lot more work than expected.
At request I'm opening this ticket to start a discussion / brainstorm about how this can be resolved more efficiently.

Our current setup is the following:

1 node is our main/primary node which contains all data and uses persisted storage ba

[2022-03-11 14:29] kishorer00 commented on #897
Hi @Slach ,

Thanks a lot for helping ... i am almost there ..

Able to deploy the Cluster using link : https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/03-persistent-volume-05-resizeable-volume-1.yaml

Below two things blocking me,

1.Issue with while Restoring it in to new Clickhouse cluster
2.Issue with Zookeeper

1.Issue with backup and Restore:-  I am missing some

[2022-03-11 15:56] Slach commented on #906
I think the best solution will use CSI with data replication
something like
https://github.com/kvaps/kube-linstor
https://openebs.io/docs/concepts/cstor
or
https://github.com/piraeusdatastore/piraeus-operator

[2022-03-11 16:13] Slach commented on #897
You not define remote_storage in `/etc/clickhouse-backup/config.yml`

look to
https://github.com/AlexAkulov/clickhouse-backup/blob/master/Examples.md#how-to-use-clickhouse-backup-in-kubernetes

you need to define REMOTE_STORAGE environment variable
[code]

you need to install zookeeper separately
look to https://github.com/Altinity/clickhouse-operator/tree/master/deploy/zookeeper/quick-start-persi

[2022-03-11 16:27] electrical commented on #906
Having the data replicated is exactly what we try to avoid.
We already have 3 copies with our main node on the Ceph cluster.
And then we have copies of specific data in each Clickhouse node ( 2 x 2 replicas )
If we would replicate that data again we would have it 5 or 6 times which is not that efficient.

[2022-03-11 20:45] kishorer00 commented on #897
Able to resolve the DNS issue with the zookeeper.

Only we have Backup and Restore .  Please assist me, How to upload my old backup to the newly created Cluster.

[2022-03-14 07:34] erikdubbelboer opened #907 "Symlink makes it impossible to import package"
Go doesn't follow symlink in import parts. Because of [this](https://github.com/Altinity/clickhouse-operator/blob/cecb54ad1ade33a9d748a0108e765abad9b2412e/pkg/client) symlink it is now impossible to import this package:
[code]

I suggest that all import statements get changed to the new path. I don't see any reason to keep the old imports and have this symlink in place.

[2022-03-14 07:58] erikdubbelboer commented on #907
The clickhouse prometheus endpoint doesn't expose enough to make the Altinity alerts config work. What is the harm in making it possible to import code from this package? We have successfully done this for the last year. The only thing that needs to change now is this symlink.

[2022-03-14 08:05] Slach commented on #907
We could change it in future and not have resource to maintain it as library with backwards compatibility

[2022-03-14 08:10] erikdubbelboer commented on #907
You don't have to guarantee backwards compatibility. I don't care if you break backwards compatibility, people can just change their code to match your changes. But being able to import in the past and not being able to import now is annoying.

[2022-03-14 12:54] kishorer00 commented on #897
Hi @Slach ,

Able to deploy the Backup and Restore POD using the link : https://github.com/AlexAkulov/clickhouse-backup/blob/master/Examples.md#how-to-use-clickhouse-backup-in-kubernetes

Also, Checking https://github.com/AlexAkulov/clickhouse-backup/issues/286 for more details on Backup and Restore.

[2022-03-14 13:01] Slach commented on #897
check your  chi zookeeper settings

[code]

Do you run clickhouse-backup create inside docker container or outside?

you can't use restore_remote / create_remote without configure `remote_storage` in /etc/clickhouse-backup/config.yml

[2022-03-14 14:39] Slach commented on #897
cause it not easy move data part between one shard to another

i think best solution for you will not use clickhouse-backup

forward 9000 port in your docker to host system (usually use docker-compose ports section or docker -p for it)

after it,
just create ReplicatedMergeTree and Distributed tables inside clickhouse-operator managed cluster pods, use ON CLUSTER '{cluster}' clause to run distribu

[2022-03-14 19:02] YuriiPaneiko opened #908 "Readiness and Liveness probe always failing"
* Environment: AWS EC2
* Cluster type: RKE
* Cluster version: v1.22.4-rancher1-1

Hi, I’m using the default and simplest config file for ClickHouse in order to deploy it to k8s from here https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/01-simple-layout-01-1shard-1repl.yaml

For some reason, readiness and liveness probes for clickhouse cluster pod always fail, no matter

[2022-03-15 06:22] Slach commented on #908
could you share
`kubectl logs -n <namespace_where_you_installed_chi_resource> pod chi-simple-01-simple-0-0-0 --since=24h`?

[2022-03-15 10:26] YuriiPaneiko commented on #908
@Slach

[code]

[2022-03-15 11:10] YuriiPaneiko commented on #908
@Slach the strangest thing is that service is not accessible only from outside of pod, I can get "Ok" response from `localhost:8123/ping` endpoint inside of clickhouse container

[2022-03-15 11:23] Slach commented on #908
If you got `http://localhost:8123/ping` `Ok` inside pod, it mean you change something related to `listen_host` in clickhouse-server configuration

could you share your manifest?
`kubectl get chi -n <namespace> <chi-name> -o yaml`

[2022-03-15 12:16] kishorer00 commented on #897
Hi @Slach ,

I have more than 1000 + tables under my database. It's difficult to create all the tables with Specific data types.
If you can suggest me the alternative , that would be grate !!!!.

Also, looking for commands/ scripts to Sync the data to Shards and replicas in other Nodes.

Any Link/docs , how the data stores in Clisckuhouse Cluster?

[2022-03-15 12:48] YuriiPaneiko commented on #908
@Slach of course
[code]

[2022-03-15 13:36] Slach commented on #908
according to `status` field look like you chi still  `In Progress` and reconcile cycle is not complete

Could you share results of following command
`kubectl get chi -n clickhouse-db epe-clickhouse -o yaml`?

Moreover, your ` volumeClaimTemplates[0].name` is `default` and not matched with `data-volumeclaim-template`, so maybe will not apply

could you change
`dataVolumeClaimTemplate: data-volumecl

[2022-03-15 14:44] YuriiPaneiko commented on #908
@Slach I have changed `volumeClaimTemplates` name to `data-volumeclaim` in both cases and recreated `chi`

Did you missed something here?
1. > and add

--------------------------------------------
2. > Could you share results of following command

[code]
---------------------------------
3. > kubectl get cm -n clickhouse-db chi-epe-clickhouse-common-configd -o yaml

[code]

------------
4. > let's

[2022-03-15 14:52] Slach commented on #908
this is root reason

[code]

run
`grep -r listen_host /etc/clickhouse-server/`
and share results

[2022-03-15 15:23] Slach commented on #908
how you install clickhouse-operator?
could you share
`kubectl get pod -l app=clickhouse-operator --all-namespaces` ?

[2022-03-15 15:27] YuriiPaneiko commented on #908
@Slach I installed it from here
https://raw.githubusercontent.com/Altinity/clickhouse-operator/master/deploy/operator/clickhouse-operator-install-bundle.yaml

[code]

[code]

[2022-03-15 15:51] YuriiPaneiko commented on #908
@Slach
[code]

[2022-03-15 16:27] Slach commented on #908
looks strange
`01-clickhouse-01-listen.xml`
should mount inside clickhouse container and override `listen_host` from config.xml

could you share
`kubectl get cm -n  -n clickhouse-db chi-epe-clickhouse-common-configd`

[2022-03-16 04:45] treksler commented on #456
this issue looks to be still a problem

clickhouse installation generates the following remote servers file, which does not have
`
                    <password>whateverpassword</password>` even if you set a password for the default user. this results in failed distributed queries

[code]

[2022-03-16 08:57] YuriiPaneiko commented on #908
@Slach Did you have any chance to take a look at this? ↑

[2022-03-16 09:23] Slach commented on #908
Something wrong, root reason `chi-epe-clickhouse-common-configd` not contains `01-clickhouse-01-listen.xml` as expected
and contain only `chop-generated-remote_servers.xml`

could you share results for
`kubectl get chop --all-namespaces`

and share results of command
`cat /etc/clickhouse-operator/config.d/01-clickhouse-01-listen.xml`
inside your `clickhouse-operator` container in `clickhouse-opera

[2022-03-16 09:55] Slach commented on #456
@treksler
Unfortunately, no way to set password with `clickhouse-operator` inside generated `remote_servers`

but you could setup `secret` (look https://clickhouse.com/docs/en/engines/table-engines/special/distributed/#distributed-clusters for details)
[code]

moreover, `default` user connection should restrict by `host_regexp` and `ip`
so, you don't require change `default` user password, you can

[2022-03-16 10:17] cryptomacma opened #909 "How to use shardID and clusterID in volumeClaimTemplates for label selector"
Hi, Suppose I have the shardsCount: 2 and replicasCount: 2, the expected the 4 pods to be as chi-simple-01-simple-[0/1]-[0/1]-0
I've declared 4 PVs with the label as 0-0, 0-1, 1-0, 1-1 accordingly.
I would expect each pod will find the PV directly using the selector under volumeClaimTemplates by referencing https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/99-clickhouse

[2022-03-16 10:22] YuriiPaneiko commented on #908
@Slach Hmm, it looks strange

`error: the server doesn't have a resource type "chop"`

-----

[code]

[2022-03-16 10:35] Slach commented on #908
Let's try to figure out with clickhouse-operator logs
could you share (zip and attach it to github issue)
`kubectl logs -n clickhouse-db deployment clickhouse-operator --sinrce=24h`

[2022-03-16 10:41] Slach commented on #909
templates available only for `genereateName` field

PV + PVC will create by kubernetes controller-manager for each StatefulSet

`clickhouse-operator` doesn't manage PVC and PV directly, just pass selected volumeClaimTemplates to rendered `StatefulSet`

Do you want to create PV manually? Why?

Which CSI / storage provisioner do you use in your kubernetes cluster?

[2022-03-16 10:46] cryptomacma commented on #909
Thanks slach.
im using aws eks + efs as pv.
[code]
so i will just keep the PV policy as `retain`?

[2022-03-16 10:59] YuriiPaneiko commented on #908
@Slach
`kubectl logs -n clickhouse-db deployment/clickhouse-operator clickhouse-operator --since=24h`

[logs.zip](https://github.com/Altinity/clickhouse-operator/files/8261426/logs.zip)

[2022-03-16 11:56] Slach commented on #909
Yes, you should keep volumeClaimTemplate `reclaimPolicy: Retain` to allow avoid lost PV and stored data after `kubectl delete chi` or setup "stop: yes" inside chi.

[2022-03-16 12:00] YuriiPaneiko commented on #908
@Slach I’ve reinstalled clickhouse operator to default (kube-system) namespace and then installed clickhouse cluster to custom (clickhouse-db) namespace and looks like that my problem is solved now. Readiness and liveness probes were passed succesfully.

But I still have problem with load balancer that clickhouse created, it lookin for security group tag, but I don’t know which tag it is looking f

[2022-03-16 12:39] Slach commented on #908
by default clickhouse-operator create one service with type: LoadBalancer to allow round-robin access to whole cluster outside from Kubernetes

if you use RKE, maybe your RKE load balancer implementation not works as expected or not installed
look to https://rancher.com/docs/rancher/v2.6/en/k8s-in-rancher/load-balancers-and-ingress/

moreover
if you don't need allow access to clickhouse cluster ou

[2022-03-16 13:26] cryptomacma commented on #909
thanks very much @Slach , it's working.

[2022-03-17 12:21] kishorer00 commented on #897
Hi @Slach ,

I have tried both ways None of them working ....

1. Run through the command: -
--------------------------

`after it,
run in your Host OS where run docker container clickhouse-client --mn --echo --progress -q "INSERT INTO TABLE FUNCTION remote("localhost:9010", db_name.distributed_table_name) SELECT * FROM db.table"`

Getting connection refused error:-
-------------------------------

[2022-03-18 12:45] R-omk opened #910 "Reconciling hangs when function "updateCHIObjectStatus()" catches an error."
context:

clickhouse-operator. Version:0.18.3 GitSHA:76f6a6a BuiltAt:2022-03-04T16:39:42

minikube:   version: v1.25.2
	--driver=docker
	--kubernetes-version=v1.22.5
	--container-runtime=containerd

tail of logs:
[code]

This happens when the system slows down when starting the project.
In this example, the operator was able to create two out of four statefulSets.

After restarting the operator, i

[2022-03-18 14:20] #908 closed

[2022-03-22 06:30] ankito4s commented on #830
I am also facing same issue. I have mistakenly delete my operator using `kubectl delete -f https://raw.githubusercontent.com/Altinity/clickhouse-operator/master/deploy/operator/clickhouse-operator-install-bundle.yaml`.

[2022-03-23 07:26] kishorer00 commented on #897
@Slach ,  Any comments on the above?

Able to Build the Clickhouse Culter but not able to use ..pls check it once.

[2022-04-02 12:40] navi86 commented on #837
@Slach
helmfify simply put lots of things inside variable, it will be really hard to use this chart :(
for instance, variable "defaultPodTemplateYamlExample"
`defaultPodTemplateYamlExample: |
    apiVersion: "clickhouse.altinity.com/v1"
    kind: "ClickHouseInstallationTemplate"
    metadata:
      name: "default-oneperhost-pod-template"
    spec:
      templates:
        podTemplates:
          -

[2022-04-02 16:54] Slach commented on #837
Yes look to https://github.com/Altinity/clickhouse-operator/tree/0.18.2/deploy/builder/

[2022-04-06 21:33] mcgrawia opened #913 "Blocking Vulnerability for 0.18.3 Images"
Hi Altinity team,

Similar to #766, my organization has flagged [a vulnerability](https://access.redhat.com/errata/RHSA-2022:0896) in the 0.18.3 images that are preventing us from upgrading. I see RedHat has already fixed the vulnerability in the base image. Would it be possible to kick off another build for 0.18.3 to take advantage of the patched base image?

Thanks!

[2022-04-07 07:44] alex-zaitsev commented on #913
Thanks @mcgrawia , we are working on an update

[2022-04-08 11:59] susa0421 opened #914 "How clickhouse-operator we can use?"
Hi,

I would like to understand clickhouse-operator installation or how to integrate this with clickhouse backup , Need guidance to use clickhouse-operator

[2022-04-08 12:00] Slach commented on #914
Did you look
https://github.com/Altinity/clickhouse-backup/blob/master/Examples.md#how-to-use-clickhouse-backup-in-kubernetes ?

[2022-04-08 12:00] #914 closed

[2022-04-08 12:31] yuweni99 opened #915 "FAIL get pod for host clickhouse/0-0 err:pods "chi-clickhouse-cluster-replicated-0-0-0" not found"
<img width="2033" alt="image" src="https://user-images.githubusercontent.com/41253364/162434961-06c8da31-670a-41f7-86aa-ae6d2e24d931.png">

version: 0.18.3
At the time of creation, after investigation found that service was not created resulting in dns resolution

[2022-04-08 12:38] yuweni99 commented on #915
<img width="1976" alt="image" src="https://user-images.githubusercontent.com/41253364/162437144-3c9145e9-b8ea-4c7b-8913-8e652ac99586.png">

[2022-04-08 12:39] yuweni99 commented on #915
**
<img width="2036" alt="image" src="https://user-images.githubusercontent.com/41253364/162437232-470dbe13-76f4-4a87-b997-3324e9ea0d47.png">
**

[2022-04-08 12:56] Slach commented on #915
could you share
[code]

[2022-04-08 13:20] yuweni99 commented on #915
<img width="1165" alt="image" src="https://user-images.githubusercontent.com/41253364/162444051-40a9b235-0d09-45b6-bdc4-a3f95ab5fb95.png">

[2022-04-08 13:21] yuweni99 commented on #915
@Slach
https://github.com/Altinity/clickhouse-operator/issues/915#issuecomment-1092831090

[2022-04-08 13:22] yuweni99 commented on #915
@Slach
<img width="1196" alt="image" src="https://user-images.githubusercontent.com/41253364/162444304-7e177d40-39fa-485f-a208-defd3f116fe3.png">

[2022-04-08 13:24] Slach commented on #915
@yuweni99 please stop share images
could you share as text following command

[code]

[2022-04-08 13:30] yuweni99 commented on #915
@Slach

apiVersion: clickhouse.altinity.com/v1
kind: ClickHouseInstallation
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"clickhouse.altinity.com/v1","kind":"ClickHouseInstallation","metadata":{"annotations":{},"name":"clickhouse-cluster","namespace":"clickhouse"},"spec":{"configuration":{"clusters":[{"layout":{"replicasCount":2,"shardsCount"

[2022-04-08 13:34] yuweni99 commented on #915
@Slach
zhe is my deploy yam file content

apiVersion: "clickhouse.altinity.com/v1"
kind: "ClickHouseInstallation"

metadata:
  name: "clickhouse-cluster"
  namespace: "place-code"
spec:
  defaults:
    templates:
      dataVolumeClaimTemplate: data-volume-template
      logVolumeClaimTemplate: log-volume-template
      podTemplate: clickhouse:21.3

  configuration:
    zookeeper:
      nodes:

[2022-04-08 13:35] yuweni99 commented on #915
@Slach
My server cannot access the Internet

[2022-04-08 14:16] Slach commented on #915
[code]

[2022-04-08 14:23] yuweni99 commented on #915
@Slach
<img width="875" alt="image" src="https://user-images.githubusercontent.com/41253364/162455439-20d8b021-9c36-4ead-bf60-990b40c8ca3b.png">

[2022-04-08 14:41] Slach commented on #915
[code]

[2022-04-09 00:12] yuweni99 commented on #915
@Slach
<img width="888" alt="image" src="https://user-images.githubusercontent.com/41253364/162548468-173ec5cf-33cf-4874-b32b-628db4b3d7ee.png">

[2022-04-09 01:42] Bluesboy commented on #837
Hey guys! I have task to deploy clickhouse cluster with integrated clickhouse-backup and I'm writing chart for this and will like to share it. As I understand, problem is you want chart to be generated from some kind of templates, where can I look at your standard process, maybe I can help?

[2022-04-09 02:10] Slach commented on #837
@Bluesboy look to Yes look to https://github.com/Altinity/clickhouse-operator/tree/0.18.2/deploy/builder/
try to understand how it works to generate bundle.yaml
try to make script which got temaplates and created two separate charts
first install crds + clickhouse-operator
second for install `kind: ClickHouseInstallation` wich requireme first chart

[2022-04-11 04:01] yuweni99 commented on #915
@Slach Is there any way to solve my problem?

[2022-04-11 05:14] Slach commented on #915
`kubectl get stst --all-namespaces`

[2022-04-11 05:29] Slach commented on #915
currently, i don't see root cause for operator behavior

TIMEOUT mean clickhouse-operator reach 600s timeout during try to apply manifest for statefulset managed by operator

shared `kind: ClickhouseInstallation` manifest looks ok

could you share
`kubectl get pvc -l chi=clickhouse-cluster --all-namespaces`

and please stop share images, it is unusable and gets in the way of solving your problem

[2022-04-11 05:35] yuweni99 commented on #915
@Slach

[root@k8s-node5-230 ~]# kubectl get sts --all-namespaces
NAMESPACE                      NAME                                    READY   AGE
clickhouse                     chi-clickhouse-cluster-replicated-0-0   0/1     2d17h
kube-system                    snapshot-controller                     1/1     96d
kubesphere-logging-system      elasticsearch-logging-data              3/3     96d
k

[2022-04-11 05:35] yuweni99 commented on #915
@Slach
[root@k8s-node5-230 ~]# kubectl get pvc -l chi=clickhouse-cluster --all-namespaces
No resources found

[2022-04-11 05:44] yuweni99 commented on #915
@Slach
[root@k8s-node5-230 ~]# kubectl get pvc -l chi=clickhouse-cluster --all-namespaces
No resources found
[root@k8s-node5-230 ~]# kubectl  get pvc -n clickhouse-cluster
No resources found in clickhouse-cluster namespace.
[root@k8s-node5-230 ~]# kubectl  get pvc -n clickhouse
NAME                                                           STATUS   VOLUME                                     CAPACI

[2022-04-11 05:45] yuweni99 commented on #915
@Slach
I see it has created "pvc" but the label is wrong

[2022-04-11 05:48] yuweni99 commented on #915
I compiled your code myself branch v0.18.3 because my machine has access to the internet so I need to change your default busybox image

[2022-04-11 05:49] yuweni99 commented on #915
I compiled your code myself with branch v0.18.3 because my machine cannot have access to the internet so I need to change your default busybox image

[2022-04-11 05:57] yuweni99 commented on #915
[clickhouse-operator.log](https://github.com/Altinity/clickhouse-operator/files/8461392/clickhouse-operator.log)

[2022-04-11 06:43] Slach commented on #915
[code]

[2022-04-11 06:49] yuweni99 commented on #915
@Slach
kubectl describe sts -n clickhouse chi-clickhouse-cluster-replicated-0-0

Name:               chi-clickhouse-cluster-replicated-0-0
Namespace:          clickhouse
CreationTimestamp:  Mon, 11 Apr 2022 13:41:01 +0800
Selector:           clickhouse.altinity.com/app=chop,clickhouse.altinity.com/chi=clickhouse-cluster,clickhouse.altinity.com/cluster=replicated,clickhouse.altinity.com/namespace=c

[2022-04-11 06:50] yuweni99 commented on #915
@Slach
kubectl describe sts -n clickhouse chi-clickhouse-cluster-replicated-0-0
Name:               chi-clickhouse-cluster-replicated-0-0
Namespace:          clickhouse
CreationTimestamp:  Mon, 11 Apr 2022 13:41:01 +0800
Selector:           clickhouse.altinity.com/app=chop,clickhouse.altinity.com/chi=clickhouse-cluster,clickhouse.altinity.com/cluster=replicated,clickhouse.altinity.com/namespace=cl

[2022-04-11 06:51] yuweni99 commented on #915
[clickhouse-pod.log](https://github.com/Altinity/clickhouse-operator/files/8461672/clickhouse-pod.log)

[2022-04-11 07:34] Slach commented on #915
`Temporary DNS error while resolving: chi-clickhouse-cluster-replicated-2-0`
mean your kubernetes services not resolved inside your `clickhouse-pod` container
after it your container restarted cause readiness probe failed

``` Warning  Unhealthy  6m24s (x588 over 66m)  kubelet  Readiness probe failed: Get "http://10.233.98.78:8123/ping": dial tcp 10.233.98.78:8123: connect: connection refused Warn

[2022-04-11 07:54] yuweni99 commented on #915
[root@k8s-node5-230 ~]# kubectl get svc -n clickhouse
NAME                            TYPE           CLUSTER-IP     EXTERNAL-IP   PORT(S)                         AGE
clickhouse-clickhouse-cluster   LoadBalancer   10.233.49.55   <pending>     8123:32471/TCP,9000:30226/TCP   130m
clickhouse-operator-metrics     ClusterIP      10.233.52.7    <none>        8888/TCP                        2d19h

[2022-04-11 07:55] yuweni99 commented on #915
@Slach
[root@k8s-node5-230 ~]# kubectl get svc -n clickhouse
NAME                            TYPE           CLUSTER-IP     EXTERNAL-IP   PORT(S)                         AGE
clickhouse-clickhouse-cluster   LoadBalancer   10.233.49.55   <pending>     8123:32471/TCP,9000:30226/TCP   130m
clickhouse-operator-metrics     ClusterIP      10.233.52.7    <none>        8888/TCP                        2d19h

[2022-04-11 08:08] Slach commented on #915
looks strange
no one services related to replicas and shards created
I expect six services with `ClusterIP` type
[code]

I don't see any serviceTemplate in your CHI manifest

could you share
`kubectl get chit --all-namespaces`?

how exactly do you install clickhouse-operator?

[2022-04-11 08:09] Slach commented on #915
[code]

[2022-04-11 08:31] yuweni99 commented on #915
@Slach
kubectl get chit --all-namespaces
<img width="911" alt="image" src="https://user-images.githubusercontent.com/41253364/162696856-dfbb527a-e89b-4a70-8d4a-ecf1e1abb42e.png">

[2022-04-11 08:32] yuweni99 commented on #915
[clickhouse-operator-install.txt](https://github.com/Altinity/clickhouse-operator/files/8462414/clickhouse-operator-install.txt)
[deploy.txt](https://github.com/Altinity/clickhouse-operator/files/8462415/deploy.txt)

[2022-04-11 12:43] mcgrawia commented on #913
Hey @alex-zaitsev, have there been any updates on this? I was hoping it should just be a quick re-run of the CICD pipeline to rebuild the image.

[2022-04-11 12:52] alex-zaitsev commented on #913
@mcgrawia , check 0.18.4. The fix is going to be released as a new minor version.

[2022-04-11 19:24] mcgrawia commented on #913
Thanks @alex-zaitsev, will look for that when it's released

[2022-04-13 08:44] alex-zaitsev commented on #913
Released in https://github.com/Altinity/clickhouse-operator/releases/tag/0.18.4

[2022-04-13 08:44] #913 closed

[2022-04-13 11:47] mcgrawia commented on #913
Thanks @alex-zaitsev!

[2022-04-14 09:11] alex-zaitsev commented on #890
@chanadian , yes, template CRD needs to be updated as well! Thanks for the catch!

[2022-04-14 09:13] #865 closed

[2022-04-14 09:19] alex-zaitsev commented on #910
@R-omk , thank you for the report. We will take a look in scope of 0.19 release

[2022-04-14 10:51] ilyakuchaev commented on #258
It's even 2022 )))

[2022-04-14 14:44] Slach commented on #904
fixed on https://github.com/Altinity/clickhouse-operator/releases/0.18.4

[2022-04-14 14:44] #904 closed

[2022-04-14 17:18] enumz opened #918 "If the ch pod is configured with ClusterScopeIndex, the operator cannot access the correct port"
When configure different ports for different pods, it seems operator try access clickhouse instance only through *chPort* which in the operator configuration.

For example: chi-examples/15-hostNetwork-02-simple-port-distribution.yaml

and chPort is 13000

E0414 16:56:04.655493 6 connection.go:83] connect():FAILED Ping(http://***:***@***:13000/). Err: dial tcp ****:13000 : connect: connection refus

[2022-04-19 14:07] a-dot opened #919 "Setting clickhouse logging level to something other than debug"
I'm trying to change the logging level for the Clickhouse Server by adding this configuration in my CHI manifest
[code]

But the setting does not make it into the chop-generated-settings.xml file. What am I doing wrong? Thanks!

[2022-04-19 16:34] a-dot commented on #919
Nevermind... I figured it out... it has to be specified as
[code]
Thanks!

[2022-04-19 16:34] #919 closed

[2022-04-20 01:01] roshanths commented on #919
HI @a-dot , yes logger should be specified as ` logger/level`

[code]

You can also control the verbosity of the logger, Please find the complete logger setting below :
[code]

[2022-04-20 01:12] a-dot commented on #919
I was under the impression that those settings were for the clickhouse-operator logger, not the clickhouse server logs. Is that correct?

[2022-04-20 05:42] roshanths commented on #919
Thats right, above on is for ClickHouse Installation and below is for ClickHouse Operator.

[2022-04-21 06:56] alex-zaitsev commented on #258
@ilyakuchaev , Our current approach is to use clickhouse-backup utility that is deployed as a sidecar.

See example here:
https://github.com/Altinity/clickhouse-operator/blob/master/tests/e2e/manifests/chi/test-005-acm.yaml

This is much more portable and easier to manage than volume snapshots.

[2022-04-21 06:56] #258 closed

[2022-04-22 05:28] sky9611 opened #920 "The Operator keep pulling image yandex/clickhouse-server:latest"
I'm using [99-clickhouseinstallation-max.yaml](https://github.com/Altinity/clickhouse-operator/issues?q=custom+image) to build a clickhouse cluster. I'd like to use a specific version of clickhouse-server, for example [clickhouse/clickhouse-server:22.4.1.2305](https://hub.docker.com/layers/clickhouse-server/clickhouse/clickhouse-server/22.4.1.2305/images/sha256-aca11d6db640fdaf2bd9c1d664dac4ffba9e

[2022-04-22 05:38] Slach commented on #920
99-clickhouseinstallation-max.yaml
it's a just a example which try show all available options

could you share your current chi manifest?
`kubectl get chi -n <your namespace> <your-chi-name> -o yaml`?

[2022-04-22 05:47] sky9611 commented on #920
Here is what I get:

[code]

[2022-04-22 05:56] Slach commented on #920
according to your spec
you just defined podTemplate
but not link it to cluster

change
[code]

to
[code]

[2022-04-22 06:09] sky9611 commented on #920
That works, thanks a lot! You save my day ~

[2022-04-22 06:09] #920 closed

[2022-04-24 05:12] zhu733756 opened #921 "[clickhouseinstallation] Cluster Name cannot use "_" joined?"
Hi, guys.   I get an error during the installation.

- Example for clickhouseinstallation CR:

[code]

will  lead to errors:
[code]

But "cestc-cluster" is legal.

See the CRD https://github.com/Altinity/clickhouse-operator/blob/master/deploy/operator/parts/crd.yaml#L574. The regex is not matched.

By the way, the CRD is not generated by the kubebuilder tool or some other same tools ?

Glad to hea

[2022-04-24 06:13] Slach commented on #921
Cluster `name` field uses as part of DNS name in Service resources, DNS not allows `_` character

[2022-04-24 06:13] #921 closed

[2022-04-24 06:26] zhu733756 commented on #921
Actually, the name "cestc_cluster" is legal to create a cluster name in clickhouse.  Anyway, thanks for your reply! @Slach

[2022-04-25 06:45] roshanths commented on #918
Hi @enumz, .spec.chPort considered as deprecated right now. Just to confirm can you see your change in the clickhouse-operator configuration file, because all these parameters are comming from this file:
https://github.com/Altinity/clickhouse-operator/blob/7ec06b79eb70430d546f9a085c92a5339c8f3e4a/config/config.yaml#L85

[2022-04-25 06:52] roshanths commented on #866
ClichHouse Operator does not has an interface, You can try deploy ClickHouse-Operator using Altinity Dashboard interface:
https://altinity.com/blog/introducing-the-altinity-dashboard-a-ui-for-the-clickhouse-operator

[2022-04-25 07:50] jicki opened #922 "install 01-simple-layout-01-1shard-1repl get pods not found"
## clickhouse-operator  0.18.4

[code]

[code]

[code]

[2022-04-25 08:15] Slach commented on #922
could you share `kubectl describe chi simple-01`?

[2022-04-25 08:31] Slach commented on #922
if you install clickhouse-operator into `clickhouse-operator` namespace, then it will watch `CHI` only inside `clickhouse-operator` namespace

install CHI and clickhouse-operator to same namespace
or change /etc/clickhouse-operator/config.yaml `watch -> namespaces` (change configmap `etc-clickhouse-operator-files`)

look details in https://github.com/Altinity/clickhouse-operator/blob/master/config

[2022-04-25 08:31] #922 closed

[2022-04-25 08:51] jicki commented on #260
hi
any news here?

[2022-04-26 05:57] enumz commented on #918
Hi @roshanths , I think the http port should be acquired at runtime, not in the config file.
Because CHI support different shards or different replicas use different ports:
[code]

[code]

[2022-04-27 00:56] RossRothenstine opened #923 "replicaServiceTemplate is selected at a shard, not the replica."
Using operator 0.18.4. My understanding of replicaServiceTemplate is that it will be generated per replica, not per shard. The goal is to have a service that can load balance between replicas specifically, not just the whole CHI.

I've omitted some configuration for posterity.

[code]

This produces the following selector, for example:

[code]

Please advise if I understand replicaServiceTemplate

[2022-04-27 03:38] Slach commented on #923
thanks for reporting
could you confirm
you want create one service which cover all `ro` replicas in all shards  and one service which cove all `wo` replicas in all shards?

You choose custom `generateName` and `shardsCount: 2`
look like operator will generate services for `ro` replica twice with the same name
and overwrite `clickhouse.altinity.com/shard`

moreover look like
`replicaServiceNamePatt

[2022-04-27 03:49] RossRothenstine commented on #923
Correct, one service generated per replica is my desired use case.

That is my expectation of how replicaServiceTemplate should work, given the
name and references in code (looking at the replica service name in
namer.go). In practice it seems like the selector is selecting the last
created shard.

On Tue, Apr 26, 2022, 8:38 PM Eugene Klimov ***@***.***>
wrote:

[2022-04-27 10:16] sunsingerus commented on #923
Due to historical reasons `replicaServiceTemplate` is a template used to create service which points to a particular instance of a running clickhouse (process). The origin hides in dark ages, when one instance of a clickhouse was called, guess, a **replica**. Right now operator does not create any service, which points to "columns of clickhouse instances with the same replication index" (a.k.a **r

[2022-04-27 11:00] sunsingerus commented on #918
Cluster has to have the same port (as specified in operator configuration) on all nodes in order schema management functions to be executed by the operator

[2022-04-27 13:07] RossRothenstine commented on #923
I see, so this the intended behavior. Thanks for the clarification.

For my use case, I will then replace the service objects after
clickhouse-operator is completed with a different selector.

On Wed, Apr 27, 2022, 3:16 AM Vladislav Klimenko ***@***.***>
wrote:

[2022-04-27 16:12] RossRothenstine commented on #923
Given that this could be a potentially backwards-compatibility breaking change, because someone is probably using replicaServiceTemplate as its original meaning, it stems to reason that `hostServiceTemplate` could be more appropriate here.

I have a path forward, and am not blocked by this, I just simply have to change our deployment pattern slightly at the end.

[2022-05-03 07:53] BartekH commented on #820
@alex-zaitsev Just out of curiosity, have you managed to create such article or is it still on your TODO list? :)

[2022-05-06 14:03] ganievs commented on #837
Hi all! Sorry for delay, I've opened a new draft PR #925 with chart generation.
First of all I faced with a problem. I've error when I run `helm lint`.
`[ERROR] templates/: parse error at (clickhouse-operator/templates/etc-clickhouse-operator-usersd-files.yaml:10): ".01C"`
Helm can't parse the values what starting with number, like `.Values.etcClickhouseOperatorUsersdFiles.02ClickhouseDefaultProfi

[2022-05-08 07:45] gauravphoenix opened #926 "dry run?"
Is it possible to view a list of changes CHOP will make before actually making the changes? sort of like dry run. I want to make changes to CRD yaml files and preview the change.

ps- is there a slack workspace for asking such questions?

[2022-05-08 11:00] gauravphoenix opened #927 "E0508 Exec():FAILED ...table already exists"
Is there a way to use CHOP without letting it manage the tables? every now and then I get this error `(REPLICA_IS_ALREADY_EXIST) (version 22.3.2.1)`. The error is harmless but it makes updates really slow as it gets into back-off loop (retries).

chop version- `0.18.2`

[2022-05-09 02:48] rsaphala opened #928 "Old cluster keeps re-appearing"
I initially set up a cluster of 3 shards. Then I deleted the `sts` manually and applied another template (2 shards).

Now the initial cluster (3 shards) keeps re-appearing. How do i stop this from happening?

[2022-05-10 15:53] alex-zaitsev commented on #820
@BartekH , not yet. We are working on some operator features to improve default security, and that would be a good opportunity to describe best practices.

[2022-05-10 21:39] roshanths commented on #926
There is a Slack channel you can ask question:

[2022-05-11 07:54] BartekH commented on #820
Can you provide me any link, so I can track it?

[2022-05-12 17:13] roshanths commented on #928
You can't manage the cluster in that way, just scale it from ClickHouseInstallation custom resource

[2022-05-15 15:21] mhconradt commented on #864
Here's what to do, folks:

1. Set `spec.configuration.settings.grpc_port` to 9100, or whatever pleases you more.

[code]

2. Add an entry to `spec.templates.serviceTemplates` with the port from step 1 and port 9100 (there are some other ports too, like 8123 and 9009 that are normally created, but I'm only using 9000 elsewhere).
[code]
3. Set `spec.configuration.clusters[*].templates.replicaService

[2022-05-15 15:31] Slach commented on #864
@mhconradt thanks a lot for suggesting

[2022-05-15 15:31] #864 closed

[2022-05-16 15:13] Travonka opened #933 "clickhouse metrics are not working."
Heya!
Im testing clickhouse and trying to export metrics to prometheus, but I only get ` chi_clickhouse_metric_fetch_errors gauge`.
My simple config :

 I might have found the reason, but I don't know how to fix it.
 If I do `kubectl logs -n kube-system -l app=clickhouse-operator -c metrics-exporter --since=24h | grep -i fail` I get the following thing:

 Maybe you will help me?

[2022-05-17 04:02] yanjunz97 opened #934 "Is there a place to put initial Schema with DDL"
I plan to create the initial table on a ClickHouse Cluster with Distributed DDL Queries like the following.
[code]
Usually we can put initial db code in `/docker-entrypoint-initdb.d`. But when I use the code above as the initial db code, I will receive the following errors.
[code]
 It seems there is a deadlock that the pod is waiting for other replicas to be ready, while Kubernetes does not schedu

[2022-05-17 04:26] tdminh commented on #873
me too

[2022-05-17 22:25] UnamedRus opened #935 "feature: replicaGroup"
Ability to define groups of replicas in easy way, so they can share specific podTemplate:

For example replicas 1 & 2 should use regular ec2 instances and replicas 3+ should use ephemeral ec2.

Right now, it will require you to define podTemplate for each "overloaded" replica, which will produce a lot of noise in chi.

[2022-05-17 22:31] UnamedRus commented on #906
What if:
All replicas will have their ClickHouse related stuff stored in ceph except: table data, tmp, cache. And data/tmp/cache will be backed by local disk.

So when you will move your replica to another mv, you can just set flag: `sudo -u clickhouse touch /var/lib/clickhouse/flags/force_restore_data`

https://clickhouse.com/docs/en/engines/table-engines/mergetree-family/replication#recovery-aft

[2022-05-19 12:02] minhtd1981 opened #937 "K8S complains failure-domain.beta.kubernetes.io/zone is deprecated since v1.17"
Here is our ClickhouseInstallation:
[code]

and here is how statefulset is created
[code]

Then K8S would return a warning like this
Warning: spec.template.spec.affinity.nodeAffinity.requiredDuringSchedulingIgnoredDuringExecution.nodeSelectorTerms[0].matchExpressions[0].key: [failure-domain.beta.kubernetes.io/zone](http://failure-domain.beta.kubernetes.io/zone) is deprecated since v1.17; use "[top

[2022-05-19 22:23] chancez commented on #668
I also hit this. Needs to be possible to set this to secure in the hostTemplates, or somewhere similar.

[2022-05-20 13:42] filimonov commented on #937
https://github.com/Altinity/clickhouse-operator/blob/28ca2237ba6419c9ac1019da2e462a8c42a7a919/pkg/model/normalizer.go#L577

[2022-05-20 13:59] bkuschel commented on #781
@Slach can we default the container-log on ubi instead of ubi for consistency with the operator?

[2022-05-20 14:31] calderwd commented on #781
Is it possible to disable this container while still allocating separate volume controls for data and logs ?

[2022-05-20 15:05] sunsingerus commented on #937
please check in 0.19.0

[2022-05-20 15:05] #937 closed

[2022-05-20 15:55] Slach commented on #781
@alex-zaitsev @sunsingerus could you share your mention?

[2022-05-21 06:46] alex-zaitsev commented on #937
@minhtd1981 ,

[code]

[2022-05-23 07:54] minhtd1981 commented on #937
@alex-zaitsev you are right :( Not sure why I could not see that field customizable. Thanks a lot

[2022-05-23 14:03] SeriyVol4ishe commented on #856
any updates?

[2022-05-23 21:20] #933 closed

[2022-05-24 03:04] Slach commented on #933
sorry for issue without response, but you found root reason in logs

to avoid it in future don't INSERT data in small parts, use
engine=Buffer table https://clickhouse.com/docs/en/engines/table-engines/special/buffer or
async_insert=1 https://clickhouse.com/docs/en/operations/settings/settings#async-insert

[2022-05-24 03:15] tdminh commented on #937
I could finally fix the warning.
[code]
should be
[code]

[2022-05-24 16:37] #781 closed

[2022-05-24 16:40] alex-zaitsev commented on #934
See https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/02-templates-07-bootstrap-schema.yaml

Don't use on cluster in this case, if you put init script on every node it will be executed automatically. Alternatively, you can do it on a first node only and let operator do the reset.

[2022-05-24 21:48] yanjunz97 commented on #934
Thanks @alex-zaitsev Removing `on cluster` works for the initialization. But I notice the pod will be in CrashLoopBackOff status with the following errors when it is restarted. Do you know how to deal with this?

[code]

[2022-05-25 09:43] R-omk commented on #934
I suppose it would be possible to add the ability for the operator to simply run some Job according to a template whenever it successfully completes the installation or update process.

[2022-05-25 09:55] R-omk commented on #934
At the moment we have done in our helm chart run the  job that waits until access to each pod of the cluster over the network appears and then executes cluster DDL queries on any pod. But this is not entirely correct, in fact, we need to wait for a signal from the cluster object that the reconcile process is completed.

[2022-05-26 10:19] dvirp-dt opened #941 "Operator Helm Chart"
Hey all,

I'm using [charts-clickhouse](https://github.com/PostHog/charts-clickhouse) as part of the Posthog installation.
Currently, all the dependencies are imported as sub chart except clickhouse-operator.
The method Clickhose is implementing now is to generate the manifest from this repo and add it under the Helm chart templates folder.

Is there any plan for an official Helm chart?
I saw @gan

[2022-05-26 10:27] jusene opened #942 "clickhouse-maxmind-geoip is not work"
HI:
  I want add maxmind-geoip dictionaries  to clickhouse,docker running is work wonderfully, Dockerfile is https://github.com/AlexeyKupershtokh/clickhouse-maxmind-geoip.git, but use clickhouse-operator in k8s is not work, `SELECT *
FROM system.dictionaries` is empty, I want to know what I should do

clickhouse-operator: 0.18.4
kubernetes: 1.21.5
docker: 20.10.8

[code]

[2022-05-26 12:03] Slach commented on #942
Is your `devops/clickhouse-server:test` successfully built from https://github.com/AlexeyKupershtokh/clickhouse-maxmind-geoip/blob/master/Dockerfile?

Could you share results of followin commands?
[code]

Moreover, you shall apply schema.sql if you want to use SELECT * FROM

[2022-05-26 12:05] Slach commented on #941
the next step use this script in github actions and test generated helm chart, but we have not dead line for this task

feel free test generator and generated helm chart
after it make pull request

[2022-05-26 16:51] chancez commented on #781
Why is the busy box container needed to exec into the pod at all? You can exec into the clickhouse pod directly and look at the log files. This container seems completely unneeded if that's all it's for.

[2022-05-27 01:35] jusene commented on #942
Slach, Thank you for your attention. `devops/clickhouse-server:test` build from  https://github.com/AlexeyKupershtokh/clickhouse-maxmind-geoip/blob/master/Dockerfile successfully! I push already my image to dockerhub，it is `jusene/clickhouse-server:test`.

[code]

[code]

Run from docker
[code]

thank you for help!

[2022-05-27 03:14] Slach commented on #942
try add into your `kind: ClickHouseInstallation` manifest
[code]

and check inside kubernetes clickhouse-client
[code]

[2022-05-27 03:16] Slach commented on #942
moreover, check logs
[code]

[2022-05-27 03:25] simagui opened #943 "Not found below clickhousev1.ClickhouseV1Interface"
go get
<img width="845" alt="image" src="https://user-images.githubusercontent.com/46394515/170621911-43fad599-c95c-4ab1-b17e-05cec084b376.png">

// ClickhouseV1 retrieves the ClickhouseV1Client
func (c *Clientset) ClickhouseV1() clickhousev1.ClickhouseV1Interface {
	return c.clickhouseV1
}

ClickhouseV1Interface,report errors
clickhousev1 "github.com/altinity/clickhouse-operator/pkg/apis/clickhou

[2022-05-27 03:44] Slach commented on #943
@simagui `clickhouse-operator` never designed for usage as library with `go get`
it is your use case or I understood incorrectly?

Could you tell a bit more about your use case?
What do you want to achieve?

[2022-05-27 05:30] simagui commented on #943
I want to use Clickhouse operator's clientset to install Clickhouse and create instances in the cluster,

[2022-05-27 05:31] simagui commented on #943
<img width="1021" alt="image" src="https://user-images.githubusercontent.com/46394515/170635860-0fad5674-0329-4004-a1b3-f5756cf56811.png">

[2022-05-27 06:19] Slach commented on #943
Why you just don't use a standard `kubernetes` way like YAML manifests?
Why do you need `golang` code for it?

Do you try to use it for your developed operator or you develop some golang utility which helps manage clickhouse installations inside Kubernetes?

We can try to fix clickhouse-operator, but need understood which is your use case exactly

[2022-05-27 10:59] jusene commented on #942
thank you Slach. I know error, but i don't know how to solve it.

error log

[code]

I know clickhouse merge config:
[code]

I find docker run container:
[code]

so i try add <yandex> to geoip_asn_blocks_ipv4_dictionary.xml
[code]

error log change
[code]

[code]

but `select * from system.dictionaries` is empty also

[code]

[2022-05-27 14:44] #942 closed

[2022-05-29 07:22] dvirp-dt commented on #941
Hey @Slach thanks for your reply.

Do you have a reference or any specific instructions to do so?
I've never contributed to an open-source repo.

[2022-05-30 15:19] pieceofchalk commented on #816
What's the progress?
There is a desire to try with the built-in clickhouse-keeper? ))  Any tests/examples of it?

[2022-05-31 17:15] rjshrjndrn opened #945 "[Question] Grafana dashboards"
Hi,
First of thank you for this awesome project. This makes life a lot easier if you're doing Kube native apps.

I was trying out Altinity operator, and in the metrics section, especially, grafana, there is a gap in the documentation.
For example, [Clickhouse Query Dashboard](https://github.com/Altinity/clickhouse-operator/blob/master/grafana-dashboard/ClickHouse_Queries_dashboard.json) uses click

[2022-05-31 18:21] Slach commented on #945
We  tested https://github.com/Altinity/clickhouse-grafana/ with Grafana 8.x, successfully
What exactly not works for you?

Try to install 2.4.3 plugin version, probably 2.4.4 broken, look https://github.com/Altinity/clickhouse-grafana/issues/419 for details

Is https://grafana.com/grafana/plugins/vertamedia-clickhouse-datasource/ not enough?

[2022-06-01 10:16] chhan-coupang opened #946 "Does AWS PVC storage support online expansion without restarting the container?"
AWS can re-scale EBS volumes, without shutting down the container upfront.
So can we provide a way to control allowing for example Storage resources to modify the PVC directly without rebuilding the container?

For reference, vitess-operator handles it like this:
[code]
link: https://github.com/planetscale/vitess-operator/blob/main/docs/api.md#planetscale.com/v2.ExternalVitessClusterUpdateStrategy

[2022-06-01 10:44] Slach commented on #946
Currently, it is hard to implements for us

`clickhouse-operator` itself manage only `Kind: StatefulSet` resources and calculate settings and pvc settings hash and store it in labels inside `statefulset.template.metadata`, it requires re-create `StatefulSet` when we change volumeClaimTemplate

to leverage this downtime, we provide additional logic for remove replica from chi level and cluster leve

[2022-06-01 13:28] rjshrjndrn commented on #945
I failed to clarify the issue, I see.
The issue is not about the plugin, its working wonderfully.
Its' about the dashboards.

The dashboards provided [here](https://github.com/Altinity/clickhouse-operator/blob/master/grafana-dashboard/ClickHouse_Queries_dashboard.json) need clickhouse plugin from altinity, But when I import the dashboard it's asking for Prometheus data source. I hope that's becaus

[2022-06-01 14:48] Slach commented on #945
prometheus datasource need to properly find all clickhouse instances from value_labels

every ClickHouse cluster managed by clickhouse-operator will provide labels via operator metrics-exporter :8888/metrics endpoint

and for every clickhouse cluster you need create separate datasource with `vertamedia-clickhouse-grafana` with name "k8s-${NAMESPACE}-${CHI}"

look to
https://github.com/Altinity/cli

[2022-06-02 08:20] utsavll0 commented on #914
Hi @Slach, actually I had a similar question.

 I had an already existing deployment of clickhouse for posthog (our analytics tool). And we wanted to add backup functionality to it. So I created a new yaml file with the values you have linked and used kubectl apply -f to apply it to the cluster

It created two new pods prefixed with chi-bakup-

If I connect to the container clickhouse-backup insid

[2022-06-02 09:34] chhan-coupang commented on #946
Thanks Reply!
I filed a PR #947 please check.

If this PR is lucky enough to be merged, do I need to add an option like Restart to control whether the feature is enabled or not
e.g:
[code]

[2022-06-02 10:40] Slach commented on #914
@utsavll0 you should not just blind apply new manifests, which provided on https://github.com/Altinity/clickhouse-backup/blob/master/Examples.md#how-to-use-clickhouse-backup-in-kubernetes

instead of it, you should modify your exists manifest to modify potTemplates in posthost `kind: ClickHouseInstallation` to add `clickhouse-backup` container

if you install your clickhouse via posthog helm chart

[2022-06-02 14:32] ayinakuna opened #948 "Operater think EKS EBS PVs are Non-reconciled objects and scheduling for deletion"
Here are the logs.

**Non-reconciled objects:
PV: /pvc-68b34bb0-8355-40ff-85f2-576cbb7f9bae
PV: /pvc-e4330cc5-6182-4075-bb34-0532fd7dc226**

[code]

[2022-06-02 14:38] ayinakuna commented on #948
Operator version: 0.18.5
Zookeeper: 3.8.0

[code]

[2022-06-02 15:42] alex-zaitsev commented on #948
Hi @ayinakuna , that OK. Operator looks for all managed objects that belong to CHI by labels. But it does not create PVs directly, only via PVCs, that's why those are non-reconciled ones. They are not going to be deleted

[2022-06-02 15:42] #948 closed

[2022-06-07 11:01] jaceklubzinski opened #955 "Replica has not been deleted in ZooKeeper when scaling down"
Hi team,

In a clickhouse configuration with 2 shards and replicas, replica drop operations are performed correctly only on the first shard, on the second the data is still visible in the zookeeper
[code]
and table configuration
[code]

All tests were performed on version 0.18.5.

The problem looks similar to https://github.com/Altinity/clickhouse-operator/issues/735, but was only tested for a sin

[2022-06-09 21:27] visla-xugeng opened #956 "Chown Operation not permitted"
Hi All,

I got these errors, after the installation of zookeeper. Of course, the 3 zookeeper pods keep restart.
[code]

[code]

I followed this link to install the zookeeper cluster, https://github.com/Altinity/clickhouse-operator/blob/master/docs/zookeeper_setup.md#advanced-setup
I created a namespace, zookeeper and applied all of these yamls into this namespace. My EKS cluster already has storag

[2022-06-10 00:31] visla-xugeng commented on #956
I also tried this yaml file which is quick start and got same error. What permission do I need here?

https://github.com/Altinity/clickhouse-operator/blob/master/deploy/zookeeper/quick-start-persistent-volume/zookeeper-3-nodes.yaml

[2022-06-10 03:47] Slach commented on #956
looks like your container started not under root and `chown` returns permission fail

Do you have default securityContext restrictions in your EKS?
Did you change volumeTemplateClaim section from

https://github.com/Altinity/clickhouse-operator/blob/master/deploy/zookeeper/quick-start-persistent-volume/zookeeper-3-nodes.yaml#L233-L241 ?

could you share
[code]
from your EKS?

[2022-06-10 03:59] visla-xugeng commented on #956
@Slach Thanks,

"Do you have default securityContext restrictions in your EKS?" I noticed that some third party open sources deployments have this securityContext setting. (Not all of them. )

Please see part of my config of statefulSet:

[code]

[code]

[2022-06-10 04:06] Slach commented on #956
look like you faced with https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/300
just try to remove `chown` from manifest
if zookeeper failed, then EFS is not applicable for this use case

we use standart EBS gp3 storage classes for our altinity.cloud

[2022-06-10 04:06] #956 closed

[2022-06-10 20:21] subkanthi opened #957 "Support custom UDF"
Tried to mount two files to support custom UDF's in clickhouse-operator
https://chowdera.com/2022/03/202203311616432455.html, see below the yaml file.

Couple of issues,
1) The UDF code(Python file) looks like has to be mounted in` /var/lib/clickhouse/user_scripts`, can't find an example to do that.
2) For some reason the `user_defined_executable_functions_config` is not merged into config.xml.
3)

[2022-06-11 03:08] knoguchi commented on #957
1. The XML files for functions are not a part of server config.xml.   (same thing as XMLs for dictionaries).
2. By default user_defined_executable_functions_config is `/etc/clickhouse-server/*_functoin.xml`.  However clickhouse operator tries to merge any XML into server config.xml.   I think chop can have some improvement but for now I set `/configs`.  Maybe I can store other non-server config xm

[2022-06-14 10:15] naydoo opened #958 "PV reconciliation error causes PV to be outOfSync (requires pruning) on argocd"
Hi operator team,

I just came across this issue with the CHOP where if we have a PV reconciliation error, the CHOP deletes the PV.

How to reproduce:

- Clickhouse operator 0.18.5
- Clickhouse Cluster image: clickhouse/clickhouse-server:22.3
- Kubernete Version 1.23.3

below is the error I seen in the logs.

`I0614 09:30:02.235030       1 worker.go:364] clear():clickhouse/clickhouse/4d093249-f976

[2022-06-15 12:32] kant777 opened #959 "How to deploy clickhouse along with clickhouse-keeper using the clickhouse operator?"
Currently the docs still point to Zookeeper and also says Zookeeper is required while Clickhouse 22.3 says Clickhouse-Keeper is production ready! I do see some k8's files for Clickhouse-Keeper but that is sort of implying to run Clickhouse-Keeper cluster separately just like ZK.

I am looking to run clickhouse cluster along with clickhouse keeper embedded into some of the Clickhouse nodes in the c

[2022-06-16 10:57] lambdanis opened #960 "Option to rotate passwords passed from Kubernetes Secrets"
I have a CHI with user passwords passed via `*/k8s_secret_password` settings. When I change passwords in the k8s secrets, clickhouse-operator doesn't change them in the database until some change in the CHI spec triggers reconciliation. It would be nice to have an option to force reconciliation, to be able to rotate passwords without modifying the CHI definition itself.

I didn't find any mention

[2022-06-17 12:40] Slach commented on #927
do you use {shard} {cluster} {database} {table} and {replica} macros in your `ENGINE=ReplicatedMergeTree`?

[2022-06-17 19:06] xgengsjc2021 commented on #822
@Slach Hi I have an internal LoadBalancer setting here here and a test user account,
[code]
[code]

I put the dns name mentioned above in the Host section in DBeaver, but still got the connection timeout. Is this right? (Btw, I did port-forward first, then tried to connect the clickhouse through DBeaver. )

[code]

![Screenshot2022_06_17_120311](https://user-images.githubusercontent.com/79334945/1

[2022-06-17 19:08] xgengsjc2021 commented on #822
![Screenshot2022_06_17_120233](https://user-images.githubusercontent.com/79334945/174387495-471bde90-bdb2-49b5-93b7-c01030ac3970.jpg)

[2022-06-19 00:29] gauravphoenix commented on #927
yes! we do.

[2022-06-19 15:49] Slach commented on #927
could you look to `clickhouse-pod` container log in your clickhouse pod and share full error?
I mean ReplicatedMergeTree `path` patemeter should be unique for different shards and the same for the same shard

Also, could you upgrade clickhouse-operator to 0.18.5?

[2022-06-19 15:57] Slach commented on #822
![image](https://user-images.githubusercontent.com/105560/174489777-59b50bc3-420d-4efc-990c-4ad745fd8e7e.png)

[2022-06-19 15:59] Slach commented on #822
it should allow connect to localhost:8123

[2022-06-19 20:20] xgengsjc2021 commented on #822
@Slach for the DNS name, I just remove part of if on purpose. I did not show the whole DNS name here.  For now, I run port-forward and then run DBeaver with the right DNS name but still timeout. What else I need to do when I try to connect ClickHouse database through DBeaver?

[2022-06-20 06:37] Slach commented on #822
did you try to connect to localhost:8123 after port forward?

[2022-06-20 06:39] xgengsjc2021 commented on #822
@Slach yes, I tried but it did not open a web page.

[2022-06-20 06:43] Slach commented on #822
do you mean
`curl -vvv http://localhost:8123`
show nothing?
`kubectl port-forward` is still running in separate terminal window?

[2022-06-20 06:45] xgengsjc2021 commented on #822
@Slach I want to specify that my LoadBalancer is the internal one not the external LoadBalancer.
After
[code]

I opened a web page and
[code]

![Screenshot2022_06_19_234537](https://user-images.githubusercontent.com/79334945/174541217-40dcc6fd-d5fc-46d2-a95d-94146e553d92.jpg)

[2022-06-20 06:49] xgengsjc2021 commented on #822
my service template
[code]

[2022-06-20 06:51] Slach commented on #822
why you try https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/99-clickhouseinstallation-max.yaml ? what is the root reason?

why you just not use simple CHI installation and add necessary parts if you really need it

try use something like https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/01-simple-layout-02-1shard-2repl.yaml

[2022-06-20 06:52] Slach commented on #822
which cloud provider do you use?

[2022-06-20 06:55] xgengsjc2021 commented on #822
@Slach I am using AWS EKS to host clickhouse.
Although I use https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/99-clickhouseinstallation-max.yaml, but I did not use all of the settings in this file. Mainly, we want to assign the clickhouse pod to each node in different available zone.

[2022-06-20 07:07] xgengsjc2021 commented on #822
@Slach my customized config
[code]

[2022-06-20 07:54] Slach commented on #822
doesn't look as valid YAML

just remove most of them if you really don't need it
try to use
https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/01-simple-layout-02-1shard-2repl.yaml
and add only podTemplate for cluster spec
without changing any serviceTemplates

could you share
[code]

[2022-06-20 13:56] eugenberend opened #961 "ClickhouseInstallation does not work: pod <pod id> is in the cache, so can't be assumed"
Hi everyone
I set up clickhouse operator and changed only watchNamespaces field in config.
So the first chi using the fresh installed operator crashes with event:

[code]

nothing more happens, stateful set deletes by operator itself.

[2022-06-20 14:29] #961 closed

[2022-06-20 23:48] xgengsjc2021 commented on #822
@Slach I figured the issue here. My previous installation created an internal LB, the sample-02 created an external LB. I mentioned this at the beginning. What if I just want to use this internal LB for security purpose, how should I set up here?

When I use this external LB, it works with the below settings:
[code]
Why do we have to use clickhouse operator username as the username instead of defa

[2022-06-21 02:21] Slach commented on #822
`clickhouse-operator` deployment in `kube-system` will watch all namespaces by default and will conflict with clickhouse-operator in `posthog` which watch only posthog namespace

you have two variants
1. remove deployment from postghog
2. remove deployment from kube-system + install deployment into `clickhouse` namespace

[2022-06-21 02:23] Slach commented on #822
to use internal DNS name for load balanceer, you should need to be connected inside your VPC via VPN
https://aws.amazon.com/premiumsupport/knowledge-center/connect-vpc/

[2022-06-21 02:23] #822 closed

[2022-06-21 21:07] xgengsjc2021 opened #962 "upgrade from 22.2 to 22.3.7.28 Application: DB::Exception:"
Hi All,

Failed to upgrade clickhouse to 22.3 from 22.2, when I have databases, tables and data created inside of the clickhouse. However, if I created a clean and new clickhouse in 22.2 without inserting any databases, tables and data, then I can easily upgrade to 22.3 without any problem. The failed pod keeps restarting.

Below is the log I got from the failed pod:

[code]

[2022-06-21 21:12] xgengsjc2021 commented on #962
Some backgroup may be helpful for troubleshooting:
1: I installed my clickhouse on AWS EKS with Zookeeper cluster.
2: The ch has 3 shards with 2 replicas of each shard. Each replica has PV attached. Two tables were created inside. One engine is ReplicatedMergeTree and other one is Distributed. The inserted data got distributed into 3 shards. So, the ch works as expected.

[2022-06-22 02:01] xgengsjc2021 commented on #962
@Slach I only change the image version from 22.2 to 22.3.7.28 in the chi maninfest file when I plan to upgrade the clickhouse cluster.

2: I created visits_local table is using the command below. So, I am pretty sure the table, visits_local is in all of 6 replicas.
[code]
I also created another table, visits.
[code]

Insert data by using
[code]

[2022-06-22 03:28] Slach commented on #962
do you have 6 replicas in 1 shard? or 2 shard 3 replicas?

is only one replica in crashloopback state? or all replicas? it have the same error on startup?

[2022-06-22 03:55] Slach commented on #962
your issue https://github.com/ClickHouse/ClickHouse/issues/38300
look like you have same behavior which described
https://github.com/ClickHouse/ClickHouse/issues/34914#issuecomment-1054152804

should be fixed in 22.3
https://github.com/ClickHouse/ClickHouse/commit/d45b6ae03c8c183d31d31ff5289d34db449833cc

but maybe you just have

[code]
doesn't contains metadata fields in /var/lib/clickhouse

try

[2022-06-22 04:05] xgengsjc2021 commented on #962
I have 3 shards, each shard has 2 replicas

[2022-06-22 05:13] xgengsjc2021 commented on #962
Hi @Slach

Before I applied the change(you mentioned) to the ch cluster, my ch cluster got stuck in upgrading, since I did an upgrade test a few hours ago. The first pod, chi-ch-install-ch-cluster-shard0-0-0 keeps restarting all the time. The whole upgrade process got stuck, cannot move forward further.

I just applied a change as you mentioned
[code]
Then the first pod(replica) stopped the restar

[2022-06-22 05:17] xgengsjc2021 commented on #962
@Slach For now, all of replicas are running in` ClickHouse client version 22.3.7.28 (official build)` but cannot connect to them.
1: How does a new change to the manifest resume the stuck upgrade process?
2: After 45 mins process, all replicas are in the new version, but connection refused.
So confused with this upgrade process.

[2022-06-22 05:42] xgengsjc2021 commented on #962
[code]

[2022-06-22 07:55] Slach commented on #962
in `troubleshoot: yes` mode, if clickhouse-server fail, then run bash
and connection refused is expected
did you change metadata file as I suggested?

after changing  /var/lib/clickhouse/metadata/devdb/visits.sql

remove troubleshoot: yes from spec

check exists /var/lib/clickhouse/metadata/devdb/events_local.sql ?

[2022-06-23 01:58] xgengsjc2021 commented on #962
@Slach Thanks for your help. Based on another ticket, I think the issue of failure upgrade is related to the distributed table. Once I drop the distributed table and keep other table, the upgrade of ch can be finished smoothly. No data loss. (Nothing changed on my configuration) I am waiting for the confirmation from CH team.

BTW, another question is here. As you know that ClickHouse has been use

[2022-06-23 02:37] Slach commented on #962
I would to recommend  use different users and different profiles \ quotas for different application to allow manage query complexity if your application will allocate too many resources and will struggle for CPU / RAM / DISK resources in the same clickhouse cluster

[2022-06-23 02:37] #962 closed

[2022-06-23 02:49] xgengsjc2021 commented on #962
@Slach How about building an individual CH cluster for each application? Is this normal case? Or sharing one CH cluster with multiple apps? Based on your experience, which solution would be preferred? Thanks.

[2022-06-23 15:34] spoofedpacket commented on #816
Same. I'm currently evaluating clickhouse keeper, but as a seperate deployment to clickhouse itself using the example:
https://github.com/Altinity/clickhouse-operator/blob/master/deploy/clickhouse-keeper/clickhouse-keeper-3-nodes.yaml
It works but isn't exactly production ready for my use case.

It would be amazing to have it rolled into the operator. Happy to help with testing.

[2022-06-24 18:35] xgengsjc2021 opened #963 "clickhouse_driver.errors.NetworkError"
Hi,

I had a sentry which used an internal CH. Since I had built a standalone CH by the operator, I tried to make sentry to connect to this new independent CH but failed.

My CH has 3 shards with 2 replicas respectively. An internal LB also was created when I built the CH. I set up sentry to connect this external CH, got the error below:

service of CH
[code]

my sentry setting of CH
[code]

[code

[2022-06-25 02:27] Slach commented on #963
Do you install sentry inside the same kubernetes cluster or  sentry setup outside kubernetes?

[2022-06-25 02:29] Slach commented on #963
try  to use `singleNode: true`

but you shall replace manually sentry tables as `Engine=Distributed` with underlying Engine=ReplicatedMergeTree
look https://clickhouse.com/docs/en/engines/table-engines/special/distributed/ for details

[2022-06-25 16:57] #963 closed

[2022-06-25 16:58] #927 closed

[2022-06-28 15:01] Nefelim4ag opened #964 "QA: Does it possible to use several PVC in JBOD?"
Hi, amazon have limits on performance for EBS, and it is just economically and performance profitable to have 4 volumes per node instead of big one

Like 4 gp3 128GB volumes with default 125 MB/s & 3000 iops = 512 GB 600 MB/s and 3000 iops
vs 1 gp3 512GB volumes with increased limits to 500 MB/s & 12000 iops

<img width="588" alt="Screenshot 2022-06-28 at 17 00 08" src="https://user-images.githubu

[2022-06-28 15:42] Slach commented on #964
yes it possible
you could use something like this
[code]

But this approach has tradeoff.
`clickhouse-server` splits data by parts (file level) not block level, and use `round_robin` (`least_used` in 22.6+) for JBOD balancing.

So, when new part creates after insert or after background merge / mutation then parts / data doesn't shuffle / spread between disks smoothly

you would get the "hot" data

[2022-06-28 15:42] #964 closed

[2022-06-29 06:47] alexvanolst commented on #959
It's a bit heavy on configuration but it is possible. I'm hoping the operator will get support for this pretty soon but can be manually added.

Here's what I did to get it working:
- In the `replicaServiceTemplate` you'll need to expose ports for zookeeper (2181) as well as raft (9444)
- In the `serviceTemplate` you'll just need to also expose 2181
- Set your zookeper host to the LoadBalancer/Clus

[2022-06-29 16:11] vtomasr5 opened #965 "Controller crashes when chi resources already exists and the CRD has been deleted"
The clickhouse-operator installed via Helm chart (https://github.com/slamdev/helm-charts/tree/master/charts/altinity-clickhouse-operator) crashes with the following output:
[code]

This happens when the CRD does not exists anymore but there are `chi` resources still present. The controller doesn't handle that case properly and therefore the crash above.

Thanks

[2022-07-01 02:03] xgengsjc2021 opened #966 "how to setup dns for ch to connect pods/sevices in different namespace"
Hi,
My CH (in **clickhouse** namespace) could not reach out kafka pod/service (in **posthog** namespace). I tried to configure namespaceDomainPattern in CH, did not work.

[code]

The error I got from my CH pod:
[code]

[2022-07-01 02:46] xgengsjc2021 commented on #966
from the ch pod, I only see this one, but I want to add something like this one "posthog.svc.cluster.local". Not figure out how to add it.

[code]

[2022-07-01 02:56] Slach commented on #966
if you need to connect to pods and services
you don't need to change nameserver or change `namespaceDomainPattern`
use standartd kubernetes  name conversion
service_name.namespace.svc.cluster.local (or just service_name.namespace)
or
pod_name.service_name.namespace.svc.cluster.local (or pod_name.service_name.namespace)

for posthog namespace
just use posthog-posthog-kafka.posthog:9090 if you have

[2022-07-01 02:56] #966 closed

[2022-07-01 03:09] xgengsjc2021 commented on #966
@Slach From the log, you can see that the CH pod could not resolve the posthog service, since the posthog is in different namespace.
In my Posthog namespace, I do have posthog-posthog-kafka.

[code]
The question is that the CH pod does not know this service is in different namespace. When it tries to talk to this service, it will think this **posthog-posthog-kafka** is in the same namespace as CH

[2022-07-01 04:43] xgengsjc2021 commented on #966
@Slach can you take a look this again? The question is that the CH pod does not know that the **posthog-posthog-kafka**  is in different namespace. From the error message, you can see that, the CH talk to **posthog-posthog-kafka**   directly. Did not add posthog namespace. This is the reason I am asking where to add this dns setting, I did not find in the installation file.

[code]

[2022-07-04 07:16] guidoiaquinti opened #967 "Enhanced query routing"
ClickHouse is lacking the option to address a single node (or group of nodes) by providing query comments/annotations like other distributed systems do. Example:

* `USE @shard1; INSERT …` query to a random replica in a shard
* `USE @hostABC; SELECT …` query a specific replica

The only function (I am aware of) implementing something similar but still pretty limited in scope is`clusterAllReplicas`

[2022-07-05 11:02] rsaphala opened #968 "merge tree settings"
How do i override merge tree settings? I want to include this

[code]

into the configuration definition

[2022-07-05 11:26] Slach commented on #968
[code]

[2022-07-05 14:21] R-omk opened #969 "Automatic recovery after complete data loss"
The algorithm for manual recovery has already been described here
https://kb.altinity.com/altinity-kb-setup-and-maintenance/recovery-after-complete-data-loss/

**Expected behavior**

- delete pvc  and delete pod/statfulset    (or any other or any other way to delete all data from volume )
- after new pod starts, the recovery process will immediately begin

[2022-07-05 15:17] R-omk opened #970 "Recretae statfulset when it accidentally was deleted"
Now the operator does not take any action to restore the resource.

As a workaround, I have to make some changes to related `clickhouseinstallations`

[2022-07-05 15:19] Slach commented on #970
you can change
`spec.taskID` to trigger reconcile cycle manually

[2022-07-05 15:24] R-omk commented on #969
At the moment I see that the operator creates databases (atomic engine too) and even distributed tables, but not ReplicatedMergeTree tables:

[code]

Also the operator does not restore the statefulset
https://github.com/Altinity/clickhouse-operator/issues/970

[2022-07-05 16:19] R-omk commented on #969
related https://github.com/Altinity/clickhouse-operator/issues/857

[2022-07-06 04:00] xgengsjc2021 opened #971 "prometheus setup to monitor clickhouse"
Hi, I have prometheus installed. So follow this link, https://github.com/Altinity/clickhouse-operator/blob/eb3fc4e28514d0d6ea25a40698205b02949bcf9d/docs/prometheus_setup.md#prometheus-already-available.
But still not sure how you configure on prometheus to collect CH metrics.

I tried to configure the additionalScrapeConfigs in prometheus, but did not work as expected(I did not see these metrics o

[2022-07-06 06:30] Slach commented on #971
look
[code]
clickhouse-operator installation create service with name `clickhouse-operator-metrics`

so, you could use
[code]

[2022-07-06 06:30] #971 closed

[2022-07-06 07:54] rsaphala opened #972 "How to set flags?"
I need to run this command:
[code]
However my cluster wouldn't start and keeps crashing due to corrupted parts

[code]

Any ideas on how to apply the flag from the cluster configuration?

[2022-07-06 08:47] Slach commented on #972
Are all your replicas in shard stay in state `CrashLoopBack` or only one?

[2022-07-06 09:44] rsaphala commented on #972
Only one is running

[2022-07-06 10:47] Slach commented on #972
Is it production cluster or just test\staging?

Do you use  `volumeClaimTemplates:` in your `chi`?
I try to figure out with root reason why your data parts broke.

[2022-07-06 15:07] rsaphala commented on #972
this is my yaml setting. this is production cluster

[code]

[2022-07-08 08:28] chelomontilla opened #973 "Operator access secret issue"
Hi,
I've been testing the operator and I've found maybe an issue with the access secret configuration. The version I'm using is the 0.18.5.
I'm using the deploy/operator/clickhouse-operator-install-bundle.yaml and I have a custom configuration:
[code]

When I create the installation and try to access using the username/password configured on access section with the secret, I get an authentication

[2022-07-08 14:04] alex-zaitsev commented on #973
@chelomontilla, could you show your CHI as well?

[2022-07-11 06:55] chelomontilla commented on #973
Sure.
[code]

[2022-07-12 10:27] alex-zaitsev commented on #899
Fixed in 0.19.0

[2022-07-12 10:27] #899 closed

[2022-07-12 20:31] mlucic commented on #969
Seeing the same issue on my end. Database is created on the new instance but the table (ReplicatedMergeTree) is not, and the logs contain the same DB::Exception REPLICA_IS_ALREADY_EXIST

[2022-07-13 19:09] mlucic commented on #969
1. I created ClickHouseInstallation with 1 shard, 3 replicas, pointing to 3 ClickHouse Keeper nodes
2. I created the database and table as follows:

 `
 CREATE DATABASE testdb ON CLUSTER '{cluster}'

 CREATE TABLE IF NOT EXISTS testdb.testtable ON CLUSTER '{cluster}'
(
    id UUID,
    timestamp DateTime
) ENGINE = ReplicatedMergeTree('/clickhouse/tables/{shard}/{database}/opalogs', '{replica}')
P

[2022-07-14 06:36] Slach commented on #969
@mlucic which clickhouse-operator version do you use?

[2022-07-14 13:12] empeekdev opened #974 "Use existing AWS Load Balancer"
Is there a way to dynamically use existing network load balancer on AWS side? Or it can be only done manually, by using NodePorts service and target group pointed to that ports?

[2022-07-14 14:04] mlucic commented on #969
0.18.5

[2022-07-14 15:56] cortopy commented on #820
I'm also not keep on having a LoadBalancer service created by default. How can it be removed from templates? Even after setting `serviceTemplates` in `ClickHouseInstallation` the LoadBalancer service is still created

[2022-07-14 17:22] Slach commented on #820
@cortopy after setup `chi.spec.templates.serviceTemplates[]` you also need reference to this template `name` in `chi.spec.defaults.templates.serviceTemplate`

[2022-07-15 02:39] kingboung opened #975 "Support for ttl, row policies and etc propagation when cluster scale up"
### Context
When cluster scale up, operator only helps to create database and tables.

### Desired behavior
Also help propagate ttl, row policies and others necessarry. If not, I need to do it manually however I always forget it

[2022-07-15 07:16] alex-zaitsev commented on #857
'show_table_uuid_in_table_create_query_if_not_nil' is implemented in 0.19.0

[2022-07-15 12:42] R-omk commented on #969
operator version 0.19.0

[2022-07-15 17:05] cortopy commented on #820
that worked! thank you so much @Slach

[2022-07-15 17:22] mlucic commented on #969
I just upgraded to 0.19.0, can confirm that this issue is still present

[2022-07-15 21:31] UnamedRus commented on #975
For row policies, i think it's better to look into user storage in ZooKeeper.

https://kb.altinity.com/altinity-kb-integrations/altinity-cloud/altinity-cloud-access-management/

[code]

[2022-07-18 02:12] xzy256 opened #978 "Take effect without restart by updating some clickhouse configuration"
Clickhouse support some configuration take effect without restart, such as `keep_alive_timeout` 、`max_thread_pool_size` 、`max_connections` etc.
But when i use operator,   no matter config
[code]
or
[code]
or
[code]
When apply yaml by `kubectl`, the pods restart after some seconds. Does operator support the function or not ?

[2022-07-18 09:05] alex-zaitsev commented on #978
We plan to add a special syntax to specify if clickhouse needs to be restarted for a particular setting change or not.

[2022-07-18 11:23] xzy256 commented on #978
very nice.

[2022-07-19 06:13] xgengsjc2021 opened #979 "zookeeper Liveness probe failed, Readiness probe failed, Back-off restarting failed container"
Hi,

After deployment for a few days, I realized that one of zookeeper pods is in crash loop. I noticed that it has Liveness probe failed and Readiness probe failed.

Got some error from pods:
[code]

[code]

[2022-07-19 06:15] xgengsjc2021 commented on #979
btw, my zookeeper has limited cpu/memory. Not sure if this is related to the resource.
[code]
2: when I installed the zookeeper, I am using aws efs as storage class. And removed
[code]
Since, https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/300

[2022-07-20 09:27] kingboung commented on #975
The operator's account has already set access_management=1

[2022-07-21 14:17] aleclerc-sonrai opened #980 "Istio Support"
Hi there, I'm wondering if anyone has gotten a clickhouse installation from the clickhouse-operator working with Istio?

Currently I'm having trouble with the readiness/liveness probe upon startup, likely due to how the ports get bound to 127.0.0.1 instead of 0.0.0.0

[2022-07-22 18:59] qrpike commented on #888
This example doesnt work due to the following lines: https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/20-protobuf-schema-example.yaml#L46-L47

Any insight on how to fix this?

[2022-07-25 20:30] dheerajathrey opened #981 "configuration files as a secret"
Does clickhouse operator support providing an entire file say kafka.xml or setttings.xml as a secret in the clickhouse operator, instead of having a very big cluster definition file with all files data hardcoded?

My yaml file:

[code]

[2022-07-27 00:17] Kazetsukai commented on #958
I don't know if this is exactly the same issue, but I found ArgoCD was always attempting to prune PVs created by the Clickhouse Operator. The issue was CHOP propagating the `app.kubernetes.io/instance` label, which caused ArgoCD to attempt to manage the PV when it shouldn't be.

Adding `exclude: ["app.kubernetes.io/instance"]` in the `Labels Management` section of the config.yaml in my `clickhouse

[2022-07-27 09:27] markandrus opened #983 "Failed to reconcile after changing ClusterIP to LoadBalancer"
We received the following error after changing our replica-service-template to use a LoadBalancer instead of ClusterIP:

[code]

[code]

Not sure how to reconcile. Maybe get rid of the replica-service-template and add it back?

[2022-07-27 10:26] alex-zaitsev commented on #983
@markandrus , could you try to remove clusterIP?

[2022-07-27 11:07] markandrus commented on #983
That worked: I deleted the service which was assigned the ClusterIP before redeploying my changes. 👍 Thanks

[2022-07-27 11:56] markandrus commented on #983
I guess it's atypical to do this on an existing cluster? We are probably going to leave the ClusterIPs for internal replication and move to managing LoadBalancers ourselves. Our LoadBalancers are only for ingestion, and we don't way to pay the overhead of replicating through.

[2022-07-27 12:13] naydoo commented on #958
Thanks @Kazetsukai , your solution worked for me

[2022-07-27 12:13] #958 closed

[2022-08-01 10:46] jun0tpyrc commented on #960
same , my workaround is playing this field to add/remove a temp network whitlist on user to trigger reconcile of readonly volume of generated users xml

[code]

[2022-08-02 06:56] macobo commented on #903
@alex-zaitsev reading the release notes of 0.19.0 I _think_ this can be closed? Haven't tested the behavior though.

[2022-08-03 02:10] kingboung commented on #975
How can I do this? Or it will be new requirement?

[2022-08-03 06:02] Slach commented on #975
@kingboung you should create kind: ClickHouseInstallation custom resource
and look to `kubectl explain chi` and `kubectl explain chi.spec` for details about how to define `spec.configuration.files`

[2022-08-04 17:05] HeenaBansal2009 opened #985 "Pod is recreating again when S3 <send_metadata> is set to true"
Hi ,
I have  edited the CLICKHOUSE_INIT_TIMEOUT value to 400 as suggested in  https://kb.altinity.com/altinity-kb-kubernetes/altinity-kb-possible-issues-with-running-clickhouse-in-k8s/#clickhouse-init-process-failed but I still see that SIGTERM signal is received by Application .

I am wondering , Is any changes(timeout) is required from Clickhouse-operator side as well to support clickhouse insta

[2022-08-08 01:46] UnamedRus commented on #985
Did you saw the exact message: `ClickHouse init process failed`  during startup?

[2022-08-08 08:17] zlcnju opened #986 "ck operator password"
I want to know why we use the same operator password for all the ck instance. It is not safe enough, I think we should use give the ability to give every instance different password。And if you agree, I can try it.

[2022-08-08 13:19] HeenaBansal2009 commented on #985
@UnamedRus , I saw it before by default clickhouse_init_timeout. I  increased the clickhouse_init_timeout value to 400 and "I don't see the clickhouse init failed error" however, I still see application reviewed SIGTERM signal .
I am not sure if Clickhouse-operator also has some timeout variables as well which needs to be set in this case.

Attaching the clickhouse logs.
`2022.08.04 14:09:06.69975

[2022-08-11 12:31] johnny opened #989 "Materialized views with inner tables fail to propagate to new nodes"
We have materialized views created with the shorthand
[code]

This creates an implicit inner table. The syncing mechanism first creates the inner table.
Then it propagates the materialized view which again tries to create an inner table. The inner table already exists and the materialized view fails to propagate.

[code]

We use operator version 0.19.0

[2022-08-11 13:44] Slach commented on #989
@sunsingerus i think we could try to use ATTACH MATERIALIZED VIEW instead of CREATE MATERIALIZED VIEW ...

[2022-08-11 21:49] alex-zaitsev commented on #989
This is weird, because operator filters out '.inner.' tables exactly for this reason. Maybe this is something new specific to 22.7?

@johnny , do you have Distributed table on top of inner table by any chance?

[2022-08-12 09:55] oktayalizada opened #990 "Access Management for Kubernetes operator"
Hi,
Is there a way in clickhouse on Kubernetes operator to uncomment access_management in users.xml file?
And what is the best way to do that?

[2022-08-12 10:25] Slach commented on #990
look to `kubectl explain chi.spec.configuration.files` and `kubectl explain chi.spec.configuration.users`

[code]

[2022-08-12 10:25] #990 closed

[2022-08-12 10:26] Slach commented on #990
you shall carry itself about move RBAC objects during change cluster layout (scale-up)

[2022-08-12 11:01] johnny commented on #989
We have Distributed tables on top of some of the materialized views directly and we have distributed tables on top of views on top of materialized views in the other cases.
We don't define Distributed tables directly on the inner tables.

We are running 22.7.3.5

[2022-08-12 11:13] HeenaBansal2009 commented on #985
After investigation ,  I found the root cause.
The less value for liveness initdelayedSeconds make it to fail . Changing this value equal to CLICKHOUSE_INIT_TIMEOUT worked.

I am just wondering , if this can be changed dynamically according to CLICKHOUSE_INIT_TIMEOUT, Because CLICKHOUSE_INIT_TIMEOUT will loose its expected behaviour when container has liveliness probing enabled ?

[2022-08-12 13:20] HeenaBansal2009 commented on #985
no I didn't put anything in /init.db,
I changed the clickhouseInstallation yaml  for Clickhouse-operator like this :

`name: clickhouse
              livenessProbe:
                failureThreshold: 3
                httpGet:
                  path: /ping
                  port: 8443
                  scheme: HTTPS
                initialDelaySeconds: 120.  ---> which was 10 before and because of

[2022-08-12 17:04] mcgrawia opened #991 "Watch namespace filter regex is incorrect"
Today, the regex for filtering the watch namespace is set [here](https://github.com/Altinity/clickhouse-operator/blob/ffd2108a1f76420eb98fd6d16fd8785bcb59e7e3/pkg/apis/clickhouse.altinity.com/v1/type_config_chop.go#L857-L857) as `"^[a-z]([-a-z0-9]*[a-z0-9])?$"`.

This regex does not match the valid regex for kubernetes namespaces, which is: `'[a-z0-9]([-a-z0-9]*[a-z0-9])?'`. which can be seen in t

[2022-08-12 17:27] mcgrawia commented on #991
I made a PR to update the regex at https://github.com/Altinity/clickhouse-operator/pull/992, I'd appreciate if we could get this merged quickly to unblock our customer! Thank you

[2022-08-13 06:59] mcgrawia commented on #991
Thanks for the quick review @Slach. Is there an ETA when 0.20 may be released? I’d be happy to back port this change to 0.19 if we could get a release quickly. Thanks

[2022-08-15 11:25] oktayalizada commented on #990
Thank you Slach it worked

[2022-08-17 07:05] Davidrjx commented on #956
possibly manifest update works with
[code]

[2022-08-18 21:29] Mit0x2 commented on #989
@alex-zaitsev tried that, did not work with any 22 version either. Even tried 21.9, did not work, unfortunately.

[2022-08-19 05:59] alex-zaitsev commented on #989
@Mit0x2 , thanks, your log record helped to detect the problem. MaterializedViews are stored differently in Atomic database,   we did not have a test for that.

We will release a fix in 0.19.1

[2022-08-19 12:06] Mit0x2 commented on #989
While trying out different Versions of the clickhouse server with the clickhouse operator, we noticed another issue in sort of the same context.

When adding a second replica we get the following issue for "normal" tables. I exchanged the actual DB and Table names with placeholders like DATABASE_NAME.

[code]

The scenario is, adding an additional replica to an already existing cluster. So replica

[2022-08-19 16:09] alex-zaitsev commented on #989
@Mit0x2 , 22.7+ has deprecated Ordinary databases, so all databases are Atomic now. It is weird you are seeing this error though, it is supposed to work in 0.19.0. We will double test on 22.7

[2022-08-19 17:30] mcgrawia commented on #991
hey @Slach any chance you can advise on the above^? Thanks

[2022-08-20 11:38] alex-zaitsev commented on #991
Hi @mcgrawia , we will backport it to 0.19.1. That should be out next week.

[2022-08-20 16:34] mcgrawia commented on #991
Thanks @alex-zaitsev! will keep an eye out for that

[2022-08-21 04:51] Slach commented on #991
fixed on https://github.com/Altinity/clickhouse-operator/pull/992

[2022-08-21 04:51] #991 closed

[2022-08-24 08:24] wei-tu opened #994 "Why does operator need cluster-wide permissions (using clusterrolebinding instead of rolebinding)?"
The helm chart of Clickhouse operator requires k8s cluster-wide permissions ([ClusterRole](https://github.com/Altinity/clickhouse-operator/blob/ffd2108a1f76420eb98fd6d16fd8785bcb59e7e3/deploy/operator/clickhouse-operator-install-bundle.yaml#L3046) / [ClusterRoleBinding](https://github.com/Altinity/clickhouse-operator/blob/ffd2108a1f76420eb98fd6d16fd8785bcb59e7e3/deploy/operator/clickhouse-operator

[2022-08-24 15:58] alex-zaitsev commented on #989
Fixed in 0.19.1

[2022-08-24 15:58] #989 closed

[2022-08-24 16:20] alex-zaitsev commented on #986
Hi @zlcnju , do you mean generating operator password?

In prod environments, default operator password is never used. Kubernetes secret is preferable. We are actually going to change the default configuration to secret based to make it transparent.
Also, clickhouse_operator user is restricted to connect only from clickhouse_operator pod's IP address, so it can not be easily used from outside.

[2022-08-25 06:23] alex-zaitsev commented on #994
@wei-tu , what helm chart you are referring to? We do not supply a standard helm chart.

[2022-08-25 11:26] Slach commented on #994
@wei-tu by default, clickhouse-operator deployment installed to `kube-system` namespace. It means `clickhouse-operator` will watch all `ClickHouseInstallation` resources in all namespaces and need access to all namespaces to create `statefulset` / `pvc` / `service` resources.
If you install operator into one namespace you don't need ClusterRole and ClusterRolebinding

[2022-08-26 10:50] widders opened #996 "Pod Disruption Budget only allows 1 pod offline across entire installation"
We have a setup that results in us having multiple clickhouse pods on one kubernetes host from different clusters but the pod disruption budget being generated only allows one pod to be offline which means we can't evict the pods when doing maintenance on those nodes. Simplified below but from a service perspective any of the nodes should be safe to take down but with the disruption budget it is n

[2022-08-26 13:39] alex-zaitsev commented on #996
Hi @widders , PodDisruptionBudget has the following selector:
[code]

It should work across different CHI instances. Do you mean you have several clusters inside one CHI, and this is what causes issues?

[2022-08-28 11:30] romilpunetha commented on #958
This worked for me:

[code]

[2022-08-28 15:17] widders commented on #996
Yes exactly, we deploy three clusters from one ClickhouseInstallation so those selectors match across all three clusters.

FYI The main cluster feeds to internal and external with replicated tables.

[2022-08-29 23:58] xgengsjc2021 opened #997 "when will you add this commit? https://github.com/ClickHouse/ClickHouse/issues/36367"
Hi,
I see CH closed this ticket and mentioned fixed the issue. When will you add it to the latest release?

[2022-08-29 23:58] xgengsjc2021 commented on #997
https://github.com/ClickHouse/ClickHouse/issues/36367

https://github.com/ClickHouse/ClickHouse/pull/40732

[2022-08-30 05:58] Slach commented on #997
These changes not depends on `clickhouse-operator`
wait when next releases 22.x with cherry-picked commits will release by ClickHouse team, and you can use it via `podTemplate`

[2022-08-30 05:58] #997 closed

[2022-08-31 09:12] AdheipSingh opened #998 "Reconcilation not triggered on config change in CR"
- ```Clickhouse operator version: altinity/clickhouse-operator:0.19.1```
- I have created a custom resource, which the operator reconciles successfully.
- When i try to update the custom resource with change in clickhouse image or adding of user. I see no reconcilation of the CR.
- No error or info is emitted in operator logs. Also the databases and tables mentioned in the CR were not created on b

[2022-08-31 09:31] Slach commented on #998
`clickhouse-operator` watch only `kind: ClickHouseInstallation` resources for reconciling

so, if you change `kind: ConfigMap` it will just update `/docker-entrypoint-initdb.d` content in your pod bypass clickhouse-operator

for manual reconcile trigger, you can change inside `ClickHouseInstallation`
[code]

[2022-08-31 09:34] AdheipSingh commented on #998
@Slach thanks for the response.

i am aware that operator will watch only custom resource ie ClickHouseInstallation, but with even that, any change i do in the CR around image version change, also isnt getting reconciled.

[2022-08-31 09:40] Slach commented on #998
Try to add inside `ClickHouseInstallation` link to `podTemplate` explicitly

[code]

[2022-08-31 11:46] #998 closed

[2022-08-31 17:04] djosephsen opened #999 "Cross-cluster replication"
Heya! Thanks for this great project; quick question:

Currently, it doesn't seem to be possible to configure the operator with clickhouse replication partners outside the local k8s cluster. In other words,  I'd like to be able to provide an external fqdn for my \<replica\> -> \<host\> 's.  Am I missing something?  Thanks in advance!

[code]

[2022-09-01 14:10] sdarshil opened #1000 "Seprate nodes for read and write"
i am trying to optimize my clickhouse architecture and i was thinking that what if i use two replicas insted of one in my clickhouse cluster and the use one clickhouse replica for select queries only and use one replica for insert queries only !
will it improvise my architecture for more speed in the frontend microservice as it just uses only select queries ??

current architecture:
One clickhouse

[2022-09-01 19:42] cw9 commented on #890
hi, we are running into a similar issue with operator v0.18.4: during a scale up, when we run out of resources for new CH nodes, the operator stuck in a bad state and lost some clusters in the setting, and caused queries to return errors with `Requested cluster 'XXX' not found`, any advice to avoid this?

[2022-09-01 19:53] cw9 commented on #890
e.g. the operator is managing 2 CH clusters in a namespace: cluster1, cluster2 and cluster3, when it stuck in scaling up `cluster1`, the `cluster2` config is removed in cluster3, so cluster3 can no longer communicate with cluster2 despite both clusters are running fine with existing capacity.

[2022-09-02 05:25] Slach commented on #890
@cw9 do you mean
you have 3 separate CHI in different namespaces and 1 clickhouse-operator in `kube-system`?

[2022-09-02 10:49] lololozhkin commented on #332
@f41gh7, could you please provide link to this similar issue?
Our clickhouse operator pod cannot scrape metrics from ch pods, because of name resolution, we use custom domain (instead of cluster.local). We cannot find issues about that, and cannot find any ability configure this behaviour :(
As you mentioned, we also found, that `.cluster.local` part is hardcoded...

[2022-09-02 11:06] Wexxion opened #1001 "Hardcoded `cluster.local` DNS suffix"
Hi! `metrics_exporter` from clickhouse-operator can't scrape metrics from clickhouse cluster because of hardcoded `cluster.local` suffix. In our k8s installation we use custom domain name, which differs from `cluster.local`

If I understand right, domain suffix is optional and we can get rid of it, because suffix will be taken from k8's DNS

How to fix issue:
Remove all `cluster.local` occurrences

[2022-09-02 11:12] lololozhkin commented on #1001
Facing the same issue :(

[2022-09-02 14:45] patrickdash opened #1002 "Metrics-exporter doesn't support credentials from secret."
It appears the metrics-exporter only supports hardcoded credentials (https://github.com/Altinity/clickhouse-operator/blob/master/cmd/metrics_exporter/app/metrics_exporter.go#L100).

This means that even if we pass the credentials to the operator as a secret, we still have to hardcode it for the metrics-exporter.

[2022-09-02 15:58] cw9 commented on #890
Nope, I meant 3 ClickHouse clusters in one k8s namespace operated by one operator

[2022-09-02 18:30] sunsingerus commented on #1002
please check 0.20.0 branch

[2022-09-02 19:15] Slach commented on #890
`spec.configuration.clusters`  in kind: ClickHouseInstallation could contains multiple clusters

so, could you clarify, and share
```kubectl get chi --all-namespaces```

[2022-09-04 19:31] cw9 commented on #890
[code]

in that namespace I have the following clusters:
[code]

[2022-09-05 05:59] wy0824 opened #1003 "How to update CRD and generate yaml file"
Hi, I want to do some secondary development of the source codes, and I update the CRD in the `pkg/apis/clickhouse.altinity.com/v1/types.go` file, and I run command `docker build -t altinity/clickhouse-operator -f ./dockerfile/operator/Dockerfile ./`, but the file `clickhouse-operator-install-ansible.yaml` seems not been updated. The CRD not deploy to k8s correctly. So, how can I generate the yaml

[2022-09-05 06:29] Slach commented on #890
ok. could you share
[code]

[2022-09-05 08:28] alex-zaitsev commented on #1002
@patrickdash , could you confirm 0.20.0 fixes your issue?

[2022-09-05 08:38] alex-zaitsev commented on #1000
You may use one replica for writes and another one for reads, but you will loose HA in this case. Use replicaServiceTemplate in order to have a dedicated service:
https://github.com/Altinity/clickhouse-operator/blob/d7e654a341e4102038f6226febc338b8060c64dd/docs/chi-examples/99-clickhouseinstallation-max.yaml#L218

[2022-09-05 08:38] #1000 closed

[2022-09-05 08:42] alex-zaitsev commented on #979
Looks like not enough RAM for ZK.

[2022-09-05 08:42] #979 closed

[2022-09-05 08:47] alex-zaitsev commented on #967
@guidoiaquinti ,
Look at remote/remoteSecure function -- it allows to select/insert in any node in the cluster, or to the group of nodes using some expression syntax.
Also there is 'insert_shard_id' setting that allows to insert into particular shards of Distributed table.

[2022-09-05 08:51] alex-zaitsev commented on #965
If you update CRD, you should update operator as well. Operator can not operate without CRD.

[2022-09-05 08:51] #965 closed

[2022-09-05 09:22] guidoiaquinti commented on #967
Thank you @alex-zaitsev 🙇  I wasn't aware of those two functions.

Looking at [the documentation](https://clickhouse.com/docs/en/sql-reference/table-functions/remote/) they work for `SELECT` and `INSERT` queries while DDLs are not supported.

[2022-09-05 16:06] Slach commented on #890
@cw9 separate clusters shall deployed on separate pods
do you mean you have the same `/etc/clickhouse-server/config.d/chop-generated-remote_servers.xml` on all cluster during scale-up?

could you share
[code]

[2022-09-06 07:41] wy0824 commented on #1003
I see there is a commit about manifests builder, but I am not clear on how it works with the templates. commit: https://github.com/Altinity/clickhouse-operator/commit/1750410169a84be33ae5e93af597482eeaa4c44f, so do we need manual update clickhouse-operator-install-ansible.yaml or use some scripts?
@sunsingerus

[2022-09-07 09:09] ispirals commented on #1002
Hey, I tried to use the 0.20.0 branch because I'm facing the same issue but seems there is a label value missing here https://github.com/Altinity/clickhouse-operator/blob/0.20.0/deploy/operator/clickhouse-operator-install-bundle.yaml#L3174

[2022-09-08 05:27] pauljohnston2009 opened #1004 "Root element in config <clickhouse> does not match config.d files <yandex>"
Should the config maps be updated to be `<clickhouse>` instead of `<yandex>`?
The default image has switched to clickhouse/clickhouse-server which uses `<clickhouse>` for its root element
https://github.com/Altinity/clickhouse-operator/blob/master/deploy/operator/clickhouse-operator-install-bundle.yaml#L3598

The config.d directory still contains `<yandex>` elements eg.
https://github.com/Altinity

[2022-09-08 07:39] alex-zaitsev commented on #1004
Both <yandex> and <clickhouse> work.

We are hesitant to change it in default configuration files, since it will result restart of ClickHouse pods when operator is upgraded.

[2022-09-08 09:56] sunsingerus commented on #1002
Fixed in 0.20.0. Please, take a look

[2022-09-08 13:42] dariothornhill commented on #981
I have been looking for this and it brought me here. I haven't seen anything to suggest that this option exists yet.

[2022-09-09 19:14] cw9 commented on #890
@Slach yes separate clusters are all deployed on separate pods, each node should have the same `chop-generated-remote_servers.xml` on all cluster during scale-up.

the nodes can see all the clusters, we usually use cluster3 as query federation nodes to combine data from cluster1 and cluster2, but during this incident cluster2 was missing from the remote_servers.xml and caused the cluster3 to only

[2022-09-09 19:18] cw9 opened #1005 "Speed up cluster scale up"
Hi,

Is there a way to config the speed of rolling upgrade? In our environment it takes about 2-3minutes per node to restart, so when we are trying to scale up a cluster from e.g.100 nodes to 101 nodes, we need to wait for the first 100 nodes to be restarted first before the 101st node can be added, which takes a long time.

Is there a way to speed up the process?

Thanks

[2022-09-12 20:48] sandeeppnaik opened #1006 "Clickhouse version > 22.3 fails to run"
HI team,

I was running some of the sample CRs from [here](https://github.com/Altinity/clickhouse-operator/tree/master/docs/chi-examples).
They all work great, but for when I run the same examples with a clickhouse version > 22.3 e.g. 22.7, 22.8.4.7 etc., the pods fail to start.

I cleaned up all my custom resources and then installed a new CR.

Observation
- The CHI is reporting errors while perf

[2022-09-13 03:20] Slach commented on #1006
could you share pod logs?
[code]

Moreover, could you install not released yet 0.20.0 operator?
[code]

[2022-09-13 07:12] midhuns3343 opened #1007 "Operator upgrade: 0.20.0 Authentication failed metrics pod"
Operator was upgraded to 0.20.0 and then the metrics container in operator pod started throwing authentication errors:

DB::Exception: clickhouse operator: Authentication failed: password is incorrect or there is no user with such name
 net/url: invalid userinfo

There are multiple clickhouse clusters running and operator is not able to authenticate to any of them.

Operator installation Manifest

[2022-09-13 08:42] Slach commented on #1007
how exactly do you upgrade operator? just change image versions in operator deployment? or do use full manifest from
https://github.com/Altinity/clickhouse-operator/raw/0.20.0/deploy/operator/clickhouse-operator-install-bundle.yaml ?

[2022-09-13 08:44] midhuns3343 commented on #1007
I followed https://github.com/Altinity/clickhouse-operator/blob/master/docs/operator_upgrade.md
removed current one and deployed new one

[2022-09-13 08:54] Slach commented on #1007
check /etc/clickhouse-server/config.d/chop-generated-users.xml
inside clickhouse-pod
and compare sha hash with your password from your installation

[2022-09-13 09:24] midhuns3343 commented on #1007
I'm not able to see 'chop-generated-users.xml' at /etc/clickhouse-server/config.d/

Attached image with list of files, its same for all clusters

![image](https://user-images.githubusercontent.com/88483737/189864548-2add163a-6d11-48ea-a0a7-7952d5a38628.png)

[2022-09-13 09:42] dnutiu opened #1008 "ClickHouse Authentication failed 516 with default user and password on port 8123"
Hello,

I cannot access ClickHouse with the default user and a custom user on port 8123. I tried with the ClickHouse JDBC driver and a simple `curl` command but I always get error 516.
[code]

I installed ClickHouse with the following settings:

[code]

[code]

The `default` user doesn't have a password and the password for the `batman` user is `default`.

Only connections from the `clickhouse-cli

[2022-09-13 09:45] Slach commented on #1007
sorry  users.d instead of config.d
`/etc/clickhouse-server/users.d/chop-generated-users.xml`

[2022-09-13 09:56] midhuns3343 commented on #1007
chop-generated-users.xml contains SHA256 password of the user created while deploying clusters which is different from the one mentioned in operator manifest file. Attached screenshot of file.

![image](https://user-images.githubusercontent.com/88483737/189871640-535de49e-79bc-4b2d-a42a-b9cf3427e3d9.png)

[2022-09-13 10:20] dnutiu commented on #1008
I was missing `<ip>::/0</ip>` in the settings. I added it without  the `/` some time ago but it didn't work, I've thought it's the same as `::1`.

[2022-09-13 10:20] #1008 closed

[2022-09-13 12:02] Slach commented on #1007
looks strange, `clickhouse_operator` present
but miss  `password_sha256_hex` for this user
could you check `/etc/clickhouse-server/users.d/01-clickhouse-user.xml` ?

I would like to propose install operator from scratch from
[code]

after it create separate `kind: ClickHouseOperatorConfiguration` and define
[code]
or manually change configmap `etc-clickhouse-operator-files` and restart operator an

[2022-09-13 19:54] sandeeppnaik commented on #1006
Hey @Slach ! Upgrading the operator to the latest has resolved the problem !!
Now the nodes upgrade fine, also roll-out of version increment works great. Thanks for the suggestion 🙏
I was wanted to investigate the logs, however, there were no logs coming through while this was occurring. I'l close this now.

[2022-09-13 19:54] #1006 closed

[2022-09-14 04:42] midhuns3343 commented on #1007
Creating CRD ClickHouseOperatorConfiguration worked,  thank you for the guidance.

[2022-09-14 18:32] xgengsjc2021 commented on #979
@alex-zaitsev Usually, what's the least CPU/Mem setting for the clickhouse installation?

[2022-09-14 20:16] #1007 closed

[2022-09-14 20:16] #1004 closed

[2022-09-15 07:00] Slach opened #1011 "Add alert for failure dictionary loading status to metrics-exporter and prometheus alerts"

[2022-09-15 07:34] #1003 closed

[2022-09-17 20:58] #985 closed

[2022-09-19 10:13] #986 closed

[2022-09-19 10:15] zlcnju commented on #986
If clickhouse_operator user is restricted to connect only from clickhouse_operator pod's IP address, it is better

[2022-09-21 07:05] dmmarkov opened #1013 "Add support of clickhouse-log via podTemplates"
Hello!

I want to override clickhouse-log container via podTemplates section.

I found that it's not possible in current version.

So I make some changes to support this feature https://github.com/Altinity/clickhouse-operator/pull/1012

I make it Draft because I don't check it and maybe I not found all places which should be changed.

I'm ready for any advises how to make it better.

[2022-09-22 23:41] mvgmb opened #1016 "Security Issues Channel"
We are interested in using the ClickHouse Operator in our company and I was analyzing it to see if it meets our demands. I have encountered some security issues and I want to know if there is an appropriate channel to discuss security issues.

[2022-09-23 04:44] Slach commented on #1016
https://altinity.com/wp-content/uploads/2022/03/security-march2022.pdf

please send details to security@altinity.com

[2022-09-23 10:39] #1016 closed

[2022-09-28 12:06] filimonov opened #1017 "Avoid clickhouse restarts on some settings change"
e.g. macros/xxx
 max_concurrent_queries

etc.  See
https://kb.altinity.com/altinity-kb-setup-and-maintenance/altinity-kb-server-config-files/#settings--restart

[2022-09-29 08:10] cangyin opened #1018 "Discard server config `default_database_engine`"
[Ordinary database engine and old storage definition syntax for *MergeTree tables are deprecated](https://clickhouse.com/docs/en/whats-new/changelog/#-clickhouse-release-227-2022-07-21:~:text=Ordinary%20database%20engine%20and%20old%20storage%20definition%20syntax%20for%20*MergeTree%20tables%20are%20deprecated)
starting from ClickHouse v22.7

[2022-09-29 15:45] arbreezy opened #1019 "Adding shard secret text from ClickHouseInstallation manifest"
I'd like to configure TLS for Distributed queries which require a preshared text in every shard.

The only reference to it was this [comment](https://github.com/Altinity/clickhouse-operator/issues/797#issuecomment-962178166)
[code]

I've tried to configure something similar to my installation manifest but the config ends up in `chop-generated-settings.xml` although per docs, this has to be in  `ch

[2022-09-29 17:18] a-dot opened #1020 "Disable table propagation to new shards"
We use `/docker-entrypoint-initdb.d` (https://github.com/ClickHouse/ClickHouse/blob/master/docker/server/entrypoint.sh#L107) to initialize our shards and I'm wondering if it's possible to disable the table propagation for a given CHI? thanks!

[2022-09-29 17:25] a-dot opened #1021 "Bug deploying a CHI in clickhouse-operator >=0.19.0 to Rancher"
The addition of the label `ready=<yes|no>` is causing an issue when deploying a CHI on Rancher.

By default, in our Rancher all network connections are disabled across projects. We have clickhouse-operator installaed in its own namespace (and in its own project). When a user installs a CHI in their namespace the operator will create the various resources but will get stuck because it can't ping th

[2022-09-29 21:31] alex-zaitsev commented on #1021
@a-dot , not sure what the problem is, and how NetworkPolicy is related to headless services user by operator in order to communicate to pods. LoadBalancer is only used for an outside world. Could you give an example?

Alternatively, you may probably deploy operator at the same namespace as CHI.

[2022-09-30 00:31] a-dot commented on #1021
Ok, let me try to clarify this...

Our Rancher deployment is multi-tenant and so we block traffic from one project to another. A project is composed of a number of namespaces. We support multiple clients and want to give our users the ability to instantiate clickhouse (a CHI) using the clickhouse-operator installed in one of the namespace. By default, in our cluster, outbound traffic from a namesp

[2022-09-30 07:34] alex-zaitsev commented on #1021
What comes first -- a chicken or an egg :)

I see the problem. Before 0.19 there was a selector only for the label name 'clickhouse.altinity.com/ready'. In 0.19+ selector has been changed to 'clickhouse.altinity.com/ready: yes'.

We can probably change it back if it causes such problems. But it looks like a Rancher bug to me that makes wrong assumptions about service configuration.

[2022-09-30 08:23] msukumaran-korewireless opened #1022 "Zookeeper configuration not copied over to cluster"
I deployed both zookeeper and clickhouse cluster on my namespace, but my zookeeper configuration files are not seen in the clickhouse cluster, I believe this task is carried out by operator. I use multi-node and need zookeeper to work.
I tried to copy the file manually to shards but not able to as it says read only drive.

root@MidhunC-552:/mnt/c/Midhun/clickhouse-operator# kubectl cp /mnt/c/Midhu

[2022-09-30 08:32] Slach commented on #1022
Zookeeper shall deploy separately and don't manage by clickhouse-operator
look examples here https://github.com/Altinity/clickhouse-operator/tree/master/deploy/zookeeper/

to configure clickhouse-server to use installed zookeeper
use

[code]

[2022-09-30 08:32] #1022 closed

[2022-09-30 11:54] a-dot commented on #1021
@alex-zaitsev, I agree, it's not ideal that Rancher does such a thing. We looked for a setting to revert the behaviour or change how the set of labels is selected but didn't make any progress.

Instead of changing back the `ready` label, what about adding maybe a configuration option to toggle whether the ready label is included or not? I realize it's a very specific configuration option and a bit

[2022-10-04 11:44] a-dot commented on #1021
We ended up creating a more permissive NetworkPolicy at the time of the creation of the CHI in a namespace to allow incoming traffic. That will work for our workaround! Thanks!

[2022-10-04 11:44] #1021 closed

[2022-10-04 21:19] godwhoa commented on #996
+1 Would like to see pod disruption budget on per-shard bases.

[2022-10-04 21:22] godwhoa commented on #1005
Maybe a duplicate of https://github.com/Altinity/clickhouse-operator/issues/996?

[2022-10-04 22:41] UnamedRus commented on #1020
I think we need to have 3 options for schema:

1. Propagate everything (table & databases)
2. Propagate databases (for Replicated database engine)
2. Disable propagation

[2022-10-04 22:46] UnamedRus commented on #999
You can provide your own config files with any content.
https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/05-settings-05-files-nested.yaml#L30

So you can just define new cluster definition in separate config file.

[2022-10-09 21:45] AdheipSingh opened #1024 "Helm generate issue"
[code]
When templating out helm after generate

[2022-10-10 16:54] olexiyb opened #1025 "support of named_collections"
Clickhouse [has named collections](https://clickhouse.com/docs/en/operations/named-collections/#named-collections-for-accessing-postgresql-database)

But I do not see a way to add this using clickhouse operator

[2022-10-10 17:49] #1025 closed

[2022-10-10 17:49] olexiyb commented on #1025
I found https://github.com/Altinity/clickhouse-operator/blob/7ec06b79eb70430d546f9a085c92a5339c8f3e4a/docs/custom_resource_explained.md#specconfigurationfiles

[2022-10-11 05:48] wy0824 opened #1026 "[bug] migrateTables when scale up stepped by more than 1 replica"
cliskhouse-operator version: 0.19.2
clickhouse image: clickhouse/clickhouse-server:22.3

command: kubectl apply -f ./docs/chi-examples/01-simple-layout-02-1shard-2repl.yaml

error log:
[code]

The problem happens when the clickhouse-operator scales up the clickhouse stepped by more than one pod. The clickhouse-operator first adds all the target remote server hosts to 'chop-generated-remote_servers

[2022-10-13 06:40] laojianzi opened #1027 "ZooKeeper Installation and Configuration / Precautions"
https://docs.altinity.com/operationsguide/clickhouse-zookeeper/zookeeper-installation/#precautions

I don't see this in the current repo docs, is it out of date and doesn't need to be followed?

[2022-10-13 12:31] a-dot opened #1028 "Grafana dashboard exported_namespace"
The grafana dashboard available here: https://github.com/Altinity/clickhouse-operator/blob/master/grafana-dashboard/Altinity_ClickHouse_Operator_dashboard.json has several hundred references to the `exported_namespace` label but that label is not a label that is available from the metrics-exporter. The label is actually called `namespace`, not `exported_namesapce`. The dashboard will still render

[2022-10-13 12:34] Slach commented on #1028
exported_namespace depends of conflicting namespace label from kubernetes in our prometheus scraping config
look details
https://github.com/Altinity/clickhouse-operator/blob/master/deploy/prometheus/prometheus-template.yaml#L48-L50

you can replace `exported_namespace` to `namespace`

[2022-10-13 12:34] #1028 closed

[2022-10-14 09:43] yaoyao12138 opened #1029 "hwo to configure secret in podTemplates if image is protected?"
hwo to  configure secret in podTemplates if the related image isn't public and need to be pulled with user/pass.

Is there any example? Thanks

https://github.com/Altinity/clickhouse-operator/blob/7ec06b79eb70430d546f9a085c92a5339c8f3e4a/docs/chi-examples/02-templates-01-pod-template.yaml#L21-L44

[2022-10-14 10:37] Slach commented on #1029
look to https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#create-a-pod-that-uses-your-secret
kubectl explain pod.spec.imagePullSecrets

just define
[code]
inside your `chi.spec.podTemplates[]`

[2022-10-14 10:37] #1029 closed

[2022-10-18 12:44] filimonov opened #1030 "add system.errors table to the prometheus exporter"
name - as a label, value as a counter.

[2022-10-19 02:44] simsicon opened #1031 "How to stop the pods for maintenance"
Hi, My underlying nfs storages need to run a filesystem check, in case of any data loss or inconsistence, I think it would be a good idea to stop the pods during the time, but how can i achieve that? I am running the below config

[code]

Thanks

[2022-10-19 02:47] simsicon commented on #1031
Is it safe/working if I just change the `replicasCount` to 0 and change it back when it's done?

[2022-10-20 03:26] spectrogram commented on #837
@ganievs If you're still stuck on this, I think I was able to work around the problem by renaming the files the variables are named after. Note that I have only tested this in a sandbox environment and not production, but it seems to work the same.

Here's a quick and dirty script to do the necessary renames, put it in `deploy/helm`:
[code]
I'm sure this script could be improved so it doesn't need

[2022-10-21 03:53] cw9 opened #1032 "Restarting 0.19.3 operator causes restarts on ClickHouse cluster"
Hi, I recently upgraded my operator to 0.19.3 trying to fix the issue that sometimes restarting the 0.18.4 operator would cause restart in the CH cluster and break remote-servers.xml, but I'm continuing to see the same behavior with 0.19.3, even more consistently than before, the CH cluster is being restarted every time the operator is restarted. I tried re-deploy the ClickHouse crd but still no h

[2022-10-23 09:15] alex-zaitsev commented on #1031
@simsicon , there is a special flag "stop: yes" that does exactly this -- sets replicasCount to 0. It does it in a graceful way.

https://github.com/Altinity/clickhouse-operator/blob/145b1d329c2d1ab1726b654e211b8f44ba2e1c62/docs/chi-examples/99-clickhouseinstallation-max.yaml#L17

When you need to resume the cluster, just set "stop: no" or remove the attribute completely.

[2022-10-23 09:20] alex-zaitsev commented on #1032
Hi @cw9 , we are struggling to fix this issue now, you can see that releases 0.19.2 and 0.19.3 addressed it at some extent but the rebuild of remote_servers.xml is still happening sometimes for us as well.

Expect a fix later this week, it could be 0.19.4 or 0.20.0 release (0.20.0 has some really good features coming).

[2022-10-23 09:21] alex-zaitsev commented on #1032
However, looking into your log example --  it does not seem to be caused by an operator restart but a change in CHI.

[2022-10-23 20:10] alex-zaitsev commented on #1019
@arbreezy , operator 0.20.0 has support for secrets in remote_servers.xml. See examples there:
https://github.com/Altinity/clickhouse-operator/blob/0.20.0/docs/chi-examples/21-secure-cluster-secret-01-auto.yaml
https://github.com/Altinity/clickhouse-operator/blob/0.20.0/docs/chi-examples/21-secure-cluster-secret-02-plaintext.yaml
https://github.com/Altinity/clickhouse-operator/blob/0.20.0/docs/chi

[2022-10-24 03:14] #1031 closed

[2022-10-24 06:26] davidkl97 opened #1033 "Local Replica Tables + ZK records aren't dropped on scale in operator"
When im trying to scale in shard which has local replica, the records in zookeeper of the local replica aren't deleted,
so when i try to scale out the shard again, it fails to create the tables because the record already exists in zk:
[code]
Is this a bug or a limitation? is there any workaround to automate this situation?

Thanks!

Installation Specs:

Operator Version: 0.19.3
Clickhouse Version:

[2022-10-24 06:43] alex-zaitsev commented on #1033
@davidkl97 , not sure I understand. When replica is scaled down, metadata in ZooKeeper is deleted. Maybe you are re-using the same ZooKeeper between different ClickHouse clusters?

[2022-10-24 07:21] davidkl97 commented on #1033
hey @alex-zaitsev , its works on replica nodes but not on shards which contains local replica and records in zk as well.

Im using single Clickhouse cluster with this ZK.

[2022-10-24 18:38] a-dot commented on #933
@Slach that looks to me like a bad query instead? It's attempting to Group By `reason` but reason doesn't exist, it's called `detach_reason`. https://github.com/Altinity/clickhouse-operator/blob/master/pkg/apis/metrics/clickhouse_fetcher.go#L119-L125

[2022-10-24 20:14] alex-zaitsev commented on #1033
@davidkl97 , understood. Why do you remove and add shards back then? Removing a shard leads to data loss usually.

[2022-10-25 11:58] davidkl97 commented on #1033
@alex-zaitsev , my use case is for testing different layouts which can lead to those scale in. The data loss here is not that important

[2022-10-25 15:28] Slach commented on #933
query is correct,
`reason` is column in system.detached_parts

`detached_reason` is alias

group by reason
possible in selected fragment cause `detached_reason` is deterministic relative to `reason`

[2022-10-30 07:10] suharevA commented on #670
Please clarify, am I placing these parameters in the right place?

apiVersion: "clickhouse.altinity.com/v1"
kind: "ClickHouseInstallation"
metadata:
   name: prod-backups
spec:
   defaults:
      templates:
         podTemplate: clickhouse-backup
         dataVolumeClaimTemplate: data-volume
   configuration:
      users:
         test/profile: test_profile
         # use cluster Pod CIDR for more

[2022-10-30 07:16] Slach commented on #670
@suharevA
look to
`kubectl explain chi.spec.configuration.profiles`
and for future cases
`kubectl explain chi.spec`

yes profiles inside spec.configuration, proper place for this

[2022-10-30 12:45] suharevA commented on #670
Can't make changes. Error. What else needs to be added?
[code]
[code]

[2022-10-30 14:42] Slach commented on #670
try

[code]

[2022-10-30 14:51] suharevA commented on #670
Thank you. This is how it works

[2022-10-31 15:00] vigodeltoro opened #1036 "Issue with anti affinity rules"
Hi there,

 I have a problem with the anti affinity rules.. maybe there is somebody out there who can help me out.
 I have a three nodes Kubernetes setup with a 3 shard cluster with one replica each..

 So there 6 pods at the cluster. I try to use anti affinity rules to distribute the pods to the 3 nodes. My goal is to have 2 pods per node but not the same shard or the same replica. Something like

[2022-11-01 14:55] alex-zaitsev commented on #1032
Hi @cw9 , please try 0.20.0 version. The problem should be fixed

[2022-11-03 09:27] vigodeltoro commented on #1036
Hi Alex,

okay.. thanks a lot for that hint. I tried it out and achieved the following distribution

chi-protobuf-example-dev-0-0-0 node1
chi-protobuf-example-dev-0-1-0 node1
chi-protobuf-example-dev-1-0-0 node2
chi-protobuf-example-dev-1-1-0 node2
chi-protobuf-example-dev-2-0-0 node3
chi-protobuf-example-dev-2-1-0 node3

With that I got a distribution over all three nodes but shard and replica ar

[2022-11-03 17:18] #999 closed

[2022-11-03 18:31] ch-devops opened #1039 "clickhouse-operator and metrics-exporter image has vulnerability"
### ISSUE
- Vulnerability found in clickhouse-operator and metrics-exporter image after doing the twistlock scan on it.
- CVE link: "https://nvd.nist.gov/vuln/detail/CVE-2022-27664"

### Solution
- Update the go version to golang:1.19  in Dockerfile for metrics-exporter and operator.

[2022-11-04 20:19] alex-zaitsev commented on #1032
Hi @cw9 , under what conditions do you see restart of CH cluster? We can not reproduce it. We test restart of an operator as a part of our release process, and it does not restart CH clusters.

[2022-11-04 20:24] alex-zaitsev commented on #1020
Hi @a-dot , version 0.19 and above has a special setting to disable schema propagation: https://github.com/Altinity/clickhouse-operator/blob/145b1d329c2d1ab1726b654e211b8f44ba2e1c62/deploy/operator/parts/crd.yaml#L672

Set it to None in order to disable, like this: https://github.com/Altinity/clickhouse-operator/blob/145b1d329c2d1ab1726b654e211b8f44ba2e1c62/docs/chi-examples/99-clickhouseinstallat

[2022-11-04 20:24] #1002 closed

[2022-11-04 20:25] #970 closed

[2022-11-05 00:17] a-dot commented on #1020
That's great! I'll close the issue now! Thanks!

[2022-11-05 00:17] #1020 closed

[2022-11-06 21:05] alex-zaitsev commented on #1026
@wy0824 , please check 0.20.0. That should work better. There could be some retries before pod goes online though.

[2022-11-06 21:07] alex-zaitsev commented on #1024
@slamdev, this one looks unclear, but probably you know what it is about?

[2022-11-07 10:01] suharevA opened #1041 "LDAP server definition"
how to make settings to connect to ldap correctly? Like this?

[code]
[code]

[2022-11-07 18:48] cw9 commented on #1032
I was testing through killing the operator pod, then the operator will be restarted by k8s and start restarting the CH clusters

[2022-11-08 02:52] alex-zaitsev commented on #1032
Hi @cw9 , could you post the log from operator pod after a restart, please? Operator should do a re-conciliation, since the operator pod IP changes during the restart, but it does not require restart of the ClickHouse cluster.

[2022-11-08 04:51] midhuns3343 opened #1042 "Operator upgrade from 0.12 to 0.19 restarts cluster"
I recently upgraded operator from version 0.12 to 0.19 which caused a restart of shard pods. Is this normal and is there any way to prevent the restart of shards? Below is the manifest used to deploy cluster

apiVersion: "clickhouse.altinity.com/v1"
kind: "ClickHouseInstallation"
metadata:
  name: "pl-clh"
spec:
  configuration:
       clusters:
         - name: shard
           layout:

[2022-11-08 10:19] alex-zaitsev commented on #1042
Hi @midhuns3343 , there was a number of configuration changes in 0.13 and 0.14 versions that required restart of the cluster. Since 0.14 upgrades of operator does not result in restart anymore.

Please do not use 0.19 but use 0.20 instead.

[2022-11-08 10:19] #1042 closed

[2022-11-08 10:20] alex-zaitsev commented on #1039
Thanks. To be addressed in 0.20.1

[2022-11-08 10:24] midhuns3343 commented on #1042
Thanks for the info. Is there any bug in 0.19? I had already deployed 0.19 to couple of production servers.

[2022-11-09 09:55] guidoiaquinti opened #1043 "Finalizer & namespace deletion issue"
Deleting the namespace without having deleted first the `chi-` resources will make the delete command hang indefinitely.

Tested on `0.18.4`.

[2022-11-09 21:25] zcross commented on #830
@sunsingerus is there any lingering concern about this specific bug (or some generalization of it) after the fixes in 0.18.0? I realize this issue is fairly old, but I've chanced across it and am now considering switching to the `Retain` reclaim policy to defend against this class of accidental data loss (and others).

[2022-11-10 17:59] suharevA opened #1047 "connect to ldap"
show an example of a config for the operator. To connect to ldap.

[2022-11-10 18:30] alex-zaitsev commented on #1047
Duplicates #1041

[2022-11-10 18:30] #1047 closed

[2022-11-14 05:23] midhuns3343 opened #1050 "Operator 0.19 liveness probe failed"
Recently, operator was upgraded to 0.19 which caused a restart of pods in CHI. The pods were crashlooping as liveness probe failed. Looking at the endpoint script, it looks like "chown" was being run on all files and it was taking hours as file count in data directory was high and there wasn't a restart of pods for about 1 year.

With the liveness probe value of 60 seconds, the pods are not expect

[2022-11-14 07:52] alex-zaitsev commented on #1050
Hi @midhuns3343 ,

You may override liveness probe in pod template and increase initial delay timeout or other parameters. Here is an example:
[code]
Also, please use 0.20.0 version.

[2022-11-14 09:44] midhuns3343 commented on #1050
Thanks for the suggestion. Is there anything to be done to avoid Appling the ownership change on pod restarts? I don't think it's a good idea to keep 2 hours for livenessProbe.

[2022-11-14 15:07] alex-zaitsev commented on #1050
@midhuns3343 , sure! Add security context and you do not need chown:
[code]

[2022-11-14 20:51] iak2004 commented on #1001
I have same problem too.

[2022-11-15 05:20] midhuns3343 commented on #1050
I applied securityContext and have the below error:

Necessary directory '/var/log/clickhouse-server' isn't owned by user with id '101'

Clickhouse version is 20.6.3.28

[2022-11-15 21:01] alex-zaitsev commented on #1050
Could you show your full CHI, please

[2022-11-15 23:56] chancez opened #1051 "Missing create secret RBAC permissions in operator ClusterRole"
https://github.com/Altinity/clickhouse-operator/blob/0.20.0/docs/chi-examples/21-secure-cluster-secret-01-auto.yaml doesn't work because the permissions for the operator to create a secret haven't been added: https://github.com/Altinity/clickhouse-operator/blob/release-0.20.0/deploy/operator/clickhouse-operator-install-bundle.yaml#L2718-L2722

Could probably just add secrets to the same list as th

[2022-11-16 02:52] midhuns3343 commented on #1050
apiVersion: "clickhouse.altinity.com/v1"
kind: "ClickHouseInstallation"
metadata:
  name: "prod-clickhouse"
spec:
  configuration:
       clusters:
         - name: shard
           layout:
                shardsCount: 5
                replicasCount: 1
                #internalReplication: Enabled
           templates:
             dataVolumeClaimTemplate: prod-clickhouse-claim
             podTe

[2022-11-17 04:06] midhuns3343 commented on #1050
Hello @alex-zaitsev any update on this ?

[2022-11-17 08:16] Slach commented on #1041
You can try use
[code]

and use settings the same manner as described in documentation
https://clickhouse.com/docs/en/operations/external-authenticators/ldap/

[2022-11-17 08:16] #1041 closed

[2022-11-17 08:26] alex-zaitsev commented on #1050
Hi @midhuns3343 ,
1. If you have a single disk -- you do not need chown at all. Chown is only required when there are multiple disk mounted.
2. Looks like you are running an old version of ClickHouse that may use different process owner.
In ClickHouse before 20.10 the owner was root, in 20.11 it is clickhouse. So securityContext is only applicable to 20.11 and going forward.

[2022-11-17 08:49] suharevA commented on #1041
[code]
[code]

[2022-11-17 09:27] midhuns3343 commented on #1050
1. I'm using the official clickhouse image and I believe chown is defined in entrypoint.sh script. Do you mean I need to build a new docker image by modifying the parameters in entrypoint.sh script? Or is there any other way to avoid chown ?

2. Yes, clickhouse version is 20.6. Looking at the process owner and ownership of files, it is 'clickhouse' user. But I'll give a try on 22.3 version and see

[2022-11-17 10:13] Slach commented on #1043
it will happens if clickhouse-operator install in the same namespace with `chi`
and you have situation when finalizer deleted before custom resource

use separate namespace for installation `clickhouse-operator`
if you install in kube-system, then operator will watch all namespaces for `chi` reconciling
in other case specify `watchNamespaces` in custom `chopconf` resource for customizing clickhous

[2022-11-17 10:13] #1043 closed

[2022-11-17 11:26] alex-zaitsev commented on #1051
ack. Will be fixed in 0.20.1

[2022-11-17 14:33] alex-zaitsev commented on #788
Re-scale w/o restart is supported in 0.20.0 release with operator controlled storage management:
[code]

[2022-11-17 14:33] #788 closed

[2022-11-18 11:18] midhuns3343 commented on #1050
@alex-zaitsev It works on 22.3.10.24. Thanks !!

any input on disabling chown ?

[2022-11-19 01:08] vigodeltoro opened #1054 "secret for inter server communication is not rolled"
Hi,
I followed your examples to rollout a secret for inter server communication but it isn't rolled out:

Clickhouse Operator v0.20

That's my manifest:
#########
apiVersion: "clickhouse.altinity.com/v1"
kind: "ClickHouseInstallation"
metadata:
  name: "secret"
spec:
  configuration:
    settings:
      logger/level: "warning"
      compression/case/method: "lz4"
    users:
      # default/passwor

[2022-11-21 17:13] chancez commented on #1054
I think it's probably that with #1051 , the operator doesn't have permissions to create the secret, so it doesn't actually reconfigure clickhouse. I manually fixed the RBAC permissions in my environment so the operator can create secrets, and it's successfully configuring the nodes with the internode secret:
[code]

[code]

[2022-11-22 07:58] vigodeltoro commented on #1054
Hi chanchez.. thanks a lot.. I will have a look to that :) and try that out..

[2022-11-22 16:47] chancez commented on #1054
@vigodeltoro I'm not sure, because the operator is likely configured to look for the secret when the `cluster.secret` options are present, and if it's failing on RBAC to lookup the secret, it gets wedged there trying to do the lookup forever.

[2022-11-22 21:08] brutif opened #1055 "Dockerfile update needed to remove CVE's from images"
The v0.20.0 operator image and v0.20.1 metrics exporter image contain a few high-scoring CVE's because they are built on an older version of go.
( CVE-2022-41715, CVE-2022-2879, CVE-2022-2880, CVE-2022-41716)

Updating the Dockerfiles
 https://github.com/Altinity/clickhouse-operator/blob/77025ca8d774b46d8381f5b45b92275d28fb2d45/dockerfile/operator/Dockerfile#L5  and

https://github.com/Altinity/cl

[2022-11-23 08:47] vigodeltoro commented on #1054
Hi chancez .. ah.. that could be.. thanks. I will have a look for that and come back to you :)

[2022-11-23 11:26] Slach commented on #1055
will fix after release 0.20.1 as "latest"

[2022-11-23 11:26] #1055 closed

[2022-11-23 14:45] brutif commented on #1055
Thanks @Slach !

[2022-11-23 15:56] prashant-shahi opened #1056 "cluster name is tied with chi pods and persistence volumes"
In general, cluster name (set using `<remote_servers>` configuration) has no sticky relation with the instances of ClickHouse servers.

When trying to update cluster name, old data is removed since the cluster name is tied to not only pods but the PVCs.
Do let me know if there is any way right now to update cluster name with the old data intact.

[2022-11-24 17:07] alex-zaitsev commented on #1056
Try podGenerateName:
[code]
But cluster name is pretty much hardcoded internally, you are right.

[2022-11-25 09:59] prashant-shahi commented on #1056
@alex-zaitsev Any idea on how I can update existing cluster name with the old data in PVCs intact?

[2022-11-25 10:47] suharevA commented on #1041
After a lot of struggle, it worked.
After a lot of struggle, it worked.
Here is the config.
Thanks this link https://github.com/ClickHouse/clickhouse-docs/blob/main/docs/en/guides/sre/user-management/configuring-ldap.md
[code]

[2022-11-25 11:02] Slach commented on #1041
@suharevA thanks a lot for sharing worked config