[2020-12-18 07:35] alex-zaitsev commented on #622
Hi @winter7 , look at https://github.com/Altinity/clickhouse-operator/blob/master/config/config.yaml

In the running system this file is exposed as a configmap/etc-clickhouse-operator-files, you may change timeout or/and onStatefulSetUpdateFailureAction and restart the operator for changes to make an affect.

[2020-12-18 07:40] alex-zaitsev commented on #616
Single ClickHouse installation allows users to define different data distribution layouts, that are sometimes confusingly referred as clusters. In your example
* 'test_' clusters are default ClickHouse, used in unit tests. Those can be ignored
* 'all-replicated' cluster is 1 shard N replicas, useful for tables that should be replicated across all nodes.
* 'all-sharded' cluste is N shards, 1 replic

[2020-12-18 07:40] #616 closed

[2020-12-18 08:15] winter7 commented on #622
@alex-zaitsev Thank you very much!

[2020-12-19 12:45] aksdb opened #626 "Integrate ZooKeeper management into Clickhouse Operator"
Currently ZooKeeper needs to be setup and maintained manually. However Clickhouse advises to use a dedicated ZooKeeper cluster and also recommends a specific set of configurations. Also ZooKeeper is only really necessary when using replication (afaik) but then becomes mandatory.

So instead of manually setting up ZooKeeper and wiring it into the config specified for the operator, wouldn't it be de

[2020-12-21 03:55] TCeason commented on #620
@Slach  Hi, could you help me with this question? I’m eager to receive your feedback.

[2020-12-22 07:18] Slach commented on #620
Hello @TCeason

this script run manually if you change something in `pkg/apis`

yes it's a good idea, I think we need to add a separate script `deploy/helm/build-clickhouse-operator-helm.sh` where we create separate `templates/*yaml.tpl` with go-templates placeholders

the main goal of `clickhouse-operator Helm chart` should just install and configure `clickhouse-operator` CRD and related deployme

[2020-12-22 13:20] TCeason commented on #620
Dear Klimov, thanks for your suggestion . I will have a look at yq.

[2020-12-23 07:34] TCeason commented on #620
[code]
Is there have some problems that we can not support k8s 1.16+?

[code]

[2020-12-23 07:45] TCeason commented on #620
And In file [build-clickhouse-operator-install-yaml.sh](https://github.com/Altinity/clickhouse-operator/blob/master/deploy/operator/build-clickhouse-operator-install-yaml.sh), build part templated manifests twice.

https://github.com/Altinity/clickhouse-operator/blob/master/deploy/operator/build-clickhouse-operator-install-yaml.sh#L50

https://github.com/Altinity/clickhouse-operator/blob/master/de

[2020-12-23 08:47] Slach commented on #620
I agree with your file layout and think your file layour should be present in `deploy/helm/operator` and the second chart should present in 'deploy/helm/cluster-management`

@sunsingerus could you explain to us
differences between
https://github.com/Altinity/clickhouse-operator/blob/master/deploy/operator/build-clickhouse-operator-install-yaml.sh#L50
and
https://github.com/Altinity/clickhouse-oper

[2020-12-23 09:17] TCeason commented on #620
will chop support `apiextensions.k8s.io/v1`?

[2020-12-23 12:50] alex-zaitsev commented on #620
Do you have any issues with v1beta1? If we switch CRD to v1, that will mean dropping compatibility with k8s 1.15 and earlier.

[2020-12-23 13:09] TCeason commented on #620
Yes. Now I use helm 3.0 runs `helm lint` and then it returns an error.

[code]

I think there are some compatibility issues.

[2020-12-23 14:35] alex-zaitsev commented on #554
Added in 0.13.0.

[2020-12-23 14:35] #554 closed

[2020-12-23 14:36] #622 closed

[2020-12-23 14:37] alex-zaitsev commented on #626
Thanks, this is in TODO list for Q1/2021

[2020-12-24 08:49] alex-zaitsev commented on #561
Should be fixed in https://github.com/Altinity/clickhouse-operator/releases/tag/0.13.0

[2020-12-24 09:02] alex-zaitsev commented on #594
0.13.0 version should fix this issue. It tries to re-create schema on every reconcile attempt, and therefore should handle this scenario properly as well.

[2020-12-24 09:02] #594 closed

[2020-12-25 12:49] alex-zaitsev commented on #561
Actually, it is not completely fixed. The problem is that operator uses service in order to connect to the pod. External users use service as well. So as soon as pod is live and ready, it is accessible both for operator and external users.
But there is a workaround: use distributed table on top of replicated. Operator adds a new replica to the cluster (remote_servers) after schema is created, and

[2021-01-04 03:15] Sallery-X opened #629 "operator whether to support easy configuration ssl"

[2021-01-04 05:30] Slach commented on #629
@Sallery-X could you explain what exactly do you mean?

currently, clickhouse-operator already supports easy SSL configuration
you can generate certificates via openssl
[code]

and you can use ClickHouseInstallation custom resource with the following content:

[code]

[2021-01-05 07:06] Sallery-X commented on #629
root@chi-ck-xuewei-0-0-0:/# clickhouse-client --secure
ClickHouse client version 20.8.11.17 (official build).
Connecting to localhost:9440 as user default.
Code: 210. DB::NetException: SSL Exception: error:14000086:SSL routines::certificate verify failed (localhost:9440)

[2021-01-05 11:00] #629 closed

[2021-01-05 14:02] Slach commented on #629
@Sallery-X
look like you need define ```<yandex><openSSL><client> ... </client></openSSL></yandex>```
https://clickhouse.tech/docs/en/operations/server-configuration-parameters/settings/#server_configuration_parameters-openssl

[2021-01-18 14:30] Slach opened #630 "make `metrics-exporter` queries parallel"
All metrics related to system.parts on HDD + Raid0 + ClickHouse 19.16 take long time when we have many `system.parts`
[code]
1 rows in set. Elapsed: 3.406 sec.

[2021-01-20 06:33] dav1d992 opened #631 "Prevent ClickHouse operator from creating a load balancer"
I have a cluster wherein I have loaded a ClickHouse operator. When I'm applying the installation here: https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/04-replication-zookeeper-03-minimal-AWS-persistent-volume.yaml
A load balancer will be created. I would like to NOT have that load balancer created.

**Is there anything that I can change in the _04-replication-zookeepe

[2021-01-20 07:22] alex-zaitsev commented on #631
@dav1d992 , you need to add serviceTemplate with ClusterIP type in order to override the default one. See examples of serviceTemplate:

https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/02-templates-03-service-template.yaml

https://github.com/Altinity/clickhouse-operator/blob/master/tests/configs/test-012-service-template.yaml

[2021-01-20 15:19] dav1d992 opened #632 "How to prevent access of unauthenticated users"
The clickhouse-operator is deployed to my cluster and in my installation file I have
`users: `
   `        user2/networks/ip: "::/0"`
  `user2/password: qwerty`
       ` user2/profile: default`
borrowed from your example [here]( https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/05-settings-03-2-user2.yaml)

I'm expecting that I can't simply connect to that pod and use `

[2021-01-20 16:10] Slach commented on #632
just add
[code]

[2021-01-21 07:25] #631 closed

[2021-01-21 07:26] #632 closed

[2021-01-22 10:20] Sallery-X opened #633 "Whether to support the creation of multiple cluster reuse some pods"

[2021-01-22 13:22] alex-zaitsev commented on #633
No

[2021-01-22 16:37] #633 closed

[2021-01-22 17:40] ben-efiz opened #634 "Duplicated user passwords when using password_double_sha1_hex"
ClickHouse recommends using `password_double_sha1_hex` for compatibility with MySQL clients as decribed [here](https://clickhouse.tech/docs/en/operations/settings/settings-users/#user-namepassword).

When adding a `password_double_sha1_hex` as a user password, e.g. for admin, clickhouse-operator adds the `CHConfigUserDefaultPassword` as SHA256 encrypted password to the user. ClickHouse does not st

[2021-01-25 07:54] sunsingerus commented on #634
PR accepted, this issue should be closed as soon as test cycle for 0.13.5 completed

[2021-01-25 10:46] ArtemChekunov opened #636 "Is there is available a telegram chat?"
Is there is available a telegram community?

[2021-01-25 10:52] alex-zaitsev commented on #636
Use https://t.me/clickhouse_en
If it gets too noisy we can open a separate channel.

[2021-01-25 11:04] ArtemChekunov commented on #636
@alex-zaitsev I tried to ask questions about clickhouse-operator in https://t.me/clickhouse_ru
however, they have been ignored

Probably it makes sense  to create a separate channel
then questions about clickhouse-operator will not be lost in the clickhouse message flow

[2021-01-25 12:01] filimonov opened #637 "Graph/Alert on high zookeeper transaction per second rates."
Based on clickhouse (single server) stat:

More than 100000 zookeeper transactions per minute  on a single clickhouse node = very bad (zxid rotation will happen at least every month), some pathological usage pattern

More than 10000 zookeeper transactions per minute on a single clickhouse node = bad (zxid rotation will happen at least every several months), most probably bad partitioning or insert

[2021-01-25 12:15] filimonov commented on #630
Actually, it should also be improved on ClickHouse side: https://github.com/ClickHouse/ClickHouse/issues/19570

[2021-01-25 13:25] Slach commented on #636
@ArtemChekunov

according to https://t.me/clickhouse_ru/200675
implementation of custom `kind: Service type: LoadBalancer`, for each clickhouse Cluster defined in `.spec.configuration.clusters` in already implements in operator sources,

but, unfortunatelly we miss implements `.spec.templates.clusterServiceTemplates[]`, `.spec.templates.shardServiceTemplates[]` and `.spec.templates.replicaServiceT

[2021-01-25 13:32] Slach commented on #636
@ArtemChekunov but you can implements mutiple clusters via following manifest
[code]

[2021-01-25 13:50] ArtemChekunov commented on #636
@Slach

I yeah
I went through the source code and made the proper configuration

however, I get confused that all service templates are defined in serviceTemplates
because some of them get defined as serviceTemplate and some as clusterServiceTemplate

and I didn't find the way to completely disable CHI-level load balancer
there is only one workaround to stop allocating IP's https://github.com/Alti

[2021-01-25 14:36] #636 closed

[2021-01-25 15:19] erikdubbelboer commented on #630
Why not both?

[2021-01-25 15:36] Slach commented on #630
@Enmk cause most of queries on current metrics exporter use UNION ALL ... and make in parallel on clickhouse side
but queries related to `system.parts` make a lot of "fstat syscall" for calculate all system.parts columns  instead of only requests,

so, `system.parts` related queries is the slowest part of generating `/metrics` endpoint

[2021-01-26 11:02] dav1d992 opened #638 "ZooKeeper: Host not found"
I have the [clickhouse operator ](https://github.com/Altinity/clickhouse-operator/blob/master/deploy/operator/clickhouse-operator-install.yaml) running inside my cluster and I'm trying to configure it with a ClickHouseInstallation inspired by [this chi example](https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/04-replication-zookeeper-04-medium-AWS-persistent-volume.yam

[2021-01-26 11:22] Slach commented on #638
did you create zookeeper installation in kubernetes zoo1ns ?
try to use
[code]

[2021-01-27 07:08] #638 closed

[2021-01-27 15:52] dav1d992 opened #639 "How to overwrite the default ports of my ClickHouse pod"
I have the [clickhouse operator ](https://github.com/Altinity/clickhouse-operator/blob/master/deploy/operator/clickhouse-operator-install.yaml) running inside my cluster and I'm trying to configure it with a ClickHouseInstallation which is show below.

I'm trying to overwrite the default tcp port number to 8321 by doing this

[code]

[code]

I can't seem to overwrite the ports of my clickhouse pod

[2021-01-27 16:45] Slach commented on #639
@dav1d992  reason for it is only one
you still using `serviceTemplate: chi-service-template` which generate kind: Service with ports 8123, 9000, 9009

[2021-01-28 06:39] Sallery-X commented on #633
Are there plans to support this feature

[2021-01-28 06:41] Sallery-X opened #640 "> No"
Are there plans to support this feature

_Originally posted by @Sallery-X in https://github.com/Altinity/clickhouse-operator/issues/633#issuecomment-768835299_

[2021-01-28 06:57] dav1d992 commented on #639
Thanks for your reply.
I think I forgot to mention that I had two seperate clusterIPs so the output of `kubectl get services` is

[code]
The serviceTemplate is there because I need to prevent the CH-operator from creating a loadbalancer.
I tried removing it as well so that there was no reference to any serviceTemplate but my chi-tornado-tornado-db-0-0  service still was pointing at the same defaul

[2021-01-28 07:20] Slach commented on #640
@Sallery-X could you describe what you exactly need?

[2021-01-28 07:25] #640 closed

[2021-01-28 07:32] Slach commented on #639
@dav1d992 look like you should use `clusterServiceTemplate` instead of `serviceTemplate`

[code]
and try to remove ports in following fragment  or define ports same as replicas section
[code]

[2021-01-28 08:02] dav1d992 commented on #639
@Slach Thanks for your reply. I just tried that and it looks like if serviceTemplate is replaced by clusterServiceTemplate the loadbalancer will be created which I'd like to avoid. Also removing the port specifications in the serviceTemplate changed the ports on the clickhouse-tornado ClusterIP. But didn't change the ports on the pod I wanted to change.

[code]

[2021-01-28 08:06] Sallery-X commented on #640
I mean to define custom remote_servers section

[2021-01-28 08:06] Sallery-X opened #641 "> define custom remote_servers section"
I mean to define custom remote_servers section

_Originally posted by @Sallery-X in https://github.com/Altinity/clickhouse-operator/issues/640#issuecomment-768875627_

[2021-01-28 08:47] alex-zaitsev commented on #641
You can do it, see this example:
https://github.com/Altinity/clickhouse-operator/blob/0282ca198ecbde670f919aa8d0438a00d4ffd97f/tests/configs/test-016-settings-01.yaml#L43

[2021-01-28 08:49] alex-zaitsev commented on #639
Hi @dav1d992 , you may need to override host ports first, look at this example:
https://github.com/Altinity/clickhouse-operator/blob/master/tests/configs/test-015-host-network.yaml

[2021-01-28 09:27] dav1d992 commented on #639
@alex-zaitsev Thank you for your answer. Your suggested changes worked the way I wanted it to. Here's my final ClickHouseInstallation:

Full installation.yaml
[code]

[2021-01-28 09:34] alex-zaitsev commented on #639
Great! We have not used this functionality for a while, glad it worked.

[2021-01-28 09:34] #639 closed

[2021-01-28 16:41] ben-efiz opened #642 "Direction for finding zookeeper issues"
Hello i am running a 1 shard 2 replica ClickHouse instance using clickhouse-operator. Actually everything is fine, incl. using ReplicatedMergeTree and 3 zookeeper instances. Data gets replicated correctly. But both the Grafana clickhouse operator board and ClickHouse show `ZooKeeperUserExceptions` respectively `system.errors`. I have issues finding the root cause and seeking for direction where to

[2021-01-28 18:02] Slach commented on #642
@ben-efiz try to execute `grep -r -i zoo /var/log/clickhouse-server/` on each clickhouse server pod

constantly increments ZookeeperUserExceptions is no good

[2021-01-29 06:12] dav1d992 opened #643 "Exposing the HTTPS port and the TCP Secure port"
I have the [clickhouse operator ](https://github.com/Altinity/clickhouse-operator/blob/master/deploy/operator/clickhouse-operator-install.yaml) running inside my cluster and I'm trying to configure it with a ClickHouseInstallation which is shown below.

I'm trying to expose the https port 8443 and the tcp secure port 9440, so that I can connect to my pod through those. What I've tried is:

**Attem

[2021-01-29 11:26] Slach commented on #643
All your attempts are right, but you just change only ClickHouse server settings inside clickhouse Pod

you also need to change `serviceTemplate` which render `Kind: Service`

to allow Kubernetes pass traffic to your pods

[code]

[2021-01-29 11:26] #643 closed

[2021-01-29 13:16] ben-efiz commented on #642
thx @Slach i did on each pod grep, e.g. `kubectl exec chi-ugcluster-production-0-0-0 -- grep -r -i zoo /var/log/clickhouse-server/` and the only lines i get back are expected logs i guess
[code]

The `KEEPER_EXCEPTION`s in ClickHouse are still growing though. In [StorageReplicatedMergeTree.cpp](https://github.com/ClickHouse/ClickHouse/blob/a7ca26fec44cc1d4e9d6785de67c755fcb41be54/src/Storages/Stor

[2021-01-29 14:25] Slach commented on #642
I can suggest set logger level as `trace`, `debug` is not enough, clickhouse-server rotate log files by default
https://clickhouse.tech/docs/en/operations/server-configuration-parameters/settings/#server_configuration_parameters-logger

[2021-01-29 14:26] Slach commented on #642
@ben-efiz do you have enough free space on Zookeeper disk? How you manager your Zookeeper installation?

[2021-01-29 15:35] ben-efiz commented on #642
Ok. Will set logger to trace for a while directly on the instances. Zookeeper is managed by above yaml on same cluster, same namespace as the clickhouse instances. Regarding storage i have one 20GB data mount and one 20GB datalog mount (was recommended to have two different ones). They are barely used yet (probably because its not yet running that long)

[code]

[2021-01-29 15:44] ben-efiz commented on #642
I found a warning
[code]
And thats actually exactly how its setup by clickhouse-operator anyway?

[code]

[2021-02-01 04:15] Slach commented on #642
listen issues not related to zookeeper user exception, look like inside your kubernetes cluster just now allow ipv6, and it's OK
please try to set trace level logging on clickhouse and investigate zookeeper related error messages

`ZooKeeperUserExceptions` on ClickHouse is not fatal
here is explained which error codes
https://github.com/ClickHouse/ClickHouse/blob/ac989f3a8fe8e2135e25ac7d6e340b0480

[2021-02-01 06:09] leoxhj opened #645 "events, events_local tables lost once pod is drifted to another node."
Hi folks,

Today we have tested below scenario:

* create a new clickhouse with 2shards, 2replicas using persistent volumes, list out correspodings nodes shown as follows:
[code]
* cordon node2

[code]
* delete pvc 1-1-0

* delete pod 1-1-0
* the pod 1-1-0 is rescheduled to another new node, let's say node3
* check events, events_local tables on instance 1-1-0, there are missing. (another 3 instan

[2021-02-01 20:07] ben-efiz commented on #642
Thx for clarification. Still the exceptions are cluttering a bit the Grafana monitoring and I simply like to understand where they are coming from. So my current understanding is they are generated inside CH engine and are fetched by Prometheus. And only `trace` level logging may reveal these issues right?

I added the logger settings as described [here](https://github.com/Altinity/clickhouse-oper

[2021-02-02 07:01] Slach commented on #642
Yes you understood correctly

`02-clickhouse-logger.xml` become from clickhouse-operator image, look to https://github.com/Altinity/clickhouse-operator/blob/master/config/config.d/02-clickhouse-logger.xml

could you check `/var/lib/clickhouse/preprocessed_configs/config.xml` inside clickhouse pods
and look what settings were applied after merge *.xml files?

could you share results of following SQ

[2021-02-02 08:57] ben-efiz commented on #642
@Slach thx again

and look what settings were applied after merge *.xml files?
[code]

I can see `<level>trace</level>` applied but still when grepping for Trace i get nothing
[code]
Search for trace and Trace reveals more but i guess trace_log is not the thing we are looking for
[code]

(jfyi i redacted db and table with `mydb` and `mytable`)
[code]

JFYI i see this also vi `zkCli.sh` on each of

[2021-02-02 10:21] Slach commented on #642
look like `<level>trace</level>`
just merged to `config.xml` via k8s ConfigMap, but not applied to `clickhouse-server` itself
could you restart clickhouse-server pods?

[2021-02-02 19:47] ben-efiz commented on #642
Interesting. When adding
[code]
to clickhouse yaml the PODs where restarted already but didn't show trace. Now i restarted manually (deleted pods) and now trace appears. How come it was not applied the first restart?

So to trace its now a lot to screen but from a first glance
[code]

It shows access denied issue with `myuser` which on purpose only has access to to the single db `mydb`. I gave the

[2021-02-03 04:08] Slach commented on #642
hm, really weird, and unexpected behavior, from my point of view

could you try to
[code]
maybe kubernetes console logs doesn't contains what do you need

could you also try to `less /var/log/clickhouse-server/clickhouse-server.log` search `INSERT` ... and try to follow with scroll until something like "execution end"?

[2021-02-03 08:19] Slach commented on #642
@ben-efiz if look to sources of clickhouse-server deeper,
most of ZookeeperUserException just catch and not log, cause ClickHouse use compare-and-swap in many cases,
so look like you can just ignore ZookeeperUserException but shall watch to `ZookeeperHardwareExceptions`

[2021-02-03 11:25] ben-efiz commented on #642
@Slach thx for all the effort! I also don't see anything using your grep so as you said it might be simply not logged. The trace logs show nothing between `executeQuery` and `Done processing query` of interest. I will create an issue on ClickHouse project and until then I have to live with it.

[2021-02-03 11:25] #642 closed

[2021-02-04 08:05] leoxhj opened #646 "inquiry regarding RBAC permission on service account: clickhouse-operator"
Dear team,

   we noticed the rbac for clickhouse-operator is binding to highest cluster role user: cluster-admin, this is not allowed for our production environment since we need to specify detail cluster resources and give out as minimum permission as possible to prevent security issues, would you kindly please advice on those specific resouces permission for the sa? e.g. pvc, pod, ...

Thanks.

[2021-02-06 01:55] Slach opened #647 "clickhouse-backup example and backup monitoring prometheus alerts"

[2021-02-15 00:02] electrical commented on #626
I personally prefer to use a separate setup zookeeper as I can control the details of it. There are a few good helm charts for it :-)
Of course the operator can take care of it, but will have to be optional then.

[2021-02-15 00:07] electrical opened #649 "Add prometheus metrics config by default"
Currently the prometheus config has to be added separately.
Since a lot of people will want to have metrics, perhaps it's useful to add it in the default config layout?

https://clickhouse.tech/docs/en/operations/server-configuration-parameters/settings/#server_configuration_parameters-prometheus

[2021-02-15 06:33] alex-zaitsev commented on #649
operator uses its own metrics-exporter that provides more data compared to the built-in ClickHouse Prometheus exporter. There is also a dedicated Grafana dashboard that is integrated with it: https://github.com/Altinity/clickhouse-operator/tree/master/grafana-dashboard

The operator's metrics-exporter has been designed before ClickHouse endpoint was available, and it is easier to adopt. Neverthele

[2021-02-15 09:09] electrical commented on #649
Ah perfect, thank you. I must have missed that. I'll have a look at the metrics and dashboard :-) Thanks!

[2021-02-16 00:15] dneuhaeuser-zalando opened #651 "Specifying clickhouse-log resources"
In our Kubernetes clusters we don't allow deploying pods without specifying resources. Unfortunately it seems the operator adds a `clickhouse-log` container without specifying resources and I haven't found a way to set them.

Is there something I'm overlooking or this just not supported right now? If it's not supported right now, could this be made configurable?

[2021-02-17 14:24] electrical commented on #649
Closing as there are existing metrics indeed and added the dashboard. Thank you for pointing me to it.

[2021-02-17 14:24] #649 closed

[2021-02-19 10:26] MisterTimn opened #653 "Unexpected metrics-exporter behavior"
I have set up the clickhouse operator and wanted to collect metrics from it. I use the prometheus operator as well so I just defined a service monitor to start scraping.

![2021-02-19-100032_1088x196_scrot](https://user-images.githubusercontent.com/4209558/108491799-a8f89b00-72a4-11eb-8529-6a6a3876acdd.png)
The job is up and running and I can see the scrapes coming in on the metrics-exporter throu

[2021-02-19 11:30] electrical opened #654 "Liveness probe failed: HTTP probe failed with statuscode: 502"
I'm seeing quite frequently the http liveness probe fail with a 502 error.
It's often a single check that fails as the pods never get actually restarted.
But it does happen quite frequently. For example 700+ times in 4 days on one of my nodes.
The nodes are barely used at the moment so it's not a resource issue as far as I can see.

[2021-02-19 11:34] alex-zaitsev commented on #654
@electrical , what operator version are you using? The liveness check has been adjusted between 0.13 and 0.13.5 to be less aggressive. However, we have not seen any significant issues with those.

[2021-02-19 12:25] electrical commented on #654
I'm currently using image `altinity/clickhouse-operator:0.13.5`

[2021-02-19 12:52] alex-zaitsev commented on #651
@dneuhaeuser-zalando , could you give a manifest example? Operator does not add clickhouse-log container by default, so I am not sure what you are talking about.

[2021-02-19 12:55] alex-zaitsev commented on #645
If you delete PVC, you delete the data. Operator can recover the schema, and ClickHouse may replicate from another replica, but it does not do it automatically now, only when some changes needs to be done to CHI. This is a good use case for a local storage, though, we will add FR to one of next releases.

[2021-02-19 12:57] #641 closed

[2021-02-19 14:10] Slach commented on #653
when you run repeatedly

[code]

is `chi_clickhouse_events_InstertedRows` metric changed?

[2021-02-19 15:03] MisterTimn commented on #653
This is what I get as response:
[code]

So apparently no clickhouse metrics are exported, only standard prometheus ones.

[2021-02-19 15:08] MisterTimn commented on #653
Your question made me look at the metrics-exporter version. I update the clickhouse operator image to stay with the latest stable release but i have never updated the metrics-exporter image version. Just bumped it to 0.9.9 and now I get the clickhouse metrics.

So I guess I can close this issue now? Might be good to add an entry to https://github.com/Altinity/clickhouse-operator/blob/master/docs/o

[2021-02-20 02:07] leoxhj commented on #645
as per current operator, we have workaround steps like below:
1. the pod is rescheduled to the new node with lossing schema and data
2. scale down one replica from chi yaml manifests
3. scale up back one replica

[2021-02-20 22:44] kushagra391 opened #655 "metrics-exporter not running"
It seems `metrics-exporter` has stopped running on our EKS cluster.
Am running it on an EKS cluster with a mix of spot and on-demand nodes.

[code]

- Is there a way to restart `metrics-exporter` ?

- And if possible, can we assign nodeSelector labels (to a running cluster) for the pods to attach to on-demand nodes ?
Not sure if its related to metrics-exporter going down.

Thanks a lot !

(operato

[2021-02-21 02:11] Slach commented on #655
2/2 means 2 from 2 containers  is ready and whole pod in running state

metrics-exporter it's  a second container in clickhouse-operator pod

just check
```kubectl exec -n kube-system clickhouse-operator-646b4b44fc-n684z  -c metrics-exporter -- wget -qO- http://127.0.0.1:8888/metrics```

[2021-02-21 02:11] #655 closed

[2021-02-21 03:52] kushagra391 commented on #655
@Slach

`kubectl exec -n kube-system clickhouse-operator-646b4b44fc-n684z -c metrics-exporter -- wget -qO- http://127.0.0.1:8888/metrics` works and i can see metrics dumped on the console.

but `http://localhost:9090/targets` shows the chop in a bad state.

<img width="1558" alt="Screen Shot 2021-02-20 at 7 46 20 PM" src="https://user-images.githubusercontent.com/8533562/108614992-7fc73000-73b4-11

[2021-02-21 04:22] kushagra391 commented on #655
sorry i misread the issue, `context deadline exceeded` could be happening due to one of https://stackoverflow.com/questions/49817558/context-deadline-exceeded-prometheus these reasons

I'll check although i still don't understand why those extra `metrics-server` pods / deployment are not present in one of my clusters.

[2021-02-21 04:30] kushagra391 commented on #655
i needed to update `scrape_timeout` and set `insecure_skip_verify: true`
[code]

its working now, although i still don't understand why those extra `metrics-server` pods / deployment are present in one of my clusters, and absent on the other one

[2021-02-21 13:01] Slach commented on #655
look like you have big database
5 seconds for scraping is much more than I see usual, how much in `SELECT hostName() h, count() FROM cluster('all-sharded', system.parts) GROUP BY h`  in your clickhouse clutser?

[2021-02-22 08:05] leoxhj opened #657 "operator is not creating sts and pods"
Dear team,
We have found opeartor isn't creating sts, and pods if `operator` and `clickhouse cluster` deployed in different namespaces.
Let's say operator has deployed in ns: `clickhouse-system`, and clusters have been deployed in ns: `clickhouse`, the result is we only see the chi is successfully created, but no sts, and pods, there's also no any logs came up if we check in operator pod.

But wei

[2021-02-22 08:38] Slach commented on #657
this is expected behavior, by default if clickhouse-operator installed on `kube-system` it will watch all namespaces for CRD
if operator install in other namespace, it look only current namespace

also, behavior is defined on
/etc/clickhouse-operator/config.yaml
on Watch Namespaces Section - `watchNamespaces` setting
[code]

you can edit `/etc/clickhouse-operator/config.yaml` it via edit ConfigMap

[2021-02-22 08:38] #657 closed

[2021-02-22 09:24] kushagra391 commented on #655
right now, its taking `9-12s` for each scrape

it's a 3 * 2 setup, for **prod**. ( < 1 TB per node)
but we also have a **staging** cluster, thats running fine (scrape time <1s), with similar data.
[code]

I need to take a deeper look into it.

Even though `http://localhost:9090/targets` now looks good, certain parts of the dashboards like Insert Queries, Select Queries, Inserted Bytes aren't showi

[2021-02-22 10:30] #653 closed

[2021-02-22 10:45] Slach commented on #655
@kushagra391  how you install prometheus in your environment? do you use `prometheus-operator`?
could you share your scraping configs?

[2021-02-24 18:51] electrical commented on #654
Looking at the liveness probe settings `timeoutSeconds: 1` is the default value. I guess it's a bit too short :-)
Perhaps changing it to 2 seconds or even 5 should be fine.

[2021-02-25 07:23] alex-zaitsev commented on #654
Well, it should be instant if ClickHouse HTTP server is up.

[2021-02-25 08:29] kushagra391 commented on #655
@Slach : yea, am using `prometheus-operator`, following these steps from the [dzone blog](https://dzone.com/articles/monitoring-clickhouse-on-kubernetes-with-prometheu)

only changes i need to make for my prod cluster is in [prometheus-template.yaml](https://github.com/Altinity/clickhouse-operator/blob/master/deploy/prometheus/prometheus-template.yaml#L13-L16), adding `scrape_timeout: 20s`
[code]

[2021-02-25 10:25] electrical commented on #654
From what I can see the CH instances are up constantly. I don't see any errors in the logs or anything that would indicate a problem. CH version 20.8.12.2

[2021-02-25 12:06] Slach commented on #655
please subscribe to https://github.com/ClickHouse/ClickHouse/pull/21035
I hope it can help us decrease scraping time, cause largest part of this it's a get custom metrics related to system.parts

[2021-02-25 19:57] kushagra391 commented on #655
sure, thanks !

[2021-03-01 08:06] pitwegner opened #661 "DB::Exception: Unknown setting default_database_engine"
Hi everyone,

I just installed the Clickhouse Operator and applied a very close example to repl-05 (2-replica, 2-shard with persistent storage). The Operator successfully completes the installation. However, the pods show the following error and are in a crash loop. Anything I'm doing wrong or missing here?

[code]

[2021-03-01 08:24] pitwegner commented on #661
Found the hint in the installation manifest. The setting `default_database_engine` is supported starting from version 20.4. I updated to 20.8 now.

[2021-03-01 08:24] #661 closed

[2021-03-01 09:41] warlock9600 opened #662 "Problem with changing default LB service to ClusterIP"
After updating CHI to add a service template using the ClusterIP service instead of the default LB, the CHI is in the "InProgress" state

If I remove CHI manually the LB is not removed, and if I manually remove the LB and redeploy the manifest with the CHI descriptions everything is fine

Kubernetes Provider - GKE, master and working versions 1.18.15-gke.1500

[2021-03-01 10:57] Slach commented on #662
could you share your CHI manifest before change a `serviceTemplate` and after?
When chi in `InProgress` state you can run `kubectl describe chi -n <chi_namespace> <chi_name>" and look to detailed description what exactly clickhouse-operator try to do with your `chi`

[2021-03-01 11:13] warlock9600 commented on #662
[chi-examples.zip](https://github.com/Altinity/clickhouse-operator/files/6061076/chi-examples.zip)
added my examples

tried this, but too later after deploy, the "events" section was empty

[2021-03-01 11:21] Slach commented on #662
both "before" and "after" manifests looks good

maybe you can share `clickhouse-operator` pod log?
`kubectl logs -n <clickhouse_operator_namespace> <clickhouse_operator_pod> --since=24h` ?

which clickhouse-operator version did you use?

[2021-03-01 13:40] warlock9600 commented on #662
I will try to reproduce the problem again and collect more facts.

we use `clickhouse-operator` 0.13.5

[2021-03-02 16:43] chicofranchico commented on #258
It's march 2021 ;-) Any news on this feature?

[2021-03-03 12:23] alexsuraykin opened #664 "SecurityContext lost "fsGroup" field"
I am trying run ClickHouse cluster through operator with non root containers. I've already found issue about wrong fs owner with restricted PSP https://github.com/Altinity/clickhouse-operator/issues/600. But I have another problem:

- Operator version: altinity/clickhouse-operator:0.10.0
- podTemplate:

[code]

In StatefulSet:

[code]

There is no "fsGroup" field.

[2021-03-03 13:43] Slach commented on #664
could you check issue on clickhouse-operator 0.13.5?
which kubernetes version do you use?

this example https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/03-persistent-volume-07-do-not-chown.yaml works fine and checked under our k8s 1.17 (EKS) and 1.20.4 (minikube)

[2021-03-04 11:40] xiedeyantu opened #665 "Why do I receive an update event notification every minute"
ch-operator version 0.13.5

There is no other operation after the cluster is created successfully

log

I0304 19:32:30.399541   27435 announcer.go:215] ensureFinalizer():ck/ck:finalizer already installed
I0304 19:32:30.399573   27435 announcer.go:215] controller.go:565:installFinalizer():start:ck/ck
I0304 19:32:30.682796   27435 announcer.go:215] controller.go:566:installFinalizer():end:ck/ck
I030

[2021-03-04 12:22] alexsuraykin commented on #664
I will try to deploy operator 0.13.5.
K8s 1.18 and 1.20.2

Also, if I use  podTemplate:

[code]

Pod is deployed with:

[code]

[2021-03-04 13:11] #665 closed

[2021-03-05 07:15] xiedeyantu opened #666 "Pods are restarted when new shards/replicas are added"
release 0.12.0 first improvement:
Pods are no longer restarted when new shards/replicas are added.
But it will be restarted until 0.13.5.
Because of some cluster scope label changes, pods are restarted.

clickhouse.altinity.com/chiScopeCycleOffset: "3"
clickhouse.altinity.com/chiScopeIndex: "3"
clickhouse.altinity.com/clusterScopeCycleOffset: "3"
clickhouse.altinity.com/clusterScopeIndex: "3"

Is

[2021-03-09 08:20] alex-zaitsev commented on #666
Hi @xiedeyantu, could you describe what you are doing in more detail? CHI would be helpful. It looks like you are using CircularReplication, but we do not understand how it can change the cycle index and offset for existing pods.

If there is still a problem, the proper fix would be to remove those labels completely, they are just for the reference.

[2021-03-09 12:57] xiedeyantu commented on #666
I have come up with a solution to this problem. The method is to update the labels of STS first, and then update STS. I have submitted a pr [#667](https://github.com/Altinity/clickhouse-operator/pull/667), you can see if it is feasible

[2021-03-09 17:31] UnamedRus opened #668 "Secure remote_servers section"
In order to use secure tcp port(9440 by default) while running distributed queries, it's need to add `secure` setting in `remote_servers` settings.
It would be great if clickhouse-operator could do that automatically (or at least we would be able to enable it via yaml) in case of using secure ports.

[code]

Also it would be great to have support for inter-server cluster secret.
https://github.com

[2021-03-10 06:39] chanadian opened #669 "Deploy releases PV causing pod not to find available nodes"
CH Version: 21.2.5.5

I am facing an issue where 1 pod will consistently release the PV on deploys.

The CH install is a cluster of 1 shard, 3 replica with:
- `local-storage` persistent volume, on AWS SSD
- Each replica should be on a separate node with `ShardAntiAffinity`
- Each replica has the same templated setup

On every cluster deploy, all replicas will restart fine except for replica-0-2-0.

[2021-03-19 17:36] DonHaul opened #670 "How do I setup max_concurrent_queries to a higher value?"
I am developing a clickhouse application that need a lot of queries per second, how can I setup the max_concurrent_files parameter?

Is it possible to put it inside here on the config file on the files configuration like so?
[code]
https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/05-settings-01-overview.yaml#L40

[2021-03-20 12:03] Slach commented on #670
according to
https://clickhouse.tech/docs/en/operations/settings/#session-settings-intro

you can just add
[code]

[2021-03-22 09:48] aksdb opened #671 "Operator irregularly crashes and wipes all pods"
We are running the ClickHouse Operator 0.13.5, and every few hours to days, suddenly all ClickHouse pods are gone. A few up to 30 minutes later they are slowly recreated.

Around the time this happens, the operator itself also restarts. Here are the last log lines (in more or less random order since they are unstructured and can therefore be not parsed by filebeat):

[code]

We are using Istio and

[2021-03-22 10:58] aksdb commented on #671
Here is the example from our dev environment:

[code]

We also came a bit closer to figuring out what might happen: the created StatefulSets get annotated with
[code]
(we are using flux, as you can see)

Therefore flux takes ownership and removed the statefulsets when applying changes. We are not (yet) sure, why the operator sets those annotations in the first place. Maybe they get copied over fro

[2021-03-22 11:56] aksdb commented on #671
The last part seems to be related to #487 .
So I guess the only part of this bug here that might be relevant is the panic/crash (because I assume that is not intended behavior :D)

[2021-03-23 08:50] alex-zaitsev commented on #664
So, what is wrong @alexsuraykin? fsGroup is correctly passed to the pod.

We use it in Altinity.Cloud as well.

[2021-03-23 08:54] alex-zaitsev commented on #647
Already done

[2021-03-23 08:54] #647 closed

[2021-03-24 09:16] DonHaul commented on #670
Thanks!

[2021-03-24 09:16] #670 closed

[2021-03-24 23:33] vinayak-mehta commented on #269
@sunsingerus I added custom annotations to my `ClickHouseInstallation` spec like below, applied it to my `clickhouse` namespace, and then brought up a new pod by killing the earlier one. The new pod didn't have these custom annotations though. Is this the correct way to go about it? Are there other ways this can be done?

[code]

[2021-03-25 10:50] Slach commented on #269
@vinayak-mehta you should use
`.spec.templates.podTemplates.metadata.annotation` instead of `.metadata.annotation`

in your case it will something like this
[code]

[2021-03-25 11:46] vinayak-mehta commented on #269
@Slach That worked! Thank you!

[2021-04-12 18:58] sunsingerus commented on #487
Implemented in #676
PR merged.
To be released in 0.14.0

[2021-04-12 18:58] #487 closed

[2021-04-13 00:58] farr-slmn commented on #664
@alexsuraykin, the thing is you use fsGroup in a non applicable object - containers. You have to put it next to it:
[code]
Ref: [Set the security context for a Pod](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod)

[2021-04-15 20:00] sunsingerus commented on #646
`clickhouse-operator` role is restricted with PR #675
PR is merged into 0.14.0 branch
Feel free to provide any feedback

[2021-04-15 20:03] sunsingerus commented on #634
done

[2021-04-15 20:03] #634 closed

[2021-04-15 20:05] sunsingerus commented on #578
implemented

[2021-04-15 20:07] sunsingerus commented on #516
k8s secrets implemented in 0.14.0 version, feel free to take a look

[2021-04-15 20:09] sunsingerus commented on #386
implemented in 0.14.0

[2021-04-16 03:07] Slach commented on #386
@sunsingerus could you share some links with CHI examples how to use this feature?

[2021-04-16 09:33] sunsingerus commented on #386
In CHOP config file one [can specify not only plan username/password, but also namespace/name of the secret](https://github.com/Altinity/clickhouse-operator/blob/a60317bfcbfc39604559573e2433049b34c90769/config/config.yaml#L94) where passwords are located. Credentials from the secret takes precedence in case both options provided. In case no secret provied, operator fallback to old approcah with pl

[2021-04-16 09:34] sunsingerus commented on #386
One more note - operator configuration can be presented as ConfigMap, there is no need to modify files backed in Docker image

[2021-04-16 13:27] TCeason opened #677 "ClickHouse-Operator reinstall the ClickHouse Cluster will be droped."
Version: 0.13.5

[code]

Now the ClickHouse Cluster already exists.

But when I run next shell, the Cluster will be droped.

[code]

[2021-04-19 10:26] vtreshchev opened #678 "operator configuration"
How to change the operator's configuration correctly?
When the config map is out of the mine, you need to restart the operator, which is inconvenient.
I tried to use the ClickhouseOperatorConfiguration crd, an entry appears in the logs:
I0415 08: 43: 33.394833 1 announcer.go: 215] addChopConfig (): clickhouse-operator / configuration-v1: new, previously unknown config, need to apply
but the config

[2021-04-19 10:35] alex-zaitsev commented on #678
Operator configuration changes are rare, therefore hot configuration deployment was not implemented. This is in TODO list, but not very high due to over priorities. For now pod restart is considered as an acceptable solution.

[2021-04-20 08:09] Slach commented on #677
when you said `kubectl delete -f operator.yaml`
do you mean you run `kubectl delete -f https://github.com/Altinity/clickhouse-operator/blob/master/deploy/operator/clickhouse-operator-install.yaml` which contains CRD + service + deployment definition?

so, when you delete whole CRD , all custom resources which related to this CRD also destroys

look like you should remove only deployment and servic

[2021-04-20 08:14] TCeason commented on #677
do you mean you run kubectl delete -f https://github.com/Altinity/clickhouse-operator/blob/master/deploy/operator/clickhouse-operator-install.yaml which contains CRD + service + deployment definition?

Hmm, Now I know it's a normal phenomenon. Thanks for your reply.

[2021-04-20 08:14] #677 closed

[2021-04-20 08:16] Slach commented on #677
usually, we just use the following command to re-install \ upgrade clickhouse-operator

[code]

[2021-04-23 05:48] apalmercari opened #681 "Undo last deployment of clickhouse cluster"
Sometimes if we give resource requirement which can't be completed by K8S then pods are in pending state.
Only solution is to vertically scale the nodes and complete the deployment .There's no option to undo the last deployment

[2021-04-23 06:11] Slach commented on #681
try to 0.14.0 clickhouse-operator release,
for example
`
git clone git@github.com:Altinity/clickhouse-operator.git
cd clickhouse-operator
git checkout 0.14.0
git pull origin 0.14.0
OPERATOR_NAMESPACE=<your_installed_operator_namespace> bash -x ./deploy/operator/clickhouse-operator-install.sh
[code]

[2021-04-23 06:22] apalmercari commented on #681
@Slach  Thank you will try this

[2021-04-23 07:36] apalmercari commented on #681
Yes, it takes almost 5-7 mins and then applies the new config

[2021-04-23 07:36] #681 closed

[2021-04-24 06:28] apalmercari commented on #681
@Slach just for information,
Is there any option to check the progress of the cluster deployments? It's difficult to check from logs.

[2021-04-24 13:53] Slach commented on #681
@apalmercari just use
`kubectl describe chi -n <your_chi_namespace> <your_chi_name>`
and see events

[2021-04-26 11:41] alex-zaitsev commented on #578
Fixed in https://github.com/Altinity/clickhouse-operator/releases/tag/0.14.0

[2021-04-26 11:41] #578 closed

[2021-04-26 11:41] alex-zaitsev commented on #386
Fixed in https://github.com/Altinity/clickhouse-operator/releases/tag/0.14.0

[2021-04-26 11:41] #386 closed

[2021-04-26 11:41] alex-zaitsev commented on #666
Fixed in https://github.com/Altinity/clickhouse-operator/releases/tag/0.14.0

[2021-04-26 11:41] #666 closed

[2021-04-26 11:53] alexsuraykin commented on #664
@farr-slmn, thanks a lot!

[2021-04-26 11:53] #664 closed

[2021-04-26 15:09] ossinkine opened #684 "Can't update Operator 0.13.5 to 0.14.0"
We have the running operator created by applying https://github.com/Altinity/clickhouse-operator/blob/0.13.5/deploy/operator/clickhouse-operator-install-template.yaml.
After apply https://github.com/Altinity/clickhouse-operator/blob/0.14.0/deploy/operator/clickhouse-operator-install-template.yaml we get an error `The ClusterRoleBinding "clickhouse-operator-clickhouse-operator" is invalid: roleRef:

[2021-04-26 15:30] alex-zaitsev commented on #684
Right, ClusterRoleBinding has been updated to remove unnecessary rights.

You can also upgrade via deployment change:
https://github.com/Altinity/clickhouse-operator/blob/master/docs/operator_upgrade.md

[2021-04-26 15:30] #684 closed

[2021-04-26 21:01] bilalbayasut commented on #653
I have the same problem , and yet my metrics-exporter version is `0.13.5`. any idea ?

[2021-04-26 23:49] juanvasquezreyes opened #685 "override chop-generated-users.xml"
Is there a way to override the file that is being generate on the fly chop-generated-users.xml

I created my own file chop-generated-users.xml because I didnt want to have the passwords hardcoded in ClickHouseInstallation definition, so instead of that I am pulling the passwords from vault and generated a secret that has the same structure as chop-generated-users.xml, but when trying to mount it f

[2021-04-27 04:11] TCeason opened #686 "How to install a ClickHouse Cluster on other ns?"
## Summary

| ClickHouse-Operator Version |
|:--:|
| 0.14.0 |

If I install a CHOP on ns `foo`, and I want to install the ClickHouse cluster in other ns `boo`, how to do it?

## Scene

I install `chop`  on ns `chop-altinity` and then I try to install a [simple.yaml](https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/01-simple-layout-01-1shard-1repl.yaml) in ns `default`.

[2021-04-27 06:05] Slach commented on #686
you shall change kubernetes configmap `etc-clickhouse-operator-files` in namespace `test-chop`
and add to data->`config.yaml` key

[code]

[2021-04-27 07:26] alex-zaitsev commented on #685
You can not override this file, but you can create another one and mount it inside users.d.

[2021-04-27 07:30] alex-zaitsev commented on #671
Hi @aksdb , try new 0.14.0 version. Also the RAM size for ClickHouse seems to be low, so it can be just killed by OOM.

[2021-04-27 07:32] alex-zaitsev commented on #662
Hi @warlock9600 , please try with 0.14.0 version. It actively reconciles all k8s objects, that may fix your issue.

[2021-04-27 07:35] TCeason commented on #686
In my `configmap` `etc-clickhouse-operator-files`, the [len(config.WatchNamespaces) == 0](https://github.com/Altinity/clickhouse-operator/blob/581cf315fc85527e637bc08152d4edd5490a5099/pkg/apis/clickhouse.altinity.com/v1/type_config_chop.go#L595). So [IsWatchedNamespace](https://github.com/Altinity/clickhouse-operator/blob/581cf315fc85527e637bc08152d4edd5490a5099/pkg/apis/clickhouse.altinity.com/v1

[2021-04-27 07:36] TCeason commented on #686
And I try to modify the configmap, but it still has this question:

[code]

[2021-04-27 07:36] alex-zaitsev commented on #646
Fixed in https://github.com/Altinity/clickhouse-operator/releases/tag/0.14.0

[2021-04-27 07:36] #646 closed

[2021-04-27 07:38] alex-zaitsev commented on #502
It is solved in 0.13.5+.

[2021-04-27 07:38] #502 closed

[2021-04-27 07:40] #512 closed

[2021-04-27 07:44] alex-zaitsev commented on #669
Hi @chanadian , could you attach the full CHI (mask sensitive data). Also, please consider trying the new version 0.14.0. It works more reliably with k8s resources.

[2021-04-27 07:50] Slach commented on #686
@TCeason configMaps updates inside pods during 60s timeout
also, you need restart clickhouse-operator to apply new config
so
`kubectl exec -n chop-altinity pod/clickhouse-operator-5c4cf66cc-wvsbz -c clickhouse-operator -- kill 1`
should help

after rest could you share following logs
`kubectl logs -n chop-altinity pod/clickhouse-operator-5c4cf66cc-wvsbz --since 1h`?

[2021-04-27 08:32] Slach commented on #653
@bilalbayasut
which namespace did you use to install clickhouse-operator deployment?

could you run
`kubectl -n <your_clickhouse_operator> -c metrics-exporter -- wget -qO- http://127.0.0.1:8888/chi` ?
it return something or just return empty `chi` list?

[2021-04-27 08:50] TCeason commented on #686
But why this is not work？Default chop will watch all namespaces.

[2021-04-27 09:17] bilalbayasut commented on #653
@Slach ```
[{"namespace":"default","name":"myapp","hostnames":["chi-myapp-clickhouse-0-0.default.svc.cluster.local","chi-myapp-clickhouse-0-1.default.svc.cluster.local"]}]
[code]

[2021-04-27 09:56] TCeason commented on #686
https://gist.github.com/TCeason/acdb371403c3d7844dfd531d3b9611da

[2021-04-27 10:10] Slach commented on #686
NO, operator will watch all namespaces only if they will installed into `kube-system` namespace, otherwise it will watch only same namespace where clickhouse-operator installed, chop-alinity in your case

so, you should uncomment #watchNamespaces:
and setup in config.yaml as I said https://github.com/Altinity/clickhouse-operator/issues/686#issuecomment-827338033
[code]
and restart clickhouse-opera

[2021-04-27 10:10] #686 closed

[2021-04-27 10:15] Slach commented on #653
@bilalbayasut ok. look like metrics-exporter monitor 2 nodes from 1 cluster

you can ensure to metrcis collected

`kubectl -n <your_clickhouse_operator> <your_clickhouse_operator_pod> -c metrics-exporter -- wget -qO- http://127.0.0.1:8888/metrics`

after it
how you deploy prometheus inside your kubernetes cluster?
if you use prometheus-operator
you also shall define custom resource `ServiceMonitor

[2021-04-27 10:23] bilalbayasut commented on #653
@Slach regarding metrics ,I only get this :

And for prometheus I installed it via helm prior to clickhouse, so I dont use prometheus installer provided here

[2021-04-27 10:33] Slach commented on #653
ok. let's ensure metrics-exporter can scrape metrics from CHI
[code]

[2021-04-27 12:03] bilalbayasut commented on #653
first one is
[code]

second one is a timeout @Slach

[2021-04-27 12:10] Slach commented on #653
sorry, i miss 8123 port

`kubectl exec -n <clickhouse_operator_namespace> <clickhouse_operator_pod> -c metrics-exporter -- wget -qO- "http://myusername:mypassword@chi-myapp-clickhouse-0-0.default.svc.cluster.local:8123?query=SELECT Version()"`

[2021-04-27 12:11] juanvasquezreyes commented on #685
thank you @alex-zaitsev, does the name matter?

[2021-04-27 12:12] bilalbayasut commented on #653
I got `ssl_client: chi-myapp-clickhouse-0-0.default.svc.cluster.local: handshake failed: error:1408F10B:SSL routines:ssl3_get_record:wrong version number`

[2021-04-27 12:20] Slach commented on #653
hmm, looks weird, 8123 port should be HTTP only interface

could you share
`kubectl get chi -n default myapp -o yaml`

and
`kubectl exec chi-myapp-clickhouse-0-0 -n default -- grep 8123 -r /etc/clickhouse-server/`

[2021-04-27 12:25] bilalbayasut commented on #653
@Slach I tried to see log of `metric-exporter` and got this though
[code]

[2021-04-27 12:40] Slach commented on #653
hmm, could you check

`kubectl exec chi-myapp-clickhouse-0-0 -n default -- cat /etc/clickhouse-server/config.d/chop-generated-users.xml`?

[2021-04-27 12:46] bilalbayasut commented on #653
that file is not exist. but there is in configmap
[code]

[2021-04-27 12:55] Slach commented on #653
sorry, miss users.d instead config.d
`kubectl exec chi-myapp-clickhouse-0-0 -n default -- cat /etc/clickhouse-server/users.d/chop-generated-users.xml`

so, look like you install clickhouse operator with one chUsername + chPassword
but you remove it from users, or replace it manually in configmap?

[2021-04-27 12:57] alex-zaitsev commented on #685
Any XML file inside users.d will be merged to the configuration. Also look at this example https://github.com/Altinity/clickhouse-operator/blob/eb3fc4e28514d0d6ea25a40698205b02949bcf9d/tests/configs/test-016-settings-01.yaml -- there are multiple ways how users can be configured. It probably does not allow you to use secrets though.

[2021-04-27 12:58] bilalbayasut commented on #653
the result is exactly the same @Slach . I install clickhouse with modifying default user (which is default operator) and add one user via template which later also can be edited in configmap as in the docs

[2021-04-27 13:12] Slach commented on #653
ok.
echo "mypassword" | sha256sum
show exactly same whihc contains in
`<password_sha256_hex>XXXXX</password_sha256_hex>` ?

[2021-04-27 13:13] bilalbayasut commented on #653
yes it works, turns out the default profile is not matched with the one I modified . thanks @Slach for your help, really appreciate it :)

[2021-04-27 13:25] juanvasquezreyes commented on #685
@alex-zaitsev I was able to generate the file inside of the clickhouse pod, but I cannot add it in the existing directory because is mounted as read-only

so I have to mount it as read/write or modify the configmap on the fly somehow

this is my ClickHouseInstallation kind, as you can see my secret contains the users.xml and right now I'm mounting it in /tmp cause when using the correct directory

[2021-04-27 14:35] alex-zaitsev commented on #654
The current LivenessProbe has the following settings:
[code]
So it would try 30 seconds before giving up.

@electrical , do you still have this issue?

[2021-04-27 14:44] electrical commented on #654
@alex-zaitsev I'm still hitting the issue yeah. Although after further investigation I don't think it's an issue with the liveness probe itself but with Clickhouse since it returns an actual 502 error.
I recently upgraded to 21.3.6.55 and still seeing the issue.
Can you think of anything I could debug on the CH side to find out why it does this?
The CH instances have enough CPU and memory assigned

[2021-04-27 18:23] chanadian commented on #669
Thanks we will try 0.14.0. We tried 0.13.5 and same issue was happening.

Some more debugging info:
- EC2 instance is i3.2xl (https://aws.amazon.com/ec2/instance-types/i3/)
- volume claim is for 400Gi and PV is 1000Gi
- 1 shard, 3 replicas with shard anti affinity to keep each replica on different hosts

Here's a sample of our CHI:

[code]

Here's the PV yaml:

[code]

[2021-04-28 03:35] TCeason commented on #686
In my mind:

A K8S Cluster should only have one ClickHouse-operator to control the whole ClickHouse clusters.

So that the Chop should watch all ns. In [default](https://github.com/Altinity/clickhouse-operator/blob/581cf315fc85527e637bc08152d4edd5490a5099/pkg/apis/clickhouse.altinity.com/v1/type_config_chop.go#L593) it is.

So I can deploy a Helm chart that don't care about this.

But if I must ma

[2021-04-28 03:40] TCeason commented on #686
In my mind I want to do this:

set `watchNamespaces:[]` in cm `etc-clickhouse-operator-files` then run next shell:

[code]

And then the cluster should be created on ns `cluster`.

In your comment, you mean I should set `watchNamespaces:["cluster"]` in cm `etc-clickhouse-operator-files` then run these shell commands.

But if I want to deploy a ClickHouse Cluster on other cluster,  Whether the  cli

[2021-04-28 05:00] Slach commented on #686
@TCeason if you want clickhouse-operator watch all clusters in all namespaces , just once install clickhouse-operator to `kube-system` namespace, it's all

[2021-04-28 05:12] TCeason commented on #686
Yes,you are right. But I see other operators like grafana they can install on ns `grafana` and then they can watch all product on the k8s cluster.

Just trying to explore a best practice.

[2021-04-28 05:33] Slach commented on #686
there is no standardized behavior here
maybe we can apply `watchNamespaces: - *` as solution for your corner case

@sunsingerus @alex-zaitsev could you share your opinion?

[2021-04-29 03:05] liamnv opened #687 "Data not replicate"
I have deployed one cluster with 2 shards, 2 replicas with following configuration:

[code]

But after that I connected with DBEaver, create a database but it affected only to one instance.

[2021-04-29 05:56] Slach commented on #687
@liamnv did you try to `CREATE DATABASE IF NOT EXISTS db_name ON CLUSTER 'all-sharded'` ?

[2021-04-29 13:09] johnpptz opened #688 "Add support for add custom affinity rules for ClickHouse pods"

[2021-04-29 13:22] Slach commented on #688
which kind of affinity rules do you need?
Currently operator already have make affinity rules in `spec.tempates.podTemplates`
https://github.com/Altinity/clickhouse-operator/search?q=affinity&type=code

[2021-04-29 13:27] johnpptz commented on #688
For example i would like to create this rules

[code]

[2021-04-29 13:30] johnpptz commented on #688
Thanks for the answer. I found the solution.
I will close the issue.

https://github.com/Altinity/clickhouse-operator/blob/eb3fc4e28514d0d6ea25a40698205b02949bcf9d/docs/chi-examples/10-zones-03-advanced-03-pod-per-host-default-storage-class.yaml

[2021-04-29 13:30] #688 closed

[2021-04-30 03:56] Sallery-X opened #689 "Does expand the capacity of the cloud disk need to restart the pod?"

[2021-04-30 04:35] Slach commented on #689
it depends on CSI storage provider and storage class, AWS EBS CSI can resize volumes without pod restart
https://www.jeffgeerling.com/blog/2019/expanding-k8s-pvs-eks-on-aws

[2021-04-30 05:43] Sallery-X commented on #689
I known that, and I want to know If I expand cloud disk by the modifying CR, does the operator recreate statefulset?

[2021-04-30 05:43] Sallery-X commented on #689
I known that, and I want to know If I expand cloud disk by the modifying CR, does the operator recreate statefulset?

[2021-04-30 17:58] skob commented on #260
hi
any news here?

[2021-04-30 21:54] filimonov commented on #654
I'm wondering where does it come from. That does not sounds like clickhouse response. But lot of loadbalancers (and similar stuff) loves to use 502 code. But health check should go to a pod directly... So that's strange.

[2021-04-30 22:49] alex-zaitsev commented on #689
Yes, operator re-creates the statefulset with modified volume claim template.

[2021-04-30 22:49] #689 closed

[2021-05-03 13:29] electrical opened #690 "Resource detection incorrect"
Not as much as a bug since I understand how it happens but wondering how to solve this.
As in the logs below it detects the resources available of the host system and not what the docker container is limited to.
The docker resource limits are set so I wonder how I can set the correct max_server_memory_usage for the instances.

[code]

[2021-05-03 13:31] electrical commented on #687
Also, for data replication make sure you use the `replicatedMergetree` engine.

[2021-05-04 14:48] electrical opened #691 "runAsNonRoot"
In general it's best practice to run processes as a non root user.
Because of that I've enabled checking for the securityContext settings to enforce it

I see in the clickhouse docker container it already does run as the user `clickhouse` but it's not enforced in the stateful set that gets created.
Would it have any adverse effects to add this to improve security?

[2021-05-05 06:10] alex-zaitsev commented on #691
We do not have it by default, but you can enable it in your ClickHouseInstallation:
[code]

[2021-05-05 08:48] ansou-naboty opened #692 "Cannot use m: map[string]*Setting in ChiSpec{Configuration {Users, Settings}"
Im a software engineer working for [www.opensee.io](www.opensee.io) and we use clickhouse as a database column oriented.

I use the clientSet to create **Customn ressource** .

In your tag v0.14.0 there is a new change from `type Settings map[string]*Setting` to

[code]
The field m should be Uppercase, if not an error like  unkown field m in struct  literal wil be raise when this call outise of th

[2021-05-05 20:18] electrical commented on #654
I've opened an issue in the Clickhouse repo it self, see if more comes out of that.

[2021-05-06 16:02] juanvasquezreyes opened #694 "Backup interval Question"
I'm trying to use clickhouse-backup I'm using this as example https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/03-persistent-volume-07-do-not-chown.yaml

I was just wondering how often the backup script is running? or is something that we have to control at the command?

[2021-05-06 16:34] Slach commented on #694
this example just run clickhouse-backup server which provide REST API for create \ upload \ delete \ restore backups
you should manually create `kind: CrontabJob`

which run something like
[code]

[2021-05-06 16:41] juanvasquezreyes commented on #694
thank you, this was really helpful

I guess another approach is instead of using clickhouse-backup server option could be something like this
clickhouse-backup -c config.yml create && clickhouse-backup -c config.yml upload && **sleep** 1h

but I thought there was an option to provide an interval, your solution is so much better though, thank you

[2021-05-06 16:41] #694 closed

[2021-05-06 16:49] juanvasquezreyes commented on #694
forgot to ask if your solution can be used for incremental backups https://github.com/AlexAkulov/clickhouse-backup/issues/81#issuecomment-594715949

[2021-05-06 17:24] Slach commented on #694
you need know name previous backup
so you can try get backup list, something like this
```curl -sL http://...:7171/backup/list | grep remote | jq .name```

latest version of clickhouse-backup currently doesn't support diff backup
you should test restore for your real data

[2021-05-07 01:00] electrical commented on #654
Tried to debug what I can and weirdly enough the problem disappeared despite it being around for quite a long time.
I'm going to close the issue and will debug further if it happens again.
Thank you so much for the assistance.

[2021-05-07 01:00] #654 closed

[2021-05-07 02:29] TCeason commented on #294
If set empty just only watch the ns where operator was installed.

https://github.com/Altinity/clickhouse-operator/issues/686

[2021-05-07 02:51] cpumanaz commented on #558
@alex-zaitsev @mattfarina I was checking Helm Hub today and did not see any official chart yet.  Is there any update on Altinity supporting Helm as an install method officially?

[2021-05-07 02:59] Slach commented on #558
@cpumanaz feel free to try to make PR, which will provide missing helm charts
I think we need two helm charts,
first to install operator + CRDs + clickhouse_operator secrets credential to selected namespace
second to allow install custom resources which will apply kind: ClickhouseInstallation , kind: ClickhouseInstallationTemplate

[2021-05-07 12:34] sagarshrestha24 opened #696 "Adding new shard in existing clickhouse installation"
is it possible that we can add  new shard in existing clickhouse installation.
now i have this configuration

 clusters:
      - name: replicated
        layout:
          shardsCount: 2
          replicasCount: 2

i want to add one shard i.e "shardCount 3" with replicas 2

[2021-05-07 13:34] Slach commented on #696
just edit custom resource kind: ClickhouseInstallation, setup `shardsCount: 3` and apply yaml manifest

[2021-05-07 13:38] rgangoni opened #697 "Taking so much time when we Added new shard to running Clickhouse installation"
my configuration is
shard count: 2
replica count: 2
working fine all shards are running

Added one  more shard  to running installation
shard count: 3
replica count: 2

why already running pods or shards  are going into pending state?
Taking too much time it is showing in progress.

Currently i have five Nodes in place.
I also have the required PV's in place.

**Requirement:**
*  Can i increase sh

[2021-05-07 14:02] sagarshrestha24 opened #698 "Adding new shard in existing clickhouse installation"
is it possible that we can add  new shard in existing clickhouse installation.
now i have this configuration

 clusters:
      - name: replicated
        layout:
          shardsCount: 2
          replicasCount: 2

i want to add one shard i.e "shardCount 3" with replicas 2

[2021-05-07 14:26] Slach commented on #697
which version of clickhouse-operator do you use?

[2021-05-07 14:40] rgangoni commented on #697
Clickhouse Operator verrsion: 1.13.5
Clickhouse Server version: 20.7

On Fri, 7 May 2021 at 19:56, Eugene Klimov ***@***.***> wrote:

[2021-05-07 14:43] rgangoni commented on #697
If we remove the shard  from shard count :3  to 2
Taking some hours of time  it is in  in progress

On Fri, 7 May 2021 at 20:10, Rajesh Gangoni ***@***.***>
wrote:

[2021-05-07 16:48] Slach commented on #697
could you try to use latest clichouse-operator 0.14.0 ?
and could share
```kubectl logs -n <operator-namespace> <clickhouse-operator-pod> --since=24h``` ?

[2021-05-09 14:55] electrical commented on #691
Finally got around testing it and works great. Thank you! since it's security best practice perhaps you might want to consider to enable this by default :-)

[2021-05-13 09:34] macobo opened #700 "Feature request: Allow initializing users based on secrets"
## Background

Currently, when creating a `ClickhouseInstallation` you need to either pass the password or sha256 hex of the password in the k8s manifest.

It would be great if it was possible to use secrets for this purpose as well, similar to how it's done with `config.yaml` and `chCredentialsSecretNamespace`/`chCredentialsSecretName`. This comes in handy when used in helm charts as it would all

[2021-05-14 08:44] Slach commented on #700
@macobo you can already store passwords into Secrets and use it inside clickhouse

look to following manifest:
[code]
it should works for any clickhouse version (from_env availabil from 18.x) and clickhouse-operator v0.13.0+ (we recommends to use 0.14.0 for production)

[2021-05-14 08:44] #700 closed

[2021-05-14 09:26] sagarshrestha24 opened #701 "Pod Is in pending state"
when there is shard 2 with replica 2 all pod are in running state.
if i kept shard  3 with  replica  2 , one pod is in pending state with this error
"0/9 nodes are available: 1 node(s) didn't match pod affinity/anti-affinity, 8 node(s) had volume node affinity conflict."
![image](https://user-images.githubusercontent.com/76894861/118250636-65d64e80-b4c6-11eb-904f-464f0061d2e5.png)

when i describe

[2021-05-14 10:02] alex-zaitsev commented on #701
This is a kubernetes error about non-sufficient resources. Check your available nodes or autoscaling groups of the cluster

[2021-05-14 10:02] #701 closed

[2021-05-14 10:03] alex-zaitsev commented on #698
Yes, just modify:
[code]

[2021-05-14 10:03] #698 closed

[2021-05-14 10:06] alex-zaitsev commented on #690
You can specify 'max_server_memory_usage' in server settings.
[code]

[2021-05-14 10:13] alex-zaitsev commented on #685
Hi @juanvasquezreyes,
ClickHouse allows to pass data to configuration via environment variables. See:
https://github.com/ClickHouse/ClickHouse/blob/9f5cd35a6963cc556a51218b46b0754dcac7306a/tests/integration/test_config_substitutions/configs/config_env.xml
https://github.com/ClickHouse/ClickHouse/blob/9f5cd35a6963cc556a51218b46b0754dcac7306a/tests/integration/test_config_substitutions/configs/confi

[2021-05-14 10:17] Slach commented on #685
@juanvasquezreyes also, look to https://github.com/Altinity/clickhouse-operator/issues/700#issuecomment-841106068
you can add `files` section inside `ClickHouseInstallation.spec.clusters[]`
it will mount into /etc/clickhouse-server/conf.d/
and use `from_env` + env to allow data from your secrets inside clickhouse config

[2021-05-14 12:51] sagarshrestha24 commented on #701
it is due to pv issue or not ?

[2021-05-14 14:01] sagarshrestha24 commented on #701
i have available resources why showing this error

[2021-05-14 17:29] juanvasquezreyes commented on #685
great!! this is what I was looking for, will give it a try

[2021-05-17 03:46] sagarshrestha24 opened #702 "Volume Node Affinity conflict"
when there is shard 2 with replica 2 all pod are in running state.
if i kept shard 3 with replica 2 , one pod is in pending state with this error
"0/9 nodes are available: 1 node(s) didn't match pod affinity/anti-affinity, 8 node(s) had volume node affinity conflict."

![image](https://user-images.githubusercontent.com/76894861/118429872-70752b80-b6f2-11eb-8f2a-61176103f4ee.png)

when i describe t

[2021-05-17 09:37] #687 closed

[2021-05-17 17:14] juanvasquezreyes commented on #700
@Slach its not working for me this is my configuration

[code]

it is setting the default password for the two users 37a8eec1ce19687d132fe29051dca629d164e2c4958ba141d5f4133a33f0688f

for clickhouse I'm using this version yandex/clickhouse-server:21.3 and for clickhouse-operator altinity/clickhouse-operator:0.14.0, both are using imagePullPolicy: Always

[2021-05-18 13:40] sagarshrestha24 opened #703 "Cannot use any of provided ZooKeeper nodes"
while creating databases it showing error

CREATE DATABASE test ON CLUSTER test
Received exception from server (version 20.7.4):
Code: 999. DB::Exception: Received from localhost:9000. DB::Exception: Cannot use any of provided ZooKeeper nodes (Bad arguments)

this error occur by adding two shard

previous it has
shard-2
replica-2
it this configuration it will create a databases

but now it has
sha

[2021-05-19 07:18] ansou-naboty commented on #692
@Slach @erikdubbelboer, could you have a look on that issue i've oppened 14 day ago !!

[2021-05-20 19:51] filimonov commented on #700
Hm. Please TRY removing those fragments:

[code]

And
[code]

[2021-05-20 21:05] juanvasquezreyes commented on #700
@filimonov I just changed it, and still cannot get inside using the secret password, this is my new clickhouseinstallation

[code]

And in the logs I see it got merged
[code]

[code]

[2021-05-20 21:32] filimonov commented on #700
Do kubectl exec bash and examine the content of /var/lib/clickhouse/preprocessed_config/users.xml in the original and changed version

[2021-05-20 22:09] juanvasquezreyes commented on #700
maybe the folder is not correct because in this latest test I see the following and I dont see that file being processed

[code]

and the file is here cat **/etc/clickhouse-server/config.d/user_passwords.xml**
[code]

[2021-05-20 22:42] filimonov commented on #700
The path is wrong... It should be in /etc/clickhouse-server/users.d/user_passwords.xml

[2021-05-20 22:43] filimonov commented on #700
Try to do it like here: https://github.com/Altinity/clickhouse-operator/blob/eb3fc4e28514d0d6ea25a40698205b02949bcf9d/tests/configs/test-016-settings-04.yaml#L39

[2021-05-21 07:51] rgeraskin opened #704 "Quickstart doc ambiguity: CHI namespaces"
In quickstart doc we see the `Create Custom Namespace` [section](https://github.com/Altinity/clickhouse-operator/blob/867ce241b0854027a1f044226eda3af4ad3d4430/docs/quick_start.md#create-custom-namespace):

But later in the `Trivial example` [section](https://github.com/Altinity/clickhouse-operator/blob/867ce241b0854027a1f044226eda3af4ad3d4430/docs/quick_start.md#trivial-example), we install the Cl

[2021-05-21 10:17] erikdubbelboer commented on #692
I'm not a maintainer of this project so I can't do anything about this.

[2021-05-21 16:50] juanvasquezreyes commented on #700
yeah, that works!! thank you

[2021-05-23 04:13] Slach commented on #700
@juanvasquezreyes
`files:` section shall be inside `cluster` instead of `configuration` in your comment
https://github.com/Altinity/clickhouse-operator/issues/700#issuecomment-842493633
then it will mount in "conf.d" instead of "config.d"
and all will works

[2021-05-23 15:21] Slach commented on #694
@sushraju it's a complicated task, try to ask @AlexAkulov

[2021-05-23 17:33] Slach commented on #701
by default clickhouse-operator create one StatefulSet inside one k8s node
so if you try to run a cluster with 3 shards x 3 replicas in each shard, you need 9 Kubernetes nodes
could you share your kind: ClickHouseInstallation custom resource?

[2021-05-27 13:28] Pupti opened #708 "How to downlink the specified node？"
## version

k8s v1.17.5
clickhouse-operator  0.11.0
clickhouse  21.5.5.12

## Expectations and attempts

I have three nodes in my ch cluster and I want to offline the `node1` node, but when I change the `shardsCount` to 2 and change the scheduling conditions so that the pod is not scheduled to `node1`

[code]
The scheduling strategy is as follows, `node3` has the tag `status : offline`

[code]

Af

[2021-05-28 05:01] sagarshrestha24 opened #709 "Clickhouse Service access with Node IP"
when we port-forward the service of clickhouse with username and password it connected sucessfully.

But when we access with nodeip:nodeport with same username and password it says DB authentication issue

![image (5)](https://user-images.githubusercontent.com/76894861/119931611-64665500-bfa1-11eb-85a2-243ffa4846dd.png)

Clickhouse-operator version : 0.14.0
kubernetes version:v1.20.5

[2021-05-28 06:15] Slach commented on #709
look like you fail with host_regexp, check `/etc/clickhouse-server/users.d/chop-generated-users.xml`

and try to define
[code]

[2021-05-28 07:47] sagarshrestha24 commented on #709
This is my file etc/clickhouse-server/users.d/chop-generated-users.xml
here what should i change here

            <users>
                    <admin>
                        <networks>
                            <host_regexp>(chi-test-[^.]+\d+-\d+|clickhouse\-repl-test)\.test\.svc\.cluster\.local$</host_regexp>
                            <ip>::1</ip>
                            <ip>127.0.0.1</i

[2021-05-28 07:58] Slach commented on #709
@sagarshrestha24 you should change your k8s manifest `kind: ClickhouseInstallation`
as i described here https://github.com/Altinity/clickhouse-operator/issues/709#issuecomment-850167913

[2021-05-28 08:56] sagarshrestha24 commented on #709
i got this issue
cannot load data for command line suggestions: Code: 60, e.displayText() = DB::Exception: Received from <ip> DB::Exception: Table system.errors doesn't exist..

[2021-05-28 10:39] sagarshrestha24 commented on #709
thanks it working fine

[2021-05-28 10:39] #709 closed

[2021-05-31 03:44] sagarshrestha24 opened #711 "Monitoring clickhouse-operator with grafana"
i have follow the article of Setup Grafana monitoring while using script "install-grafana-with-operator.sh " i got stuck there only with this issue

![image](https://user-images.githubusercontent.com/76894861/120136796-af2adb80-c1f2-11eb-9ede-9ccf68a5c406.png)

i have login to grafana there is no plugins added in there i.e clickhouse datasource

i have checked logs of garafana-service there is err

[2021-05-31 04:12] #702 closed

[2021-05-31 06:29] Slach commented on #711
grafana-operator team move crds to config folder

could you check
https://github.com/Altinity/clickhouse-operator/pull/706/files
and
https://github.com/Altinity/clickhouse-operator/tree/0.15.0/deploy/grafana
instead of use current master?

[2021-05-31 06:36] sagarshrestha24 commented on #711
second link is for all changes made

[2021-05-31 06:49] sagarshrestha24 commented on #711
![image](https://user-images.githubusercontent.com/76894861/120151896-8d3e5280-c20c-11eb-8a8c-f961092998ca.png)
i got this issue

[2021-05-31 07:30] Slach commented on #711
@sagarshrestha24 did you try to install prometheus ?
look to
https://github.com/Altinity/clickhouse-operator/tree/0.15.0/deploy/prometheus

[2021-05-31 07:39] sagarshrestha24 commented on #711
yes but i got same issue of above

[2021-05-31 07:53] Slach commented on #711
@sagarshrestha24 could you share log after run
[code]

[2021-05-31 08:00] sagarshrestha24 commented on #711
+ echo 'Install Prometheus DataSource'
      Install Prometheus DataSource
      + kubectl apply --validate=yes --namespace=grafana -f /dev/fd/63
      ++ cat /home/saroj.joshi/clickhouse-operator/deploy/grafana/grafana-with-grafana-operator/grafana-data-source-prometheus-cr-template.yaml
      ++ GRAFANA_PROMETHEUS_DATASOURCE_NAME=clickhouse-operator-prometheus
      ++ PROMETHEUS_URL=http://prom

[2021-05-31 09:38] Slach commented on #711
`kubectl version` ?

[2021-05-31 09:57] sagarshrestha24 commented on #711
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.5", GitCommit:"6b1d87acf3c8253c123756b9e61dac642678305f", GitTreeState:"clean", BuildDate:"2021-03-18T01:10:43Z", GoVersion:"go1.15.8", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.17", GitCommit:"f3abc15296f3a3f54e4ee42e830c61047b13895f", GitTreeState:"clean", Buil

[2021-05-31 10:01] sagarshrestha24 commented on #711
i am stock here now it is not installing plugins

    If you do not agree with specified options, press ctrl-c now
    Apply options now...
    Install Grafana
    grafana.integreatly.org/grafana unchanged
    Waiting Grafana 'grafana/grafana' to start...DONE
    Install Prometheus DataSource
    grafanadatasource.integreatly.org/clickhouse-operator-prometheus unchanged
    Waiting for Grafana Dat

[2021-05-31 10:42] Slach commented on #711
you didn't run
bash -x ./deploy/prometheus/create-prometheus.sh

[2021-05-31 10:45] sagarshrestha24 commented on #711
i have run that command

      alertmanager-alertmanager-0            2/2     Running   0          142m
      prometheus-operator-845f6fb968-pkgvp   1/1     Running   0          166m
      prometheus-prometheus-0                2/2     Running   1          166m

[2021-05-31 10:48] Slach commented on #711
ok.
let's check log inside grafana again
please share resulsts of
`kubectl get logs -n grafana deployment/<grafana-deployment-name> --since=1h`

[2021-05-31 10:49] sagarshrestha24 commented on #711
t=2021-05-31T09:30:47+0000 lvl=eror msg="Failed to read plugin provisioning files from directory" logger=provisioning.plugins path=/etc/grafana/provisioning/plugins error="open /etc/grafana/provisioning/plugins: no such file or directory"
    t=2021-05-31T09:30:47+0000 lvl=eror msg="Can't read alert notification provisioning files from directory" logger=provisioning.notifiers path=/etc/grafana/pro

[2021-05-31 10:52] sagarshrestha24 commented on #711
while running last script i got stuck here only

    Install Operator dashboard
    + kubectl apply --namespace=grafana -f /dev/fd/63
    ++ cat /home/saroj.joshi/clickhouse-operator/deploy/grafana/grafana-with-grafana-operator/grafana-dashboard-operator-cr-template.yaml
    ++ GRAFANA_DASHBOARD_NAME=clickhouse-operator-dashboard
    ++ GRAFANA_PROMETHEUS_DATASOURCE_NAME=clickhouse-operator-promet

[2021-05-31 10:56] Slach commented on #711
"Dashboard not found"
mean you tried to open dashboard in web UI
after restart grafana

"can't read alert notification" it's standard error message when grafana deployed under grafana-operator

could you share list running container images in grafana namespace?
[code]

`grafana-deploymen-XXX` pod should contains
`grafana-plugins-init` container with `quay.io/integreatly/grafana_plugins_init:0.0.3`

[2021-05-31 10:59] sagarshrestha24 commented on #711
grafana-deployment-79cf864bc7-4c8cq:	docker.io/grafana/grafana:7.3.10,
grafana-operator-554dc6f55b-tm99l:	quay.io/integreatly/grafana-operator:v3.10.1,

[2021-05-31 11:09] sagarshrestha24 commented on #711
grafana-plugins-init container with quay.io/integreatly/grafana_plugins_init:0.0.3 image in completed state
could you try to share log inside this container?

how to get logs of this container

[2021-05-31 11:24] Slach commented on #711
`kubectl get logs -n grafana pods/grafana-deployment-79cf864bc7-4c8cq -c grafana-plugins-init --since=24h`

[2021-05-31 11:27] sagarshrestha24 commented on #711
i got no logs
i got this only
Error: unknown shorthand flag: 'c' in -c
See 'kubectl get --help' for usage.

[2021-05-31 11:43] Slach commented on #711
replace "get logs" to "logs"

[2021-05-31 11:45] sagarshrestha24 commented on #711
i got no logs

[2021-05-31 11:54] Slach commented on #711
[code]

[2021-05-31 12:10] sagarshrestha24 commented on #711
dnsPolicy: ClusterFirst
        initContainers:
        - env:
          - name: GRAFANA_PLUGINS
          image: quay.io/integreatly/grafana_plugins_init:0.0.3
          imagePullPolicy: IfNotPresent
          name: grafana-plugins-init
          resources:
            limits:
              cpu: "1"
              memory: 512Mi
            requests:
              cpu: 250m
              memory: 12

[2021-05-31 12:17] Slach commented on #711
this is not deployment YAML this is only part of deployment YAML

also please share logs from grafana-operator
`kybectl -n grafana deployment/grafana-operator --sinrce=24h`

[2021-05-31 12:19] sagarshrestha24 commented on #711
apiVersion: apps/v1
      kind: Deployment
      metadata:
        annotations:
          deployment.kubernetes.io/revision: "7"
        creationTimestamp: "2021-05-31T07:58:49Z"
        generation: 7
        name: grafana-deployment
        namespace: grafana
        ownerReferences:
        - apiVersion: integreatly.org/v1alpha1
          blockOwnerDeletion: true
          controller: true

[2021-05-31 12:20] sagarshrestha24 commented on #711
logs 0f grafana operator
{"level":"error","ts":1622463218.1830802,"logger":"controller-runtime.controller","msg":"Reconciler error","controller":"grafana-controller","request":"grafana/grafana","error":"Grafana.integreatly.org \"grafana\" is invalid: [status.failedPlugins: Invalid value: \"null\": status.failedPlugins in body must be of type array: \"null\", status.installedPlugins: Invalid value:

[2021-05-31 13:23] Slach commented on #711
@sagarshrestha24
let's rollback to grafana-operator 3.9.0

[code]

[2021-05-31 13:30] sagarshrestha24 commented on #711
{"level":"info","ts":1622467693.1766198,"logger":"cmd","msg":"Go Version: go1.15.2"}
    {"level":"info","ts":1622467693.176672,"logger":"cmd","msg":"Go OS/Arch: linux/amd64"}
    {"level":"info","ts":1622467693.1766973,"logger":"cmd","msg":"operator-sdk Version: v0.18.2"}
    {"level":"info","ts":1622467693.1767018,"logger":"cmd","msg":"operator Version: 3.9.0"}
    {"level":"info","ts":162246769

[2021-05-31 13:34] Slach commented on #711
`kubectl get grafana -n grafana -o yaml`

[2021-05-31 13:34] Slach commented on #711
did you run `kubectl delete ns grafana`?

[2021-05-31 13:35] sagarshrestha24 commented on #711
apiVersion: v1
items:
- apiVersion: integreatly.org/v1alpha1
  kind: Grafana
  metadata:
    annotations:
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"integreatly.org/v1alpha1","kind":"Grafana","metadata":{"annotations":{},"name":"grafana","namespace":"grafana"},"spec":{"client":{"preferService":true,"timeout":30},"config":{"auth":{"disable_login_form":false,"di

[2021-05-31 16:52] Slach commented on #711
Could you share `events` section from following commands?
[code]

[2021-05-31 17:23] sagarshrestha24 commented on #711
Events:
      Type     Reason           Age                   From                Message
      ----     ------           ----                  ----                -------
      Warning  ProcessingError  32m (x13 over 3h53m)  grafana-controller  Grafana.integreatly.org "grafana" is invalid: [status.dashboards: Invalid value: "null": status.dashboards in body must be of type array: "null", status.f

[2021-06-01 03:15] Slach commented on #711
you share only one events from two

look like CRD for grafana still from 3.10
could you run ALL steps for following script?

create `/tmp/install-monitoring.sh` with following content:
[code]

and run
`bash -x /tmp/install-monitoring.sh 2>&1 1>/tmp/install-monitoring.log`

and attach /tmp/install-monitoring.log content to issue

[2021-06-01 03:23] sagarshrestha24 commented on #711
there is no event display of grafana dashboard

[2021-06-01 03:37] sagarshrestha24 commented on #711
setup are done successfully but in dashboard its not showing  any graph

no data is saying there

![image](https://user-images.githubusercontent.com/76894861/120263184-e795ec80-c2ba-11eb-9278-b40fbfd45c24.png)

[2021-06-01 03:57] sagarshrestha24 commented on #711
when i describre
kubectl describe grafana -n grafana grafana

    Events:
      Type     Reason           Age                 From                Message
      ----     ------           ----                ----                -------
      Warning  ProcessingError  25m (x22 over 26m)  grafana-controller  deployment not ready

[2021-06-01 04:19] Slach commented on #711
are you sure you install prometheus properly?
please share results of following commands
[code]
why your dashboard try to use remote_addr=127.0.0.1 instead of `prometheus.prometheus:9090`?

[2021-06-01 04:21] sagarshrestha24 commented on #711
apiVersion: integreatly.org/v1alpha1
      kind: GrafanaDataSource
      metadata:
        annotations:
          kubectl.kubernetes.io/last-applied-configuration: |
            {"apiVersion":"integreatly.org/v1alpha1","kind":"GrafanaDataSource","metadata":{"annotations":{},"name":"clickhouse-operator-prometheus","namespace":"grafana"},"spec":{"datasources":[{"access":"proxy","editable":false,"isD

[2021-06-01 04:22] sagarshrestha24 commented on #711
Name:         clickhouse-operator-prometheus
    Namespace:    grafana
    Labels:       <none>
    Annotations:  <none>
    API Version:  integreatly.org/v1alpha1
    Kind:         GrafanaDataSource
    Metadata:
      Creation Timestamp:  2021-06-01T04:06:11Z
      Generation:          1
      Resource Version:    20996754
      Self Link:           /apis/integreatly.org/v1alpha1/namespaces/graf

[2021-06-01 04:22] sagarshrestha24 commented on #711
NAME                                   READY   STATUS    RESTARTS   AGE
    prometheus-operator-845f6fb968-vz8dt   1/1     Running   0          15m
    prometheus-prometheus-0                2/2     Running   1          15m

[2021-06-01 04:32] sagarshrestha24 commented on #711
yes i have install prometheus properly

      + echo 'External value for $PROMETHEUS_NAMESPACE='
      External value for $PROMETHEUS_NAMESPACE=
      + echo 'External value for $OPERATOR_NAMESPACE='
      External value for $OPERATOR_NAMESPACE=
      + echo 'External value for $VALIDATE_YAML='
      External value for $VALIDATE_YAML=
      + export PROMETHEUS_NAMESPACE=prometheus
      + PROMETHE

[2021-06-01 06:05] Slach commented on #711
could you make port-forward to your prometheus pod open prometheus web UI
and share "Targets" screenshot?

[2021-06-01 06:07] Slach commented on #711
also could you share
`ls -la /etc/grafana/provisioning/datasources/`
inside grafana pod?

[2021-06-01 06:16] sagarshrestha24 commented on #711
total 0
    drwxrwxrwx    3 root     root           195 Jun  1 04:06 .
    drwxr-xr-x    3 root     root            25 Jun  1 04:06 ..
    drwxr-xr-x    2 root     root           142 Jun  1 04:06 ..2021_06_01_04_06_55.591172072
    lrwxrwxrwx    1 root     root            31 Jun  1 04:06 ..data -> ..2021_06_01_04_06_55.591172072
    lrwxrwxrwx    1 root     root            50 Jun  1 04:06 grafana_

[2021-06-01 06:21] sagarshrestha24 commented on #711
![image](https://user-images.githubusercontent.com/76894861/120275922-bb399a80-c2d1-11eb-9a9c-f91e5255b46d.png)

[2021-06-01 06:23] Slach commented on #711
ok. let's check clickhouse-operator metrics-exporter container (down :8888/metrics)

`kubectl get pods --all-namespaces | grep clickhouse-operator`

[2021-06-01 06:24] sagarshrestha24 commented on #711
its running

    kubectl get pods --all-namespaces | grep clickhouse-operator
    kube-system   clickhouse-operator-5c4cf66cc-sg6fg               2/2     Running            0          14d

[2021-06-01 06:35] Slach commented on #711
[code]

[2021-06-01 06:38] sagarshrestha24 commented on #711
![image](https://user-images.githubusercontent.com/76894861/120277695-1c626d80-c2d4-11eb-8054-eea5bedb0155.png)

[2021-06-01 06:39] sagarshrestha24 commented on #711
chi_clickhouse_table_parts{active="0",chi="repl-test",database="addotnet",hostname="chi-repl-test-replicated-1-0.chtest.svc.cluster.local",namespace="chtest",table="ad_event_local"} 640
        chi_clickhouse_table_parts{active="0",chi="repl-test",database="addotnet",hostname="chi-repl-test-replicated-1-1.chtest.svc.cluster.local",namespace="chtest",table="ad_event_local"} 646
        chi_clickhou

[2021-06-01 06:46] Slach commented on #711
hmm, and target :8888/metrics still "down"?
do you have any PodSecurityPolicy or something else which don't allow Prometheus pod to scrape clickhouse-operator pod target ":8888/metrics"?

[2021-06-01 06:50] sagarshrestha24 commented on #711
no sir

[2021-06-01 06:52] Slach commented on #711
could you try to run  and share results?
[code]

[2021-06-01 06:53] sagarshrestha24 commented on #711
e+06
          chi_clickhouse_table_parts_bytes{active="1",chi="repl-test",database="system",hostname="chi-repl-test-replicated-3-0.chtest.svc.cluster.local",namespace="chtest",table="metric_log"} 1.01768762e+08
          chi_clickhouse_table_parts_bytes{active="1",chi="repl-test",database="system",hostname="chi-repl-test-replicated-3-0.chtest.svc.cluster.local",namespace="chtest",table="part_log"

[2021-06-01 07:11] Slach commented on #711
[code]

[2021-06-01 07:12] sagarshrestha24 commented on #711
Defaulting container name to prometheus.
      Use 'kubectl describe pod/prometheus-prometheus-0 -n prometheus' to see all of the containers in this pod.
      # HELP chi_clickhouse_event_ArenaAllocBytes
      # TYPE chi_clickhouse_event_ArenaAllocBytes counter
      chi_clickhouse_event_ArenaAllocBytes{chi="repl-test",hostname="chi-repl-test-replicated-0-0.chtest.svc.cluster.local",namespace="cht

[2021-06-01 08:31] Slach commented on #711
ok. maybe we found root reason
in prometheus we have scraping interval 5s
but, unfortunately current metrics-exporter scrape servers much more than 5s (look to `time wget ...`) and prometheus context deadline exceed on prometheus side
I need more time to figure out why

could you install clickhouse-operator 0.14.1 and share time wget results?

[code]

also please check clickhouse-server version in

[2021-06-01 08:35] sagarshrestha24 commented on #711
i cant install 0.14.1 this is our production server so better to slove in same version

      $ kubectl get chi --all-namespaces
      NAMESPACE   NAME            CLUSTERS   HOSTS   STATUS
      chtest      repl-test       1          8       Completed
      test1       addotnet-ch01   1          1       Terminating

[2021-06-01 09:37] Slach commented on #711
how long test1 in Terminating state?
could you share events section from `kubectl describe chi -n test1 addotnet-ch01`  ?

[2021-06-01 09:48] sagarshrestha24 commented on #711
i think 20days

[2021-06-01 09:49] sagarshrestha24 commented on #711
there is no events section for this this test1 namespace i have deleted but this chi is in terminating state

[2021-06-01 11:06] Slach commented on #711
I didn't understand if this chi shall be deleted, why `metrics-exporter` still contains hosts from this chi in `:8888/chi` endpoint, look to https://github.com/Altinity/clickhouse-operator/issues/711#issuecomment-851862828

could you share
`kubectl get pods -n test1`?

if it doesn't contain anything running pods could you run `kubectl delete -n test1`

and share results of
[code]

[2021-06-01 11:13] sagarshrestha24 commented on #711
there is no namesapce test1 but in chi it showing there and i have tried to delete but it doesnot delete

[2021-06-01 11:16] Slach commented on #711
this is not true
share result
```kubectl get ns```

[2021-06-01 11:17] Slach commented on #711
run
`kubectl delete ns test1`

[2021-06-01 11:18] sagarshrestha24 commented on #711
![image](https://user-images.githubusercontent.com/76894861/120314690-3bc0c100-c2fb-11eb-8824-f18038ec975c.png)

![image](https://user-images.githubusercontent.com/76894861/120314786-51ce8180-c2fb-11eb-8412-86e37330d470.png)

[2021-06-01 11:28] Slach commented on #711
ok. let's delete CHI and restart clickhouse-operator
[code]
it's safe operation, cause deployment clickhouse-operator will re-creaste clickhouse-operator-XXX pod automatically
after `kubectl get pod -n kube-system | grep clickhouse-operator` will show new pod with small value of `AGE` column

please share results of
[code]
again

[2021-06-01 11:32] sagarshrestha24 commented on #711
it will not delete the chi and its taking too much time

[2021-06-01 11:33] sagarshrestha24 commented on #711
if i delete this pod then replicated to this pod will not change anything
or there are 8 pods are running in chtest namespace there will not be any issue with this

[2021-06-01 11:46] Slach commented on #711
let me explain
when prometheus try to scrape clickhouse.metrics-exporter :8888/metrics endpoint, golang application try to pass SQL queries to all hosts which are shown in `:8888/chi endpoint`
so when something will wrong with `chi-addotnet-ch01-replicated-*.test1.svc.cluster.local` and it got much more time, prometheus will get `context deadline exceed` and cancel http request from prometheus sid

[2021-06-01 11:49] sagarshrestha24 commented on #711
ssword\":\"1Lumbini2\",\"admin/profile\":\"default\"},\"zookeeper\":{\"nodes\":[{\"host\":\"zookeeper.zoo1ns\"}]}},\"defaults\":{\"templates\":{\"dataVolumeClaimTemplate\":\"default\",\"podTemplate\":\"clickhouse:20.3\"}},\"templates\":{\"podTemplates\":[{\"name\":\"clickhouse:20.3\",\"spec\":{\"containers\":[{\"image\":\"michaelbrd/clickhouse-server:20.6.4\",\"name\":\"clickhouse-pod\",\"volumeMo

[2021-06-01 12:18] Slach commented on #711
@sagarshrestha24 could you share full of output not the part of output

[2021-06-01 12:23] sagarshrestha24 commented on #711
I0601 04:47:37.138571    3556 loader.go:379] Config loaded from file:  /home/saroj.joshi/.kube/config
      I0601 04:47:37.141003    3556 cached_discovery.go:114] returning cached discovery info from /home/saroj.joshi/.kube/cache/discovery/192.168.101.109_8443/servergroups.json
      I0601 04:47:37.141695    3556 cached_discovery.go:71] returning cached discovery info from /home/saroj.joshi/.kube/

[2021-06-01 12:29] Slach commented on #711
ok let's restart clickhouse-operator, to remove finalizers
```kubectl exec -n kube-system pod/clickhouse-operator-5c4cf66cc-sg6fg -c clickhouse-operator -- kill 1```

[2021-06-01 13:17] Slach commented on #711
@sagarshrestha24 let's try to increase scraping_timeout in prometheus settings
look to https://github.com/Altinity/clickhouse-operator/pull/713

[2021-06-01 13:29] sagarshrestha24 commented on #711
how to delete chi of test1 namespace it is in terminating state  you know any solution

      NAMESPACE   NAME            CLUSTERS   HOSTS   STATUS
      chtest      repl-test       1          8       Completed
      test1       addotnet-ch01   1          1       Terminating

[2021-06-01 13:55] Slach commented on #711
you need to turn off clickhouse-operator
to remove finalizers from kind: ClickhouseInstallation resource
and use delete --force

[2021-06-01 14:05] sagarshrestha24 commented on #711
thank you so much sir after i have changed scrap-timeout to 30s it resolve and dashboard is showing

[2021-06-01 14:14] #711 closed

[2021-06-02 12:20] intfish123 opened #714 "<Error> ServerErrorHandler: Poco::Exception. Code: 1000, e.code() = 107, e.displayText() = Net Exception: Socket is not connected, Stack trace (when copying this message, always include the lines below)"
<Error> ServerErrorHandler: Poco::Exception. Code: 1000, e.code() = 107, e.displayText() = Net Exception: Socket is not connected, Stack trace (when copying this message, always include the lines below):

0. Poco::Net::SocketImpl::error(int, std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<char> > const&) @ 0x11d0c84e in /usr/bin/clickhouse
1. Poco::Net::SocketImpl::pe

[2021-06-02 12:23] intfish123 commented on #714
What's wrong? Clickhouse server print this error infomation every second, Can any body help me?

[2021-06-03 12:52] Slach commented on #714
did you deploy clickhouse sever inside kubernetes with clickhouse-operator?
could you share your `kind: ClickhouseInstallation`  manifest?

[2021-06-03 15:08] kevinbin opened #716 "PV was not created automatically"
https://docs.altinity.com/clickhouseonkubernetes/kubernetesquickstartguide/quickpersistentstorage/
[code]

[2021-06-03 15:42] Slach commented on #716
do you have `default` storage class?

`kubectl get storageclasses -o wide`

[2021-06-04 01:31] kevinbin commented on #716
[code]

[2021-06-04 01:34] kevinbin commented on #716
https://github.com/Altinity/clickhouse-operator/blob/master/docs/quick_start.md#simple-persistent-volume-example

This can create PV automatically.

[2021-06-04 05:17] Slach commented on #716
@kevinbin thanks a lot for reporting
please subscribe to https://github.com/Altinity/documentationIssues/issues/9
I hope documentation will fix in near future ;)

[2021-06-04 05:17] #716 closed

[2021-06-06 03:32] intfish123 commented on #714
[code]
@Slach

[2021-06-06 03:35] intfish123 commented on #714
Yes, I did deploy clickhouse sever inside kubernetes with clickhouse-operator.

[2021-06-08 13:01] electrical commented on #690
Thank you. This solved my issue. Sorry for the delay in confirming.

[2021-06-08 13:01] #690 closed

[2021-06-08 13:02] #691 closed

[2021-06-09 04:12] rgangoni opened #717 "pod status is CrashLoopBackoff"
when i have mounted volume in clickhouse shard ,mounted successfuly but in my setup the other pod status is changed to CrashLoopBackoff.

with out making this change the setup is working fine means all pods are in Running state.T

Clickhouse Operator Version : 0.14.0
Clickhouse Server verrsion : 20.7

when i see the logs of the pod it is showing like this

[code]

[2021-06-09 04:58] alex-zaitsev commented on #717
@rgangoni , something is wrong with your configuration, would you mind posting the full ClickHouseInstallation object?

Also note that 20.7 ClickHouse version is not recommended. We test operator mainly with Altinity Stable versions of ClickHouse:
https://docs.altinity.com/altinitystablerelease/releasenotes/

[2021-06-09 05:31] rgangoni commented on #717
Please find my ClickhouseInstallation file

[code]

[2021-06-09 08:35] rgangoni opened #719 "CrashLoopBackoff in Zookeeper pods on Specific to virtual machine nodes"
My requirement is to create  3 zookeeper pods in three different  **VMs**
When i try to do this my pods are in   CrashLoopBackoff  state .
it is working fine with other nodes like other than VMs

Clickhouse Operator Version : 0.14.0
Clickhouse Server verrsion : 20.7

![image](https://user-images.githubusercontent.com/77608944/121320878-30891900-c92b-11eb-94ca-291c8aecb3da.png)

kubectl desribe pod

[2021-06-09 10:22] Slach commented on #719
clickhouse-operator is not responsible to zookeeper
could you look to https://github.com/Altinity/clickhouse-operator/tree/master/deploy/zookeeper/quick-start-persistent-volume?

[2021-06-10 04:14] rgangoni commented on #717
Hi Community this issue is my high priority issue  .
Please consider this issue as priority and give me a solution so that i can move forward and i have sent you the ClickhouseInstallation object file as well.

[2021-06-10 07:27] Slach commented on #717
according to your manifest, look like is not complete
what exactly do you try to do?
do you try to start clickhouse from /backupstore?

could you share full manifest with current state?
`kubectl get chi test -o yaml --all-namespaces` ?

[2021-06-10 07:50] rgangoni commented on #717
[code]

![image](https://user-images.githubusercontent.com/77608944/121486299-a5715700-c9ee-11eb-9e19-0c9ba3d52be5.png)

[2021-06-11 13:28] Slach commented on #717
look like something wrong with your /var/lib/clickhouse/ on 3-0-0 node
could you try shell into pod, (use https://github.com/derailed/k9s/ for easy access) archive data via tar and use kubectl cp to get content of  /var/lib/clickhouse/  from `chi-repl-test-replicated-3-0-0` and `chi-repl-test-replicated-3-1-0`
use `https://github.com/utkuozdemir/pv-migrate` for 3-0-0

[2021-06-11 15:02] sagarshrestha24 commented on #717
we have to create new pvc for pod 3-0-0 and we have to migrate all data to new pv or something ?

[2021-06-11 15:10] Slach commented on #717
no, we just need compare /var/lib/clickhouse between 3-0-0 and 3-1-0

[2021-06-11 15:15] sagarshrestha24 commented on #717
pod 3-0-0
![image](https://user-images.githubusercontent.com/76894861/121709000-d0939d80-caf7-11eb-906f-e81c2b00dc1e.png)

of pod 3-1-0
![image](https://user-images.githubusercontent.com/76894861/121709218-0c2e6780-caf8-11eb-8ad2-09d11822ef42.png)

[2021-06-11 15:21] Slach commented on #717
what is it YYYY-mm-dd? why is present in 3-0-0 ?

[2021-06-11 15:21] sagarshrestha24 commented on #717
in this folder we have kept our backup data in tar format

[2021-06-12 06:59] sagarshrestha24 commented on #717
logs of 3-0-0 pod and we got error like incorrect password why it is showing this error

![image](https://user-images.githubusercontent.com/76894861/121768093-e2b71f80-cb7b-11eb-9154-9510b86809ef.png)

[2021-06-15 03:45] sagarshrestha24 opened #721 "How to take all backup Fastly"
Since We are using multiple shards in our CH cluster ,We want to take a backup by date, so taking backup manually (i.e using freeze) is not good idea since data are spread across the shards

What is the best way to do it and achieve as fast as manaul backup (i.e freezing the table and copying it)!
I know clickhouse-backup tools but not sure how fast is it ..

I am using Clickhouse Operator v.0.14.

[2021-06-15 04:15] Slach commented on #721
clickhouse-backup also use FREEZE to make the local backup
FREEZE shall not long operation, cause it just creates hard links to exists data parts to prevent deletion after background merge

execution time for FREEZE depends on how many parts do you have in `system.parts`

from our experience, upload \download local backup to\from remote storage take much more time than FREEZE

when you use shards

[2021-06-15 04:19] Slach commented on #717
last screenshot doens't show full error message
could you move backups folder from /var/lib/clickhouse ?
could you compare content of files in `/var/lib/clickhouse/metadata` folder for 3-0-0 and 3-1-0 hosts?

[2021-06-15 04:42] sagarshrestha24 commented on #717
i  have checked replica of this pod there is no data in replica.

[2021-06-15 04:45] sagarshrestha24 commented on #721
you reffered us to use clickhouse-backup for this issue

[2021-06-15 08:03] davidkarlsen commented on #464
Also, it does not appear in the console of openshift, when searching the operatorhub. Has it been discontinued?

[code]

[2021-06-17 09:43] electrical opened #723 "Separate volume for backups"
Hi,

I'm trying to find a way to have a separate volume for the backup storage.
The goal of this is to ensure it doesn't fill up the data volume when creating multiple backups ( snapshots )

[2021-06-17 11:51] Slach commented on #723
when clickhouse-backup create local backup it not allocate space, it just create hardlinks to prevent data parts from deletetion after background merge
look to
https://clickhouse.tech/docs/en/sql-reference/statements/alter/partition/#alter_freeze-partition
for details

so when you create local backup
you can just use mv from `backup` directory to separate storage after run `clickhouse-backup creat

[2021-06-17 14:06] electrical commented on #723
Thanks for the quick response. My plan is to do multiple snapshots per day and only transfer 1 every night out of the system.
When doing multiple snapshots they do start taking more space, because of that i was hoping to have the backup directory on a separate volume.

[2021-06-18 12:11] electrical commented on #723
To clarify my request. How do I add a separate local storage? So far i've only found `volumeClaimTemplates` that work with the `dataVolumeClaimTemplate` but I don't see any option to add a separate volume.

[2021-06-18 12:15] Slach commented on #723
look to https://github.com/Altinity/clickhouse-operator/tree/0.15.0/docs/chi-examples and define storage using `volumeClaimTemplates`

[2021-06-18 12:34] electrical commented on #723
That's exactly what I was looking for. Don't know how i missed that. Thank you very much!

[2021-06-18 12:51] #723 closed

[2021-06-21 13:50] alex-zaitsev commented on #464
Hi @davidkarlsen , no it is not discontinued, we update it regularly: https://operatorhub.io/operator/clickhouse

Something else is required in order it or be listed on openshift-marketplace. Will look into that.

[2021-06-22 06:43] Kylinrix opened #727 "scale shards count issue"
There is a issue when we change the shard count.
It is a cluster (named ck100032773) has local tables, Distributed engine tables, and some other momery engine table.
ck100032773 cluster has 1 shard and 2 replicas, There are sts name:
[code]
The FQDN are
[code]
when we changed the shard count from 1 to 2, The operation will create `chi-ck100032773-ck100032773-1-0` and `chi-ck100032773-ck100032773-1

[2021-06-23 06:09] TheXs opened #729 "More explanation on Altinity Clickhouse Operator Grafana Dashboard"
Hi, there.
Altinity is super powerful and convinient to be used. Just a triflling advice here, could you guys giving some more details or more description on prometheus-monitoring parameter(eg: chi_clickhouse_event_ZooKeeperUserExceptions; chi_clickhouse_event_InsertQuery etc...), cuz sometimes I found it is a bit confusing to me to understand the meaning behind those numbers. Best Regards!

[2021-06-23 07:33] Slach commented on #729
look detailed descriptions in  the following queries
[code]
for example event_ZooKeeperUserExections
SELECT * FROM system.events WHERE event ILIKE '%ZooKeeperUserExections%' SETTINGS system_events_show_zero_values=1;

if the description field is empty (funny, like this case ;)

You need to try to figure out with clickhouse source
follow https://github.com/ClickHouse/ClickHouse/search?q=ZooKeeperUs

[2021-06-23 18:16] davidkarlsen commented on #464
@alex-zaitsev that sounds good. Look at the catalogsources I listed - should it be available from them - which included `community-operators` - or could it be because the operator does not match cluster requirements (k8s version etc)

[2021-06-24 02:06] mcgrawia opened #730 "PVC reconciliation error causes deletion and data loss"
Hi operator team,

My team and I just came across this issue with the CHOP where if we have a PVC reconciliation error, the CHOP deletes the volume and causes data loss.

How to reproduce:
- using docker for Mac 3.5.0
- Docker for Mac Kubernetes: 1.19
- Clickhouse operator 0.14.0

Create a CHI with the following using PVCs:
[code]

This should stand up as expected. Once it's available, edit the ab

[2021-06-24 07:23] alex-zaitsev commented on #730
Hi @mcgrawia , operator supports PVC resize if your storage class is expandable. This is a basic use case. Managing PVCs and other CHI-related objects outside of operator is strongly non-recommended. Since 0.14.0 operator reconciles the CHI definition with actual state in k8s, so if any mismatch in PVC is detected it tries to 'fix' it.

There is a guard against PVC deletion that you can enable in

[2021-06-24 13:38] mcgrawia commented on #730
Hi @alex-zaitsev thanks for the response. That makes sense that the operator now reconciles with the K8s state.

Do you have any suggestions on how we can upgrade our prod CHI to prevent the PVC deletion? We first deployed the cluster with operator 0.11 or 0.12 when it did not support PVC resizing, and we followed this issue to manually increase our PVCs: https://github.com/Altinity/clickhouse-ope

[2021-06-28 11:48] alex-zaitsev commented on #730
Hi @mcgrawia ,

Storage re-scaling is supported since operator 0.10 (check release notes). In order to protect your PVC from the deletion, you have two options, as I suggested earlier:
1) Add 'reclaimPolicy: Retain' to PVC template definition in CHI. Check this: https://github.com/Altinity/clickhouse-operator/blob/581cf315fc85527e637bc08152d4edd5490a5099/tests/configs/test-019-retain-volume.yaml#L

[2021-06-29 09:36] alex-zaitsev commented on #463
@fmotrifork , @MisterTimn  see this example: https://github.com/Altinity/clickhouse-operator/blob/0.15.0/docs/chi-examples/02-templates-07-bootstrap-schema.yaml

[2021-06-29 14:29] TheXs opened #731 "Manipulating Clickhouse Storage Path"
Hi, there.
Could I please to ask how to change the default storage path of ck(/var/lib/clickhouse) prior pod is running? In clickhouse-operation-installation.yaml or in your own customized ck installation yaml and how to set it? Many Thanks!

[2021-06-29 18:46] mcgrawia commented on #730
Apologies @alex-zaitsev ! I completely mis-read that prior message. The `reclaimPolicy: Retain` definitely fixed the issue. Thank you!

[2021-06-29 18:46] #730 closed

[2021-07-02 13:13] marcioapm opened #732 "Unable to specify per-CHI settings"
I am trying to setup the operator such that base settings for all clusters are specified in the XML templates as seen in the deployment folder, and to have per-cluster settings specified in the CHI manifest.
This doesn't seem to be working. I tried with "allow_experimental_database_replicated" and a few others, setting them in various ways, but nothing works:

[code]

Also tried directly in the se

[2021-07-02 13:22] marcioapm opened #733 "Unable to restart CHI when changing global configuration stored in the operator"
There is no way to apply a configuration change to the CHI if this configuration is in the operator's `users.d` folder.
CHI itself is not restartable, and the operator won't pick up the change and apply it to the CHIs, even after having been restarted.

I added a new file (a new profile) to the operator's `users.d` config-map, and there was no obvious way to get that applied to my previously creat

[2021-07-02 13:41] alex-zaitsev commented on #733
@marcioapm , could you be more specific, please? What configuration change you can not apply?

[2021-07-02 15:46] marcioapm commented on #733
Updated my OP.

[2021-07-02 15:58] alex-zaitsev commented on #733
@marcioapm , If you modify operator configuration, you can restart operator and it will apply the change.

However, why are you adding a new profile via operator configuration instead of adding it to the CHI itself? CHI has 'profiles' section or you can supply config files directly using 'files' section. See different examples here: https://github.com/Altinity/clickhouse-operator/blob/master/tests

[2021-07-05 18:12] marcioapm commented on #733
Got it. Thanks!

[2021-07-05 18:16] marcioapm commented on #732
It seems like one must flatten any nested objects:

[code]
should instead be:
[code]

This works, but wasn't expecting to have to do this.

Thanks!

[2021-07-05 20:36] #733 closed

[2021-07-05 20:37] alex-zaitsev commented on #732
Glad you sorted it out!

[2021-07-05 20:37] #732 closed

[2021-07-05 20:40] alex-zaitsev commented on #727
@Kylinrix, the logic in 0.13.5 has some shortages, and we've made improvements since then. Could you try with 0.14.0 or even 0.15.0 (not yet released, but image is available).

[2021-07-06 10:22] macobo opened #734 "Cannot update clickhouse-server to version > 21.2"
With clickhouse-operator 0.14.0, after updating clickhouse version to >= 21.2, the following error occurs:

[code]

This seems to be caused by:

From https://github.com/ClickHouse/ClickHouse/blob/master/CHANGELOG.md

See helm chart + tests over at https://github.com/PostHog/charts-clickhouse/pull/32/files

Things I've attempted:

1. Set `securityContext` of `podTemplates` to
[code]

(And other var

[2021-07-06 10:38] Slach commented on #734
looks little bit weird,
by default `entrypoint.sh` should only try to chown in `/var/lib/clickhouse` but not in `/etc/clickhouse-server/config.d/`
https://github.com/ClickHouse/ClickHouse/tree/21.2/docker/server/entrypoint.sh#L57-L74

also when you apply securityContext to podTemplate
it should mount your config.d, conf.d and users.d configMaps with the same uid:gid as described in securityContext

[2021-07-06 10:43] Slach commented on #734
I found root reason
https://github.com/PostHog/charts-clickhouse/blob/main/charts/posthog/templates/clickhouse_instance.yaml#L57
you define
format_schema_path as `/etc/clickhouse-server/config.d/`
so `entrypoint.sh` try to chown this directory

[2021-07-06 11:02] alex-zaitsev commented on #734
config.d is mounted readonly so it can not be chown.

@macobo , try securityContext:
[code]

And also change the way ClickHouse starts:
[code]

[2021-07-06 11:03] Slach commented on #734
@macobo look to https://github.com/Altinity/clickhouse-operator/blob/0.15.0/docs/chi-examples/20-protobuf-schema-example.yaml#L44 for workaround

[2021-07-06 11:14] macobo commented on #734
Seems like securityContext + custom command did the trick. See here: https://github.com/PostHog/charts-clickhouse/pull/32/commits/35f715d725db7e5523b7da305fb64e395256ea62 + https://github.com/PostHog/charts-clickhouse/pull/32/checks?check_run_id=2998139240  :bow: :beers: @alex-zaitsev

I think the init container trick + changing settings is not needed. Am I missing something obvious @Slach ?

[2021-07-06 12:04] Slach commented on #734
custom command + securityContext is enough,
initContainer need only when you want to allow run schema initialization via `/docker-entrypoint.init.db/*.*` files

[2021-07-06 12:05] #734 closed

[2021-07-06 12:07] macobo commented on #734
Thanks for the help. :clap:

Follow-up question - this seems like something that might bite others as well. Perhaps worth updating documentation for this?

[2021-07-06 13:08] Slach commented on #734
IMHO, usually, users don't redefine `.spec.settings.format_schema_path` value.

[2021-07-07 16:42] mcgrawia opened #735 "Dropping a replica does not drop the table and leaves data in zookeeper"
Hi operator team,

I am using the `0.14.0` version of the operator and noticing it does not drop replicated tables when removing replicas. Here is my CHI definition (installed zookeeper separately):
[code]

After standing up the cluster, I create a replicated table on all replicas with:
[code]

I then insert some data into the tables with:
[code]

And finally, I decrease the CHI `spec.configuratio

[2021-07-07 16:54] mcgrawia commented on #735
Follow up:

After following the steps above, when I delete the CHI entirely, I see these logs:
[code]

So it appears the operator does delete the tables, but only when the entire CHI is deleted. Unfortunately, this means the first replica data is leaked in zookeeper, even after the CHI is deleted. When I use the zkCli, I can still see the replica 1 data remains, since it was not deleted when the r

[2021-07-07 22:53] alex-zaitsev commented on #735
This is weird. We have a dedicated test that checks zookeeper contents and it passed. I now looked into the test carefully and found that the test had a bug. So thanks for the catch! Looks like it has been broken in 0.14, it works correctly before then.

Btw, in 0.15.0 version we changed the logic -- it now uses SYSTEM DROP REPLICA instead of DROP TABLE.

[2021-07-08 13:37] mcgrawia commented on #735
Interesting, not a problem! Thanks for confirming it was actually an issue. Feel free to close this then if it's already fixed in the next version.

[2021-07-12 10:04] czhfe commented on #714
I also encountered this problem, did you find out the cause of this problem?

[2021-07-12 11:28] Slach commented on #714
@czhfe @intfish123
it is kubernetes inside GCP or other cloud provider?

look like healthcheck probe from kubernetes external implementation for service `type: LoadBalancer`
they just try TCP connect and close connect unexpectly

[2021-07-12 14:34] sagarshrestha24 opened #738 "CLickhouse pod is in crassloopbackoff error"
previously our pod is crash due to insufficent disk ,we free up disk and we bring it up

but also again pod is in crash when i go inside that pod

[code]
why this chown is running is this neccesary or we can skip this

in entrypoint.sh (which starts when clickhouse starts), it runs this
8:13
[code]

[code]

[2021-07-12 15:20] Slach commented on #738
when you have too many parts on disk (more than 100 000 files in `/var/lib/clickhouse/data` and slow disk)
`chown` will take time to make disk operations
and readiness probe will fail (by default liveness probe have InitialDelaySeconds: 10 sec)

you have following solution to avoid this:
- disabe chown via environment variable CLICKHOUSE_DO_NOT_CHOWN (use custom podTemplate in `spec.clusters.templ

[2021-07-12 15:20] #738 closed

[2021-07-12 16:30] sagarshrestha24 commented on #738
i have done with chown part but i got crash issue
when i logs the pod i got this error
`Necessary directory '/var/log/clickhouse-server' isn't owned by user with id '101`'

[2021-07-12 17:25] Slach commented on #738
please look to
volumeMounts
on
https://github.com/Altinity/clickhouse-operator/blob/0.15.0/docs/chi-examples/03-persistent-volume-02-pod-template.yaml#L23-L27

[2021-07-13 06:02] czhfe commented on #714
It is indeed a health status detection problem

I'm using Huawei Cloud, and Huawei Cloud's load balancer has health status detection on by default, so I don't have this problem if I turn off health status detection on my side.

Please tell me where I can see this is the problem.

[2021-07-13 11:12] TheXs opened #739 "Does weighted round-robin supported in Clickhouse operator?"
Hi, there.
Just wondering if  weighted round-robin available for ck cluster loadbalancing. If it is that would help a lot. Thanks for any reply.

Best Regards!

[2021-07-14 01:49] #731 closed

[2021-07-14 01:50] #739 closed

[2021-07-15 13:34] alex-zaitsev commented on #735
Fixed in 0.15.0, tested in https://github.com/Altinity/clickhouse-operator/blob/0927fe5a5bdac5c244e72c95c8e86089c6525af0/tests/test_operator.py#L748

[2021-07-15 13:34] #735 closed

[2021-07-19 14:26] alex-zaitsev commented on #727
Fixed in 0.15.0

[2021-07-19 14:26] #727 closed

[2021-07-19 14:27] #719 closed

[2021-07-19 14:28] #685 closed

[2021-07-19 14:29] #671 closed

[2021-07-19 14:30] #615 closed

[2021-07-19 14:35] alex-zaitsev commented on #697
Should be fine with 0.14.0 and above.

[2021-07-19 14:35] #697 closed

[2021-07-19 14:36] alex-zaitsev commented on #563
Should be not an issue from 0.13.5 and above.

[2021-07-19 14:36] #563 closed

[2021-07-19 14:41] alex-zaitsev commented on #561
@mcgrawia , here is a log in 0.15.0 operator version:
[code]

It is still possible the replication will be lagging on big tables, but the chance is significantly lowered.

[2021-07-19 14:42] #463 closed

[2021-07-19 15:01] alex-zaitsev commented on #721
@sagarshrestha24 , clickhouse-operator does not handle backups on its own, but you can do it with clickhouse-backup. Please see this example how clickhouse-backup can be installed as a sidecar:
https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/03-persistent-volume-07-security-context.yaml

[2021-07-19 15:01] #721 closed

[2021-07-19 15:02] aksdb commented on #671
Whoops, completely forgot to answer here. Sorry.
Yes so far it seems good. No more troubles since the update to 0.14.

[2021-07-19 15:34] mcgrawia commented on #561
Hi @alex-zaitsev thanks for the update! I am not up to speed yet on the 0.15.0 replica addition algorithm, but my understanding of the 0.14.0 is as follows:

1. Wait for pod to be Ready
    - When it’s ready, K8s adds it to the host service
1. Query other hosts for tables
1. Copy tables, via host service address
1. Add host to cluster config replicas
1. Add `Ready: yes` label to pod (exposes it in

[2021-07-20 06:01] alex-zaitsev commented on #561
Hi @mcgrawia ,
We do not want adding it by default, because it may never be ready (e.g. under highly loaded systems).

Alternatives:
1. Add a special option that would wait for replication to complete.
2. Use distributed table to query a replicated table. In this case you may rely on https://clickhouse.tech/docs/en/operations/settings/settings/#settings-max_replica_delay_for_distributed_queries

[2021-07-20 14:52] mcgrawia commented on #561
Thanks @alex-zaitsev, that makes sense. I'll look into the Distributed table and see how we can use that as well.

[2021-07-20 23:20] davidkarlsen commented on #464
@alex-zaitsev was the OCP support fixed?

[2021-07-23 11:08] ki0 opened #745 "Applying specific ClickHouseOperatorConfiguration"
Hi team,

I'm starting to work with the operator and i don't get why it is not applying a specific configuration that i have. What i do it is to install a cluster in normal way with [this](https://github.com/Altinity/clickhouse-operator/blob/master/deploy/operator/clickhouse-operator-install.yaml), and after that i'm trying to use a secret to define the operator user and password, i'm following th

[2021-07-26 13:51] den-crane opened #746 "Reduce default value connect_timeout_with_failover_ms to 200 (or 50)."
1000 is excessive.

[2021-07-28 16:21] fsergii opened #747 "Circular Replication on 3 node cluster"
Hi.

I`m trying to configure a cluster with Circular Replication like in
https://altinity.com/blog/2018/5/10/circular-replication-cluster-topology-in-clickhouse

Cluster:
![image](https://user-images.githubusercontent.com/24405336/127356028-b2df95e8-5c66-4996-9c89-670bccb9f7f8.png)
dev-[2-4] have labels clickhouse=allow

CHI YAML

![image](https://user-images.githubusercontent.com/24405336/1273594

[2021-08-02 13:35] #692 closed

[2021-08-02 14:25] ansou-naboty opened #748 "TCP Reset connection when replicating data due to full tcp_rmem buffer"
Hi my name is Ansou FALL and im working for opensee.io as a Devops engineer.
I'm running a clickhouse operator in AKS(Azure Kubernetes Service).
We  are facing tricky issue  issue on clickhouse when replicating data  in shard between others replicas.
Here is the configuration we have:
clusterName:                          standard
ClickHouseInstallationName: statefulset
Shards:

[2021-08-02 14:49] Slach commented on #748
@ansou-naboty clickhouse-operator don't make replication data itself
so, look like the issue is not related to clickhouse-operator
but related to clickhouse itself

could you look to /var/log/clickhouse-server/clickhouse-server.err.log inside your related clickhouse server pods for time period which you share in your network dump?

[2021-08-02 15:08] ansou-naboty commented on #748
I know that clickhouse-operator doesn't make replication data itself, but clickhouse itself do it, or should i post this issue on clickhouse github.

[2021-08-02 22:09] pulkitkalia1994 opened #749 "Data lost when a pod restarts"
Hello,
I setup a cluster with 2 shards and 2 replicas. I had some data on one of the shards and the data was replicated successfully to other node(replica node). But one of the replica was restarted which resulted in loss of data on that node. I was expecting the data to be replicated automatically to this node as well but didn't happen.
Am I missing anything?

[2021-08-02 22:16] pulkitkalia1994 opened #750 "Data rebalancing not supported"
Hello,
I tried distributed engine on top of replicated merge tree with some data and 3 shards. However, when I tried to reduce the number of shards to 2 through yaml config, the data was lost and not rebalanced. I was expecting the data to be redistributed to other shards but didn't happen.
Can anyone please help with this?

[2021-08-03 05:37] Slach commented on #749
@pulkitkalia1994 could you provide your `kind: ClickhouseInstallation` manifest?

[2021-08-03 06:09] Slach commented on #750
clickhouse itself does not support data rebalancing
subscribe to https://github.com/ClickHouse/ClickHouse/issues/13574  and watch the progress

[2021-08-03 06:09] #750 closed

[2021-08-03 10:14] Slach commented on #748
@ansou-naboty do you see anything related to your RST in `/var/log/clickhouse-server/clickhouse-server.err.log`?

[2021-08-03 14:25] ansou-naboty commented on #748
In /var/log/clickhouse-server/clickhouse-server.err.log, i see connection reset by peer while reading or writing one socket xxxxxx. With tcpdump it  corresponds to  full TCP buffer.

[2021-08-03 16:47] pulkitkalia1994 commented on #749
@Slach
apiVersion: "clickhouse.altinity.com/v1"
kind: "ClickHouseInstallation"
metadata:
  name: "shard2-repl2"
  namespace: clickhouse-operator
spec:
  configuration:
    zookeeper:
        nodes:
          - host: zookeeper-0.zookeepers.zookeeper
            port: 2181
    clusters:
      - name: "shard2-repl2"
        layout:
          shardsCount: 2
          replicasCount: 2
  templates:

[2021-08-04 08:20] fantastic2085 opened #751 "Is the Clickhouse operator a code framework generated using kubebuilder？"

[2021-08-04 11:18] Slach commented on #751
@fantastic2085 no, clickhouse-operator doesn't use https://github.com/kubernetes-sigs/kubebuilder

[2021-08-04 11:47] Slach commented on #749
@pulkitkalia1994
you miss
`spec.defaults.temlates` section in your manifest

and your volumeClaimTemplates didn't apply to your pods inside clickhouse cluster

so every time when you restart clickhose pod
/var/lib/clickhouse will created from scratch
and your pod will not contains any `ReplicatedMergeTree` table definition in `/var/lib/clickhouse/metadata/`

try to apply the following manifest, `C

[2021-08-04 11:47] #749 closed

[2021-08-04 20:51] pulkitkalia1994 opened #752 "Is it possible to add another job/container in the pod for clickhouse?"
Hello Team,
I am planning to add another service/job in the same pod as the clickhouse shard and replicas. Is it possible to do the same?
I want to send some custom metrics and transfer some data from inside the clickhouse pod.

Thank you!

[2021-08-05 01:41] fantastic2085 commented on #751
Is the Clickhouse operator code also written according to the operator SDK? The Clickhouse operator code just doesn't use the kubebuilder automated production code framework, does it?

[2021-08-05 09:24] Slach commented on #751
@fantastic2085 look to https://github.com/Altinity/clickhouse-operator/blob/master/go.mod#L24-L27
clickhouse-operator use only native golang Kubernetes API client

what is the goal of your questions?

[2021-08-05 09:28] Slach commented on #752
yes, you can define custom `podTemplate` in your
and any other container in the pod
for example please look to
https://github.com/Altinity/clickhouse-operator/blob/master/tests/templates/tpl-clickhouse-backups.yaml#L33

but if you apply this modification it will restart clickhouse pod, cause after update `podTemplate` for `statefulset`, kubernetes itself restart all pods in `statefulset`

[2021-08-05 09:28] #752 closed

[2021-08-05 10:02] fantastic2085 commented on #751
I want to have an in-depth understanding of the source code of Clickhouse operator, so I want to know what the design basis of the source code of Clickhouse operator is, because after I know about operator SDK / kubebuilder, I think Clickhouse operator does not use operator SDK / kubebuilder, so I want to know about it and thank the community for its patience

[2021-08-06 02:29] #751 closed

[2021-08-06 18:16] pulkitkalia1994 opened #753 "Pod in "CrashLoopBackOff" when adding a custom podTemplate"
Hello,
I am trying to create a podTemplate and add another container but the pod is in "CrashLoopBackOff".

Below is my manifest file-

![image](https://user-images.githubusercontent.com/11890425/128554862-642ecb9b-82f4-489d-947d-a9f13ef1bf78.png)

Event log-
Events:
  Type     Reason     Age                From               Message
  ----     ------     ----               ----               ----

[2021-08-06 19:51] alex-zaitsev commented on #753
[code]
Something is wrong with your debian image. It can not start

[2021-08-06 20:13] pulkitkalia1994 commented on #753
I tried different images like debian, ubuntu, nginx and got the same result everytime.

[2021-08-07 07:15] Slach commented on #753
@pulkitkalia1994
look like you need to add `command` into second container
which will something like
[code]

and try to figure out whats happened in second container in pod
[code]

[2021-08-13 15:12] ericisco opened #756 "Operator CRD is missing metadata for pod templates"
My installation makes use of pod template annotations to enable things like monitoring, for example:

[code]

In practice the operator uses the metadata when creating the stateful sets and it works perfectly.

We recently changed our deployment to use Kubernetes Server-Side Apply which is validating against the CRD and now the installations fail.  It looks like it was mistakenly left out and this

[2021-08-16 17:00] pulkitkalia1994 opened #758 "Is it possible to have a replica and the leader shard in the same pod?"
Hello,

As per the default installation, a shard and it's replica is placed under different pods. For example, if I create a manifest file with 2 shards and 2 replicas, a total of 4 pods will spin up. I would like to have a Cross backup. This should result in only 2 pods created in k8s.

*Cross backup to fully use the computing resource. an example of cross backup,
1. pod 1 - shard 1 (leader), sha

[2021-08-17 07:18] Slach commented on #758
"leader" is mean this `clickhouse-server` instance is just responsible to schedule background merge, you can write to any replica
look to "is_leader" in https://clickhouse.tech/docs/en/operations/system-tables/replicas/ for details

and is not possible to run two `clickhouse-server` containers in the same pod under `clickhouse-operator`

if you want "circular replication"
look to
https://github.co

[2021-08-17 07:18] #758 closed

[2021-08-19 10:59] zeagur opened #759 "getting cannot set blockOwnerDeletion, ownerReference resource you can't set finalizers"
Hi,

I'm trying to install clickhouse-operator in Openshift 4.2 cluster, following the doc provided in this github [here](https://github.com/Altinity/clickhouse-operator/blob/master/docs/quick_start.md#clickhouse-operator-installation)

however, after apply a simple `ClickHouseInstallation` I got some error event about unable to set finalizers on certain resources and stuck there, no pod spawned.

[2021-08-19 12:45] zeagur commented on #759
it seems I have to manually update operator cluster role with the following finalizers in order to make this works.

[code]

[2021-08-19 16:29] roimor opened #760 "Question: Would like to know how to create internal only LoadBalancer and change the default elb to nlb"
Hey,
I'm deploying clickhouse-operator on EKS and using the Altinity ClickHouseInstallation.
- i want to create the clickhouse Loadbalancer Service as "internal" instead of "internet-facing"
- i want the Loadbalancer Service to be created as NLB instead of ELB.

cheers

[2021-08-19 16:30] roimor commented on #760
I just found my solution using the serviceTemplate, https://github.com/Altinity/clickhouse-operator/blob/0926d00a22be23499d633ce455bc5473a9620d15/docs/chi-examples/99-clickhouseinstallation-max.yaml#L264

thanks

[2021-08-19 16:30] #760 closed

[2021-08-20 13:29] dsemenischev opened #761 "Timeout for query of clickhouse-operator user"
clickhouse-operator user can use all connections, if can not get answer for query, for example:
SELECT
        count(*)          AS mutations,
        sum(parts_to_do) AS parts_to_do
FROM system.mutations    AS mutations,
WHERE is_done = 0 to_do AS parts_to_do
GROUP BY database, table.

you can replay situation:
1) create table test (id1 Uint32, id2 Uint32) ENGINE MergeTree order by id1
2) Alter t

[2021-08-22 17:08] rsaphala opened #762 "Warning: apiextensions.k8s.io/v1beta1 CustomResourceDefinition is deprecated in v1.16+, unavailable in v1.22+; use apiextensions.k8s.io/v1 CustomResourceDefinition"
I get this warning when running the below script:

[code]

[code]

Any way to turn off this warning? I'm using k8s 1.19

[2021-08-23 16:05] roimor opened #763 "is it possible to use gp3-encrypted SC as pcv for the clickhouse pods? ?"

[2021-08-23 16:11] alex-zaitsev commented on #763
Yes, you need to add a corresponding storage class and refer it in PVC.
Here is an example:
[code]

And then in PVC template of ClickHouseInstallation:
[code]

[2021-08-23 16:12] Slach commented on #763
also, need to install https://github.com/kubernetes-sigs/aws-ebs-csi-driver/ in your EKS cluster

[2021-08-23 16:20] roimor commented on #763
@Slach @alex-zaitsev thanks for the super fast reply.
I'd like to know also - is it recommended to use gp3 with the ClickHouse Installation ? as it has some different features from gp2.
thanks

[2021-08-23 17:04] roimor opened #764 "What is the best way to add more Gigs to PVC ? without any downtime"
for example i have this volume claim already mounted:
[code]

what is the best way to increase/add storage request without any downtime?

[2021-08-23 17:09] UnamedRus commented on #763
Yes, gp3 is fine.
I would suggest to use it when you have ~ 2TB disk, so you can buy additional iops up to 7-8k and bandwidth to max throughput limit of your ec2 instance. At some queries it could became up to 2 times faster than multiple gp2 disks.
And price of such gp3 disk will be comparable with gp2 disks.

[2021-08-23 17:52] #763 closed

[2021-08-24 05:46] Slach commented on #764
you should have CSI PVC Provisioner which supports resize operation
and your storage class should contains `allowVolumeExpansion: true`
you need to add
`reclaimPolicy: Retain` to your claim template `data-storage-vc`

also, you need minimum 2 replicas for each of your shard in the cluster layout

after it, just apply the new version of the manifest with increased data size

`clickouse-operator` wi

[2021-08-24 10:23] #764 closed

[2021-08-24 13:12] mcgrawia commented on #600
Hi operator team, my team and I are also running into this issue using ClickHouse for a customer that does not allow containers to run as root. I see in this issue that was filed in May, it seems to be working: https://github.com/Altinity/clickhouse-operator/issues/691

But I am still facing the same issue described here. Does anyone know the current status of this? Or what issue https://github.co

[2021-08-24 14:38] mcgrawia commented on #600
Update. It looks like this issue comes up when mounting a PVC at `/var/lib/clickhouse` and `/var/log/clickhouse-server`. Even with fsGroup set to 101, the filesystem still has root as the owner:
[code]

This fails the ClickHouse start script check:
[code]

To get around this, you can nest the ClickHouse data and log directories inside the root of the PVC. ClickHouse will create them since they do

[2021-08-24 15:42] Slach commented on #600
@mcgrawia another workaround is
change
command in `spec.podTemplates[].commands`
look to https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/03-persistent-volume-07-security-context.yaml#L50-L52 for example

[2021-08-25 08:54] su-houzhen opened #765 "problem with disk expansion"
I am using ClickHouse-Opeartor on K8s provided by a cloud service provider, but there is a problem with disk expansion.

The reason is that the expansion operation of the StorageClass provided by the cloud service can only be performed when status is `offline`.

I saw in the method `recreateStatefulSet` that when we reconcile PVC, we did't wait its expansion succeed, and then recreate statefulset,

[2021-08-25 20:34] mcgrawia opened #766 "Critical Level Vulnerability in 0.15.0"
Hi operator team,

The ClickHouse operator 0.15.0 image just failed our image scan with a Critical level vulnerability. The vulnerability is not present in 0.16.0. For reference, the CVE is [CVE-2021-36159](https://nvd.nist.gov/vuln/detail/CVE-2021-36159).

<img width="842" alt="image" src="https://user-images.githubusercontent.com/6445305/130860104-b5888f83-fd8b-42ae-90d1-66bcd99297b6.png">

It l

[2021-08-26 07:40] Pandoraemon opened #767 "ClickHouse error accessing the replica"
2021.08.26 07:37:39.251044 [ 213 ] {} <Error> tutorial.hits_v1: auto DB::StorageReplicatedMergeTree::processQueueEntry(ReplicatedMergeTreeQueue::SelectedEntryPtr)::(anonymous class)::operator()(DB::StorageReplicatedMergeTree::LogEntryPtr &) const: Code: 86, e.displayText() = DB::Exception: Received error from remote server /?endpoint=DataPartsExchange%3A%2Fclickhouse%2Ftutorial%2Ftables%2Fhits_v1%

[2021-08-26 13:39] #766 closed, assigned to nobody

[2021-08-27 23:00] ben-pr-p opened #768 "Help with settings"
I am trying to use the [`MaterializedPostgreSQL`](https://clickhouse.tech/docs/en/engines/database-engines/materialized-postgresql/?) table engine, but getting:
[code]
Here is my `ClickhouseInstallation` definition:
[code]
How can I properly enable this setting?

[2021-08-28 18:17] alex-zaitsev commented on #768
You need to enable this for the default profile. Try this one:
[code]

[2021-08-29 14:46] ben-pr-p commented on #768
Thanks @alex-zaitsev - that definitely did something -

Now, I'm getting:
[code]
in my Clickhouse logs.

It's weird - Clickhouse definitely knows about the setting because it told me to use it, now says it doesn't exist!

[2021-08-29 23:14] ben-pr-p commented on #768
I got an answer in the Clickhouse Slack - the real setting is `allow_experimental_database_materialized_postgresql`: https://github.com/ClickHouse/ClickHouse/pull/27824/files

[2021-08-29 23:14] #768 closed

[2021-08-30 08:30] Slach commented on #767
if you use hostNetwork
you also shall add all nodes hostnames into /etc/hosts on host system
or manage it via meta.annotations in `serviceTemplates` + `podTemlate`  - `generateName`
+ https://github.com/kubernetes-sigs/external-dns
look to https://github.com/Altinity/clickhouse-operator/search?l=YAML&q=generateName for examples

Network performance most of the time is not a bottleneck for clickhou

[2021-08-31 08:33] AlexAkulov commented on #694
Hi @sushraju !
Why removed?  `--diff-from` flag is still exists and works fine. I use it for my backups.

[2021-08-31 17:26] blafry commented on #457
@alex-zaitsev is something moved in this matter?
When it comes to AKS's behavior, I don't think it's a bug, but a feature.
Microsoft's documentation explicitly states that you cannot perform operations on a disk attached to a running virtual machine.

[2021-09-01 07:43] blafry commented on #765
Similar problem: https://github.com/Altinity/clickhouse-operator/issues/457

[2021-09-01 13:10] rolinh commented on #762
The CRD definition needs to be updated to use `apiextensions.k8s.io/v1` instead of `apiextensions.k8s.io/v1beta1`. The list if required changes are [documented in the Kubernetes doc](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#customresourcedefinition-v122). I don't know if someone is already working on this but this means that the ClickHouse operator doesn't run on Kubernete

[2021-09-06 05:19] jordan-thoms opened #771 "Documentation for external dictionaries configuration seems wrong"
Hi

In https://github.com/Altinity/clickhouse-operator/blob/master/docs/custom_resource_explained.md and https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/05-settings-02-dictionary.yaml, the example
names the config file as 'dict_one.dict'. However, when I do that I get an error like:

[code]
I had a look at that code, and it looks like .dict is not an allowed extension

[2021-09-07 03:37] su-houzhen commented on #626
@alex-zaitsev is something moved in this matter?

[2021-09-08 18:16] alexandv opened #772 "Make affinity/antiaffinity topologyKey and required/preferred parameters configurable for podDistribution setting"
Hello,

We would like to have replicas spread across availability zones. Currently, the `podDistribution` settings only work with the hostname topologyKey as far as I can tell:
https://github.com/Altinity/clickhouse-operator/blob/master/pkg/model/affinity.go#L504
https://github.com/Altinity/clickhouse-operator/blob/master/pkg/model/affinity.go#L529
https://github.com/Altinity/clickhouse-operator/b

[2021-09-09 16:25] Slach commented on #762
@rolinh i tried to make changes, but got something strange results
everything works except `spec.versions[*].additionalPrinterColumns`
when I try to `kubectl get chi` i get empty custom columns value
when I try to `kubectl get chi chi-name -o yaml` status missing
look like "status" doesn't expect in custom resource anymore, could you suggest anything?

[2021-09-10 06:49] alex-zaitsev commented on #772
Make sense. We will plan it for the next release.

[2021-09-11 03:38] engineater opened #774 "k8s 1.20.10 clickhouse-operator-0.15.0: clickhouse-operator can not read Username|Password from Secret"
Click-operator does not use Secret for USER/PASSWORD  chUsername/chPassword.
It is look that it can't read Secret from namespace.

kubernetes 1.20.10
clickhouse-operator-0.15.0

[code]

[code]
[code]

It is look like it try login from DEFAULT user. Damn!!! But where is my "click_operator" user?
[code]

[2021-09-12 22:17] sunsingerus commented on #774
Probably I am missing something, but in provided code snippet I do not see specified config file (`clickhouse-operator-0.15.0/config/config.yaml`) being actually applied.

[2021-09-13 02:12] engineater commented on #774
[code]
clickhouse-operator-0.15.0/deploy/operator/clickhouse-operator-install.sh
      OPERATOR_NAMESPACE="${OPERATOR_NAMESPACE}" ${CUR_DIR}/build-clickhouse-operator-install-yaml.sh
            generate "clickhouse-operator-0.15.0/deploy/operator/clickhouse-operator-install.yaml" from config files (also from clickhouse-operator-0.15.0/config/config.yaml)
      kubectl apply --validate=${VALIDATE_

[2021-09-13 02:22] su-houzhen commented on #762
@Slach In my mind:
When use `apiextensions.k8s.io/v1`, when storing CR into `etcd` / getting CR  from `etcd`, it strictly implements openAPIV3Schema to trim CR.
It is, the fields not specified in openAPIV3Schema would be trimmed, unless you specify it or use `x-kubernetes-preserve-unknown-fields: true`.Therefore, undefined fields will be trimmed, and the information stored in CR will become incomp

[2021-09-13 06:19] alex-zaitsev commented on #774
@engineater , try to restart operator pod, just in case. It does not pick up any configuration changes that were done after the pod has started.

[2021-09-13 06:35] Slach commented on #762
@su-houzhen , @bmcustodio, @rolinh
may you suggest a properly solution

I tried to add following
[code]
without any success (I tried `subresources` and `properties -> status` both and separately in any combination)
after the creation of custom resources `status` field is still not present on `clickhouse describe chi <chi-name>`
but clickhouse-operator reports successful updates of custom resources

[2021-09-13 07:05] su-houzhen commented on #762
maybe should add another `x-kubernetes-preserve-unknown-fields: true`. like this:
[code]

[2021-09-13 07:16] Slach commented on #762
@su-houzhen it doesn't help

[2021-09-13 07:32] su-houzhen commented on #762
emmm, but it works on my environment. This is my complete CRD.

[code]

[2021-09-14 01:52] engineater commented on #774
I have tried and haves same
[code]

Well I have only one decision for me is add some print log in this part of code:
[code]

Could anyone help me how can I build docker file by myself ???

P.S. Go is not my programming language ;)

[2021-09-14 07:09] Slach commented on #774
@engineater short instruction

[code]

[2021-09-14 10:03] godliness opened #776 "Pod migrate to another node that replica will lost tables by using local pv"
When node under the system resource pressure, kubelet will evict pod in the node, clickhouse-server will migrate to another node, the new migrated replica will lost tables.

Overall, if we using local storage, replica will lost all tables so that it can not sync data from other alive replicas.

I think we did nothing when new pod added, is that right?

[2021-09-14 12:12] gurvindersingh opened #777 "beta CustomResourceDefinition API (apiextensions.k8s.io/v1beta1) to be removed in 1.22"
Current installation uses [apiextensions.k8s.io/v1beta1](https://github.com/Altinity/clickhouse-operator/blob/master/deploy/operator/clickhouse-operator-install.yaml#L1) which is about to be expired in upcoming [K8s release 1.22](https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/)

[2021-09-14 13:04] Slach commented on #776
did you use `volumeClaimTemplates` with properly storage class which provisioned independently from the node and have CSIDriver which allow move persistent volumes between nodes in your `kind: ClickhouseInstallation` ?

[2021-09-14 13:17] godliness commented on #776
we didn't use storage class which be implemented by csi plugin，s3，ceph，and so on. because local storage could provide best performance for database.

[2021-09-14 15:07] Slach commented on #776
localPath provisioner doesn't allow move PV between nodes, so data lose is expected

`clickhouse-operator` itself doesn't manage disk storages, it use only Persistent Volume Claims which implemented on Kubernetes side and depends on your current cluster CSI drivers

[2021-09-14 15:18] godliness commented on #776
Thanks, @Slach
Last question:
Replicas in the same shard migrate to another node didn’t do migrateTables when use localpath provisioner, is that also expected?

[2021-09-14 15:53] Slach commented on #776
yes, clickhouse-operator doesn't directly resposible to re-schedule pod between node, it only reconcile `kind: ClickhouseInstallation`  custom resources, and render `kind: StatefulSet` according to `spec.configuration.clusters` and can only define podAntiAffinity or podAffinity from `spec.templates.podTemplates`

`clickhouse-operator` will try to replicate schema to new clickhouse-server instance

[2021-09-14 16:09] Slach commented on #777
duplicated with https://github.com/Altinity/clickhouse-operator/issues/762

[2021-09-14 16:09] #777 closed

[2021-09-15 02:18] godliness commented on #776
Thanks! I understood.

Local PV has no relationship with pod migrate between nodes, if i use local storage, pod must affinity with this node. So i must keep multi replicas for shard to support high available.

[2021-09-15 06:29] Slach commented on #776
@godliness yes, you absolutely right

[2021-09-17 10:50] alex-zaitsev commented on #774
@engineater , could you try installing operator and chi in the same namespace, please. Probably there is something with access permissions cross namespaces.

[2021-09-17 10:53] #767 closed

[2021-09-19 05:46] surajmachamasi opened #780 "DB: Exception Double-distributed IN/JOIN subqueries is denied issue"
i  have tried executing the sql query in the clickhouse client. i have been getting  this issue given below.

i have set this parameter too, still got no effect.

bash output
=========
chi-repl-prod-prdc01-0-0-0.chi-repl-prod-prdc01-0-0.suraj.svc.cluster.local :) SET  distributed_product_mode='allow'
SET distributed_product_mode = 'allow'
Ok.
0 rows in set. Elapsed: 0.003 sec.

mysql db exception

[2021-09-20 07:24] engineater commented on #774
I add new code """log.V(1).Info("!!!!! some text")""" and create my Docker image.
[code]

Now logs of pod clickhouse-operator I see
[code]

[2021-09-20 08:02] Slach commented on #774
Please look to
`kubectl get clusterrole (kubectl get clusterrole | grep clickhouse-operator) -o yaml`

save output to file clusterole.yaml
edit it and add in the end
[code]
and run
`kubectl apply -f clusterrole.yaml`

thanks for reporting, we will fix it on 0.16.0 release

[2021-09-20 08:26] engineater commented on #774
Cheers @Slach
In deploy/dev/clickhouse-operator-install-yaml-template-02-section-rbac.yaml I added secrets section
[code]

Works perfect.
Thanks for everyone!

[2021-09-20 13:52] maver1ck opened #781 "Ability to change image for busybox in container-log"
Hi,
Currently clickhouse-operator is creating clickhouse-log container using busybox image name from: `defaultBusyBoxDockerImage` const

How to overwrite this value ? I have environment without internet access and with custom docker registry

I tried to create custom clickhouse-log container in podTemplates but without success.

I can't find any options also in code:
https://github.com/Altinity/cl

[2021-09-20 17:17] Slach commented on #781
Currently, `clickhouse-log` container creates only when you define
`chi.spec.defaults.templates.logVolumeClaimTemaplte`

It allows kubectl exec into `clickhouse` pod and try to watch logs in `/var/log/clickhouse-server/`

Could you explain your use case?
What is your goal to change image?

[2021-09-21 05:54] Slach commented on #762
closed via https://github.com/Altinity/clickhouse-operator/pull/778

[2021-09-21 05:54] #762 closed

[2021-09-21 05:59] Slach commented on #780
You could try to add in your CHI manifest:

[code]
And be careful, distributed_product_mode='allow' could have a lot of side effects.

[2021-09-21 05:59] #780 closed

[2021-09-21 06:38] maver1ck commented on #781
Hi,
My goal is to run clickhouse in env where there is no internet access using private docker registry.
I'm able to use custom clickhouse image, but I can't do this with busybox.

[2021-09-21 08:38] Slach commented on #781
Ok, roger that. You have `ImagePullBackOff` state for `clickhouse-log` container when use private registry without internet access.
So make sense, look like it could be implemented.

[2021-09-21 08:39] Slach commented on #781
feel free to make PR

[2021-09-22 11:13] RadikSeyfullin opened #782 "Проблема с VolumeClaimTemplate"
Проблема заключается в том, что при создании экземпляра Clickhouse кластера (1 реплика 1 шард) не создаются указанные pvc.

Манифест для создания standalone click house
[code]

При применении этого манифеста создаётся объект chi `single-dev` и стейтфулсет `chi-single-dev-...` (который не создаёт под). Ошибка, которая видна в `describe statefulset`.
[code]
При этом в манифесте я всё это указываю
Ес

[2021-09-22 13:54] RadikSeyfullin commented on #782
Проблема повторяется на:
- minikube k8s v1.22.1 (с переделанным crd под v1)
- minikube k8s v1.18.17 (с переделанным crd под v1)
- minikube k8s v1.18.17 (без изменения crd)

[2021-09-22 14:31] Slach commented on #782
в манифесте у вас "accessMode:"
а спецификация требует "accessModes"

[2021-09-23 06:25] Slach commented on #782
У меня ваш манифест после смены accessMode на accessModes
прекрасно работает

установка оператора в kube-system
[code]

sinfle-dev.yaml
[code]

kubectl apply -f single-dev.yaml

показывает все PVC с нормальными статусами

[2021-09-23 10:43] Slach commented on #759
closed via https://github.com/Altinity/clickhouse-operator/pull/783

[2021-09-23 10:43] #759 closed

[2021-09-23 12:20] RadikSeyfullin commented on #782
Я попробовал новую версию оператора, как вы и прислали и у меня тоже всё заработало.
Проблема я так понял решиться с новой версией.
Прошу обратить что последний релиз был 0.15.0, поэтому я её и использовал. Вы же взяли crd ещё не релизной 0.16.0 версии.
Она стабильна? Её можно использовать?

[2021-09-23 12:32] RadikSeyfullin commented on #782
Или можно хотя бы примерные сроки релиза новой версии?

[2021-09-23 15:11] Slach commented on #782
ок. извините, 0.16.0 еще недостаточно стабильна для продакшена, но на тестах ее уже можно использовать

если вам нужен clickhouse-operator 0.15.0
и kubernetes 1.22

сделайте примерно следующим образом

[code]

[2021-09-24 00:36] roimor commented on #269
@vinayak-mehta are you sure that these annotations are not supposed to be applied in the datadog helm chart?
according to https://docs.datadoghq.com/agent/kubernetes/integrations/?tab=helm#configuration
and https://docs.datadoghq.com/integrations/clickhouse/?tab=containerized

[2021-09-24 09:11] RadikSeyfullin commented on #782
Отлично! Спасибо большое. Так заработало!

[2021-09-24 09:11] #782 closed

[2021-09-24 21:17] pulkitkalia1994 opened #785 "Can I send a query to clickhouse-server from a container in the same pod as clickhouse-server?"
I have a pod containing clickhouse container and an additional customized container. I want to send data to clickhouse container for ingestion from the customized container and would like to do it locally and not over network(as the data is heavy).
Will it be possible to achieve it?

[2021-09-26 05:26] czhfe opened #786 "DB::Exception: defau lt: Authentication failed: password is incorrect or there is no user with such name. Stack trace:DB::Exception: defau lt: Authentication failed: password is incorrect or there is no user with such name. Stack trace:"
A running clickhouse instance occasionally throws an exception with an incorrect username or password, logged as follows:

2021.09.26 10:58:38.329282 [ 121 ] {e90f2fe0-20c3-4a9a-a6a8-49bba12cc67d} <Error> TCPHandler: Code: 516, e.displayText() = DB::Exception: Received from chi-clickhouse-woxshare-0-1:9000. DB::Exception: defau
lt: Authentication failed: password is incorrect or there is no user w

[2021-09-26 06:53] Sallery-X opened #787 "when i exec 'kubectl logs pod -n clickhouse', before clickhouse's logs come out, the pod logs chown: '/var/lib/clickhouse/store/07b/07ba5ca4-76cc-4cbb-97d5-2e0c8e47dd67/tmp_1993_882_882_0, I want to know which part exec chown?"

[2021-09-26 06:56] Sallery-X commented on #786
Try to use dns cache, the k8s dns have some problem.

[2021-09-26 06:57] Sallery-X commented on #689
So whether to optimize this feature?

[2021-09-26 06:57] Sallery-X opened #788 "Do not restart the pod when volume is expanded"
So whether to optimize this feature?

_Originally posted by @Sallery-X in https://github.com/Altinity/clickhouse-operator/issues/689#issuecomment-927246109_

[2021-09-26 11:08] alex-zaitsev commented on #787
chown is performed by ClickHouse entrypoint:
https://github.com/ClickHouse/ClickHouse/blob/master/docker/server/entrypoint.sh

[2021-09-26 11:08] #787 closed

[2021-09-26 11:13] alex-zaitsev commented on #765
@su-houzhen , what cloud provider are you using?

[2021-09-26 11:16] alex-zaitsev commented on #756
@Slach , please look

[2021-09-26 16:33] Slach commented on #785
Yes, it is possible
use `spec.templates.podTemplates` and `spec.defaults.templates`

look to https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/02-templates-01-pod-template.yaml

You could add yet another container into `spec.templates.podTemplates[0].containers[]` with a different image where you can run your custom SQL commands via the HTTP ClickHouse interface, someth

[2021-09-26 16:33] #785 closed

[2021-09-26 16:38] pulkitkalia1994 commented on #785
So the queries are sent over the http. I am worried about the performance impact to insert a 10GB data to clickhouse via http/network.
Will the insert query still be fast via http?

[2021-09-26 17:01] Slach commented on #785
You can start a container with `"image: yandex/clickhouse-client"`
and wait when `clickhouse-server` will available on 9000 TCP port via `"command"` parameter in `containers[].spec`
after it, you can run `clickhouse-client -q "your SQL query"`

[2021-09-26 18:52] Slach commented on #756
@ericisco which clickhouse-operator do you use?
@alex-zaitsev
I tried following manifest
[code]

in 0.15.1 and 0.16.0
all works as expected

labels is present on created Pod

![image](https://user-images.githubusercontent.com/105560/134820466-ef837296-8385-4b08-aa16-52974165c81f.png)

@ericisco is issue still relevant for you?
if yes, could you share your `ClickHouseInstallation` manifest?

[2021-09-27 06:32] su-houzhen commented on #765
my cloud provider is QingCloud.

[2021-09-27 06:37] czhfe commented on #786
Is this caused by kubernetes dns resolution?

[2021-09-27 06:37] czhfe commented on #786
Is this caused by kubernetes dns resolution?

[2021-09-27 11:43] Slach commented on #269
@vinayak-mehta could you share your datadog config which you applied to DataDog agent to integration with kubernetes?

[2021-09-27 15:48] Zeka13 opened #789 "Multiple disks configuration"
Hello! Thanks for a great operator.

I am kinda new in Clickhouse and trying to understand how I can configure multiple disk in it.

I found this example https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/03-persistent-volume-07-multiple-resizable-volumes-3.yaml and it works perfectly from Kubernetes perspective,

[code]

but in Clickhouse I don't see any of this volumes

[2021-09-27 15:55] alex-zaitsev commented on #789
Hi @Zeka13 ,

ClickHouse should be configured to see multiple disks. See some theory here:
https://altinity.com/blog/2019/11/27/amplifying-clickhouse-capacity-with-multi-volume-storage-part-1

And here is an example how to do in with an operator:
https://github.com/Altinity/clickhouse-operator/blob/73b6129a240b96d4484a3783caf2b2df23200b8e/tests/configs/test-020-multi-volume.yaml#L11

[2021-09-27 15:55] #789 closed

[2021-09-27 16:11] Zeka13 commented on #789
@alex-zaitsev thx a lot, this example works as a charm

спасибо большое за реактивный ответ

[2021-09-28 09:23] alex-zaitsev commented on #772
topologyKey is added into 0.16.0 release.

[2021-09-28 10:42] alexandv commented on #772
Thanks @alex-zaitsev . We will test it and let you know if there are any issues.

[2021-09-28 14:53] Slach commented on #786
@czhfe, do you use `chCredentialsSecretName` in your `etc-clickhouse-operator-files` ConfigMap?

[2021-09-28 18:43] ericisco commented on #756
Hi,
I was testing this using version `0.15.0`.

Did you apply that manifest using SSA?

Transferring the `metadata` to the pods works as far as the operator is concerned, the issue is that when trying to apply the `ClickHouseInstallation` manifest via a [Kubernetes Server-Side Apply](https://kubernetes.io/docs/reference/using-api/server-side-apply/) it fails validation and won't apply at all becau

[2021-09-29 10:21] czhfe commented on #786
Not used

[2021-09-29 12:08] sagarshrestha24 opened #791 "Suspiciously many (30) broken parts to remove.."
when i attach a table i got this issue

[code]

there is lots of data in this table

can anyone help ?

[2021-10-05 12:40] ossinkine commented on #714
We've faced we the same issue on GKE with the operator but we have no loader balancer service, only cluster IP service.

[2021-10-05 12:44] ossinkine commented on #714
But our log is little bit defferent:
[code]

[2021-10-07 07:19] alex-zaitsev commented on #791
This not an operator issue. The error tells you that the data that you are trying to attach is broken from ClickHouse prospective. Look at /var/lib/clickhouse/data/<database>/ad_event_temp folder and examine contexts. But it is better to ask this question and add more context on what has happened before (e.g. why table is detached) in the ClickHouse project.

[2021-10-10 09:39] sagarshrestha24 opened #793 "zookeeper pod crash when millions of data insert into a table"
when i insert a few of data in a table the zookeeper pod will not crashed but when i insert millions of data
we got some error like
[code]
and also zookeeper pod will also crashed

[code]
The logs of zookeeper
[code]

if i solve the zookeeper issue again when i insert millions of data the same issue we will face

**Any solutions for this.This is the major issue we got frequently.**

[2021-10-10 11:37] sagarshrestha24 commented on #793
how can i do this can u explain details

[2021-10-10 12:47] Slach commented on #793
How many rows per one INSERT?
How many simultaneously INSERT queries?

Look details about buffer table engine
https://clickhouse.com/docs/en/engines/table-engines/special/buffer/

shared zookeeper logs doesn't contain any errors

[2021-10-11 10:34] lukeSky3434 opened #794 "bi-level sharding"
Hello,

in the clickhouse documentation there is a description, that you can setup the cluster with bi-level sharding - to divide the entire cluster into layers.

I found that you can define these macros over the setting, but that means, that every shard has the same layer:

[code]

How can I handle such bi-level shards with the operator?

Greetings,
Luke

[2021-10-13 14:06] #794 closed, assigned to nobody

[2021-10-15 13:02] joewreschnig opened #795 "Feature Request: Allow and replace macros in annotations"
In some cases my services need to connect to specific shards to modify/retrieve data. I usually control externally-visible names via the `external-dns.alpha.kubernetes.io/hostname` annotation; I'd like to be able to do the same here using the shard and replica template macros within the annotation to expose e.g. each replica under a unique name:
[code]

But this currently results in the annotation

[2021-10-15 13:44] joewreschnig opened #796 "Feature Request: Use underscores (`_`) in cluster names"
Cluster names currently seem to be restricted to `[A-Za-z0-9-]`. Unfortunately, our cluster names use `_` as a separator, which I think is also idiomatic in ClickHouse cluster naming.

I guess this is due to using the cluster name as part of the Kubernetes resource names, which can't use `_`. But even if I try providing my own service/pod templates that use `{clusterID}` instead, it still refuses

[2021-10-18 01:52] czhfe opened #797 "<remote_servers> Add user and password authentication"
<remote_servers> Add user and password authentication

[2021-10-18 11:13] matiza5 opened #798 "DB::AsynchronousMetrics::update - Cannot read from file /sys/block/sdb/stat, errno: 19, strerror: No such device"
Hi,

I have faced an issue with clickhouse block devices monitoring. It is noticeable mostly on kubernetes (on VMWare), where all PVCs/attached disks are dynamic.
Clickhouse while starting discovers all disk devices connected to k8s worker underneath (other disks not related to clickhouse, i.e. zookeeper PV disk). ( https://github.com/ClickHouse/ClickHouse/blob/master/src/Interpreters/Asynchronous

[2021-10-19 20:20] towolf opened #799 "Problem with CRD definition based on `x-kubernetes-preserve-unknown-fields: true`"
We would like to use the `wait_for` feature in Terraform to wait for the reconciled state of the ClickHouseInstallation custom resource. This allows us to block on the value of the `status.status` field to become `Running`.

However this only works for fields which are properly and explicitly defined in the OpenAPI spec of the CRD, and not by relying on `x-kubernetes-preserve-unknown-fields: true`

[2021-10-19 20:47] bobmorley opened #800 "Operator update with helm chart with new files does not create new files"
When we push out this new helmchart the files that are created in the spec do not get created. The previous version did not have the two new proto files. So when operator creates new pods based on this installation, it ultimately attempts to do the mkdir/cp that is down in `initContainers` and fails because the new fields do not exist.

I am not familiar with how and when the files that are contai

[2021-10-20 11:13] everydots opened #801 "Persistent storage is not working in my Mac"
I have follow[ this guideline](https://docs.altinity.com/clickhouseonkubernetes/kubernetesquickstartguide/quickpersistentstorage/) to install clickhouse operator in my local macbook.

I have tried multiple times for the persistent stoage section.  But it didn't work.

After I scale in/out the pods, the created tables will be erase.

Anyone can help to check whether the storageClass support in mac

[2021-10-20 14:10] Slach commented on #801
Could you share?
[code]

[2021-10-20 20:42] #791 closed

[2021-10-21 06:35] sagarshrestha24 opened #802 "clcikhouse metrics is not showing"
clickhouse metrics exporter is not showing any metrics from clickhouse
i have used lots of version like 0.14.0, 0.15.0, 0.16.0, 0.17.0
it is taking too much time to display a metrics

we have lots of data in clickhouse database.

while checking a prometheus dashboard it is showing just  chi_clickhouse_metric_fetch_errors
can anyone have a solution on this

[2021-10-21 07:57] Slach commented on #802
@sagarshrestha24 could you share?

```kubectl logs -n kube-system -l app=clickhouse-operator -c metrics-exporter --since=24h | grep -i fail```

[2021-10-21 08:04] yuzhichang commented on #265
https://github.com/ClickHouse/ClickHouse/pull/13156 added `secure inter-cluster query execution` to v20.10.3.30+.
For each cluster in the metrika.xml, add an non-empty `secret` tag. This indicates clickhouse to use current query user to do remote queries.

[code]

[2021-10-21 09:01] sagarshrestha24 commented on #802
applying this command it is not showing any logs blanks

[2021-10-21 09:22] sagarshrestha24 commented on #802
in kube-system namepsace i have install

[2021-10-21 09:25] Slach commented on #802
@sagarshrestha24 could you share result for following command?

```kubectl get pod -n ch-prod repl-prod-prdc01 -o yaml```

[2021-10-21 09:32] sagarshrestha24 commented on #802
[code]

[2021-10-21 10:18] sagarshrestha24 commented on #802
@Slach plshelp me i am stuck in this issue

[2021-10-21 10:21] surajmachamasi commented on #802
@Slach  same issue

[2021-10-21 10:28] Slach commented on #802
Check connection between `metrics-exporter` and `clickhouse-server`
```kubectl exec -n kube-system <clickhouse-operator-pod-name> -c metrics-exporter -- wget -qO- http://chi-repl-prod-prdc01-0-0.ch-prod.svc.cluster.local:8123/ping```

Check status of pods
```kubectl get pods --all-namespaces | grep repl-prod```

[2021-10-21 12:20] surajmachamasi commented on #802
return nothing it hung up in terminal , no response

[2021-10-21 13:23] Slach commented on #802
ok. great, we found root cause, one of SQL monitoring queries take too much time, let's check what exactly wrong with your metrics data:

could you check following SQL queries in each `clickhouse-pod`
[code]

for example:
[code]

[2021-10-21 14:30] sagarshrestha24 commented on #802
we have insert according to date wise by using this query

ALTER TABLE TABLE_NAME ATTACH PARTITION

[2021-10-22 09:03] liuqinguestc opened #803 "Anti affinity characteristics"
can you make sure two replications of a shard are on different node?

[2021-10-22 09:38] #803 closed, assigned to nobody

[2021-10-24 10:51] wemod123 opened #804 "Large Volume Usage By Zookeeper In Cluster Setup"
I Setup a cluster following [this instruction](https://github.com/Altinity/clickhouse-operator/blob/master/docs/replication_setup.md), and setup 3-shardes and 3-replica cluster successfully (with 3-zookeeper replica).

Then I insert data, and found that the zookeeper volume usage increasing continually sth like this:
- each-data-node-volume: 1.5GB
- each-zookeeper-node: 5GB

Is this the way the cl

[2021-10-26 10:59] liuqinguestc opened #806 "Can you make sure different zookeeker pods in different nodes?"
Can you make sure different zookeeker pods in different nodes? How can I config?

[2021-10-26 11:18] #806 closed, assigned to nobody

[2021-10-26 11:25] ferpizza opened #807 "ClickhouseOperator not parsing serviceTemplate.spec from CHI"
**Objective**:
Deploy a Clickhouse Cluster that uses ClusterIP instead of LoadBalancer, by means of a ServiceTemplate.

**Expected result:**
The Clickhouse service will be created with type ClusterIP, instead of LoadBalancer

**Actual result:**
The operator fails to create the service, complaining about missing `.spec.ports` on the Service configuration

**Clickhouse Operator version:**
0.16.0

**

[2021-10-26 16:37] FarhadF opened #808 "operator pod restart causes clickhouse statefulsets to be recreated (without configuration change)"
Is this expected that restart of clickhouse operator pod causes all the nodes to be recreated? in case this is not a bug, what configuration change should I do to prevent this? Please advise

steps to reproduce:

1. Make a clickhouse sharded + replicated cluster with some tables via operator version 0.16
[code]

2. when everything is stable remove clickhouse-operator pod (simulating a restart in c

[2021-10-27 20:49] chanadian opened #809 "Pod's Service Account is default instead of clickhouse-operator"
In our cluster which is stood up by CH operator the service account related to the pod is default. The documentation seems to indicate it should be `clickhouse-operator` instead. (https://github.com/Altinity/clickhouse-operator/blob/master/docs/operator_installation_details.md#service-account).

The reason I am asking is we added an annotation onto the `clickhouse-operator` service account so that

[2021-10-27 21:41] #809 closed, assigned to nobody

[2021-10-28 13:08] #798 closed, assigned to nobody

[2021-11-01 03:15] PuttyTree commented on #512
same problem

[2021-11-01 04:58] surajmachamasi commented on #802
we are migratiing data from backup to this clickhouse cluster. inserting directly from backup to database

[2021-11-01 06:40] drohanreddy commented on #747
+1

[2021-11-01 11:32] Slach commented on #802
@surajmachamasi what exactly mean when say "backup"??
how do you prepare this backup? Do you use clickhouse-backup or something else mechanism?

How you to guarantee your data consistency? Do you know about background data parts merge?

[2021-11-01 13:44] Zeka13 commented on #807
I installed version 0.17 from here https://github.com/Altinity/clickhouse-operator/tree/0.17.0

And with the manifest from @ferpizza I am still getting ServiceType: Loadbalancer

[2021-11-01 14:40] sunsingerus commented on #799
Please check 0.16.1
Status is elaborated in CRD now

[2021-11-02 08:15] zheyu001 commented on #756
One workaround for this is to set force-conflict to true.
`--force-conflicts=false: If true, server-side apply will force the changes against conflicts`

But in my humble opinion this is not safe to do as it defected to purpose of server side validation.

[2021-11-02 09:40] alex-zaitsev commented on #756
@ericisco , could you test it with new 0.16.1 version? We have fixed a few minor manifest issues.

[2021-11-02 09:52] alex-zaitsev commented on #807
@ferpizza , @Zeka13 -- tried you manifest in GCP, service is correct:
[code]

Make sure you've got CRD and operator properly installed.

[2021-11-02 09:54] alex-zaitsev commented on #804
ZooKeeper log and snapshot usually do not exceed 10GB. You need to allocate 25GB for ZooKeeper node to be safe.

[2021-11-02 09:54] #804 closed

[2021-11-02 09:55] alex-zaitsev commented on #799
@towolf ^

[2021-11-02 10:33] Zeka13 commented on #807
@alex-zaitsev I don't think it's related anyhow to Cloud Provider.

Thanks for pointing to newest version, **finally I made it work.**

Which operator version you recommend? 0.16.1 or 0.17.0 ?

[2021-11-02 11:10] alex-zaitsev commented on #807
Great!

Please use 0.16.1.
0.17.0 is a development branch, it has not been released yet.

[2021-11-02 11:10] #807 closed

[2021-11-02 11:11] surajmachamasi commented on #802
backup means the data are exported from one instance to this .

[2021-11-02 11:28] Slach commented on #802
What exactly mean "exported"? you just copy /var/lib/clickhouse/data/db/table/<parts_directories>/* from one instance to another into `/var/lib/clickhouse/data/db/table/detached_parts/<parts_directories>/*`?

[2021-11-02 11:36] surajmachamasi commented on #802
yes,

[2021-11-02 11:59] Slach commented on #802
do you copy only "new" parts or whole set of data parts from origin cluster?

[2021-11-02 13:19] bobmorley commented on #800
The additional delay did not resolve the issue. What we ended up doing, is just providing a configmap with the file content in it, and then mounting and copying from that -- avoiding having clickhouse-operator perform the task. Unclear what the root cause was here, but we didn't have time to upgrade from 0.13.0 and long term we are switching from Kafka Engine ingestion using json encoded messages

[2021-11-02 13:19] #800 closed

[2021-11-03 04:45] surajmachamasi commented on #802
yes

[2021-11-03 12:49] ferpizza commented on #807
@alex-zaitsev , tried removing clickhouse operator completely, deleteing existing cdrs. then installed from scratch from branch 0.16.1 and now works as expected.

thank you for your support on this.

[2021-11-04 09:47] su-houzhen opened #811 "Replica data inconsistent if kill pod when writing data"
I am using ClickHouse cluster on kubernetes for high availability testing.
In the process of writing data, I exec `kill 1` in clickhouse pod, and wait for the pod to restart automatically and data write complete.
After the test, I found that part of the data of the killed ClickHouse pod was lost.

Here is some information:
Test tool: tsbs
ClickHouse version: 21.3
ClickHouse Cluster: 2 shards 2 rep

[2021-11-04 10:15] Slach commented on #811
Did you define `volumeClaimTemplates` in your `kind: ClickHouseInstallation` manifest?

[2021-11-04 11:48] zheyu001 opened #812 "Dead loop of stateful set readiness"
Hi there,

We're creating a clickhouse cluster using CHO, it is listening to the readiness of each pod. By default, our pod will be injected with [Readiness Gate](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.1/deploy/pod_readiness_gate/#:~:text=Disabling%20the%20readiness%20gate%20inject%C2%B6,from%20modifying%20the%20pod%20spec.), which is controlled by AWS LB controller. LB

[2021-11-05 05:01] zheyu001 commented on #812
Looks like by default CHO will attach Ready label to pod according to this [line](https://github.com/Altinity/clickhouse-operator/blob/0.17.0/pkg/model/creator.go#L606). So right after a pod is created, AWS LB controller figures it need to attach readiness gate to this pod by assign the pod to target group. Then CHO will delete ready label from this pod. AWS LB controller then can't match label an

[2021-11-05 08:12] zheyu001 commented on #812
Well, looks like [this](https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/1958/files) is the workaround for this issue.

[2021-11-05 09:17] su-houzhen commented on #811
yes. This is my full CR.

[code]

[2021-11-05 15:52] a-dot opened #813 "Cannot link operation not supported when using replication"
I've been following the steps in this file: https://github.com/Altinity/clickhouse-operator/blob/master/docs/replication_setup.md. The only change I made is to pull the latest image for clickhouse-server instead of 19.6.2.11.

I have zookeeper and clickhouse-operator set up as per the guides. I'm running this on AKS, I have PVCs setup for my zookeeper instances and for my clickhouseinstallations.

[2021-11-05 16:43] rtkrnguyen opened #814 "Operator doesn't update CHI configmaps without restart"
When updating configmaps for userdFiles the operator does not update the CHI related configmaps until restarting the operator pod.

Does the Operator have the ability to monitor configmap changes and update as needed? Unsure if there's some misconfiguration on my end.

[2021-11-05 17:14] a-dot commented on #814
Have you looked at this page: https://github.com/Altinity/clickhouse-operator/blob/master/docs/operator_configuration.md

`Changes to etc-clickhouse-operator-files are not monitored, but picked up if operator is restarted. Changes to ClickHouseOperatorConfiguration are monitored by an operator and applied immediately.`

[2021-11-05 19:55] alex-zaitsev commented on #797
[code]

'default' is a cluster name in this example. We can probably generate secret randomly when CHI is created, not sure if it makes sense. @yuzhichang , what do you think?

You can also use from_env in order to store the password in environment vars. See https://github.com/Altinity/clickhouse-operator/issues/700

[2021-11-06 09:29] TheXs opened #816 "Any support of Clickhouse-keeper?"
Hi, there. Is there any plan to support configuring param "clickhouse-keeper: other than "zookeeper" in deployment yaml? Just realized both clickhouse and clickhouse-operator only support hard-coded configs (server-id) for that feature. Which is reasonably inconvinient on cluster scale up(in this way you can change shardCount or replicaCount to achieve). Regards!

[2021-11-06 11:38] alex-zaitsev commented on #816
We are investigating the best way to support Keeper. The best practices are yet to be developed.

[2021-11-06 12:17] tdminh commented on #798
I have the same issue when reinstall zookeeper. @matiza5 Did you find a way to fix it?

[2021-11-07 09:51] yuzhichang commented on #797
@alex-zaitsev The `secret` value doesn't matter. The value just shall not be empty string.
[ckman](https://github.com/housepower/ckman/) enforces non-empty password of user `default`, and use `secret` (if cluster >=v20.10.3.30+) or `user` and `password` (if cluster <v20.10.3.30).

[2021-11-08 04:47] surajmachamasi commented on #802
any solution to the metrics sir?

[2021-11-08 05:44] su-houzhen commented on #811
After testing, I think it's a clickhouse issue. I wrote the wrong version of clickhouse earlier, and I'm actually using 21.1.3.32, which disappears when I use 21.3.

[2021-11-08 05:44] #811 closed

[2021-11-08 06:49] Slach commented on #802
I see only one properly solution for your use case:
You should totaly rewrite your ingestion method, look like background merge doesn't work, and you have too much system.data parts, and your select queries will suboptimal perfomance

Also, as workaround you can try to add to your CHI following:

[code]

and setup annotation `prometheus.io/scrape: 'false'` into `clickouse-operator` deployment  met

[2021-11-08 14:24] rtkrnguyen commented on #814
Thanks! I must've missed that.

[2021-11-08 14:24] #814 closed

[2021-11-09 01:04] fishzhe commented on #478
are you using aws eks？ if so， do you have readiness gate injection？

[2021-11-09 05:47] surajmachamasi commented on #802
should we replace all the older configuration in pod Templates and replace with this configuration?

[2021-11-09 06:38] Slach commented on #802
just merge my proposal, to your exists manifest `kind: ClickHouseInstallation`

[2021-11-09 11:43] surajmachamasi commented on #802
i am getting error in the grafana dashboards, it there alternate way to deploy just clickhouse-metrics-exporter to pull the  metrics and its data  to the prometheus?

![image](https://user-images.githubusercontent.com/84307751/140917977-6607b8b2-8d4d-4970-adbe-aec2fc929a18.png)

[2021-11-09 12:28] jpiper commented on #798
I wonder if this has been fixed in these PRs:
https://github.com/ClickHouse/ClickHouse/pull/27266
https://github.com/ClickHouse/ClickHouse/pull/27195

[2021-11-09 13:35] Slach commented on #802
`clickhouse-operator` dashboards is not compatible with metrics from internal `prometheus` dashboard

you continue to struggle with the consequences, instead of addressing the root cause

CHANGE YOUR INGESTION PROCESS
hundreds of thousands `system.parts` is abnormal and  should be decreased.

[2021-11-09 13:35] #802 closed

[2021-11-09 14:33] rolinh opened #817 "Guide to securing a ClickHouse installation?"
Sorry for this "meta" issue but I'm trying to enable TLS and generally reduce the attack surface of a ClickHouse deployment and I cannot find any related documentation or issue. Here's what I'm trying to achieve at the moment (there's probably more to it in the long run but that's a start):

1. Enable TLS with a robust configuration using TLSv1.3 only
2. Disable protocols that are unused, namely:

[2021-11-10 11:27] surajmachamasi opened #818 "Delete the rows form system.clusters db."
how to remove row from system.cluster db in clickhouse

[2021-11-10 16:52] Slach commented on #818
it's not possible

`system.clusters` is a SQL represntation of <remote_servers> config section

[2021-11-10 16:52] #818 closed

[2021-11-10 17:32] ppoddar-affordably commented on #471
Can this be added to one of the docs pages?

[2021-11-11 14:47] towolf commented on #799
Hi @alex-zaitsev and @sunsingerus we've confirmed the fix as working. Thank you.

[2021-11-11 14:47] #799 closed

[2021-11-11 15:29] ki0 commented on #745
@Slach thank you for the tips and sorry for delay answer, it worked restarting the operator.

[2021-11-11 15:29] #745 closed

[2021-11-12 02:22] #765 closed

[2021-11-12 02:41] jessezax commented on #685
how can i change path "/etc/clickhouse-server/conf.d/" to "/etc/clickhouse-server/config.d/"?

[2021-11-12 07:09] Slach commented on #685
@jessezax
just use

[code]
look to https://github.com/Altinity/clickhouse-operator/blob/master/docs/chi-examples/05-settings-05-files-nested.yaml
to see all available options

[2021-11-12 08:02] jessezax commented on #685
i write that :
`spec:
  configuration:
    clusters:
      - name: "clickhouse"
        # Templates are specified for this cluster explicitly
        templates:
          podTemplate: clickhouse-server
        layout:
          shards:
            - name: ck-01
               files:
                  config.d/macros.xml: |
                  <yandex>
                      <macros>

[2021-11-12 10:25] Slach commented on #685
@jessezax it doesn't work, because your `cluster` macro will override by generated and mounted configMap in file `/etc/clickhouse-server/conf.d/chop-generated-macros.xml`

Why do you need to redefine `cluster` and `shard` macros? What is the goal?

[2021-11-12 10:31] jessezax commented on #685
thanks for your answers. i want create some shards, and
`<shard>shard-01</shard>` is different
ex : `<shard>shard-n</shard>`
and i want macros.xml mount in /etc/clickhouse-server/config.d/

what should i do ?

[2021-11-12 10:34] jessezax commented on #685
if i write that:

`spec:
    configuration:
     clusters:
     files:
        macros2.xml: |-
           <yandex>
            <macros>
                <cluster>MonitorLogsShardedAndReplicated</cluster>
                <shard>shard-01</shard>
            </macros>
        </yandex>
`
that will create xml in  /etc/clickhouse-server/config.d/. but can not generate shard-n in other shards

[2021-11-12 11:13] jessezax commented on #685
i want change k8s to operator. original design is that
`<yandex>
            <macros>
                <cluster>MonitorLogsShardedAndReplicated</cluster>
                <shard>shard-01</shard>
            </macros>
        </yandex>`
path is  /etc/clickhouse-server/config.d/
`
so……base that ，i write it

[2021-11-12 15:35] a-dot opened #819 "metrics-exporter reporting empty CHI list"
Hi,

I was following the troubleshooting steps provided by @Slach from issue #802 and when I got to `kubectl exec -n kube-system <clickhouse-operator-pod-name> -c metrics-exporter -- wget -qO- http://127.0.0.1:8888/chi` it returned an empty list `[]`. I have 4 pods running for my installation. What could explain this issue and do you have any ideas on how it could be resolved? Thanks a lot!

[2021-11-13 03:20] Slach commented on #819
which operator version did you use?

could you share
`kubectl get deploy --all-namespaces | grep clickhouse-operator` ?

[2021-11-13 03:21] Slach commented on #819
also, could you share

```kubectl -n kube-system <clickhouse-operator-pod-name> -c clickhouse-operator --sinrce=24h | grep -i monitor```

[2021-11-14 05:06] abh opened #820 "Insecure default load balancer"
I was surprised to find that a minimal `ClickHouseInstallation` setup an external `LoadBalancer` service to a cluster with no authentication (or TLS).

(related to #817)

[2021-11-14 14:58] a-dot commented on #819
I'm using v0.16.0.

Output for `k get deploy --all-namespaces | grep clickhouse-operator`:
`clickhouse-operator     1/1     1            1           12d`

Output for `kubectl -n kube-system <clickhouse-operator-pod-name> -c clickhouse-operator --sinrce=24h | grep -i monitor`. (This command returned an error, I'm assuming you wanted to output the logs for the CHO container? If so, here's the only l

[2021-11-14 15:34] Slach commented on #819
It means `ch-main` should contain in `metrics-exporter` `wget -qO- http://127.0.0.1:8888/chi`

Could you share your CHI manifest?
`kubectl -n mynamespace -o yaml ch-main`

[2021-11-14 15:56] a-dot commented on #819
I'm rather embarassed to say this but my CHI list is now returning my pods! I'm not sure what happened between the time I posted and now. Earlier today I tried to restart my pods and that seems to have fixed something... My bad! Thanks for your help. I'll close the issue now.

[2021-11-14 15:56] #819 closed

[2021-11-14 22:29] alex-zaitsev commented on #820
Hi Ask,

Glad to know you are looking into our operator! This is an open source project that allows maximum flexibility. The production configuration pretty much depends on the target Kubernetes environment.

The default configuration is secured by hostRegexp rules -- default ClickHouse user can only be used between the cluster nodes. For other ClickHouse users network mask should be explicitly de

[2021-11-14 22:40] alex-zaitsev commented on #817
@rolinh , looks like we need to write a comprehensive security guide.

ClickHouse settings should got to spec.configuration.settings. Usually you run one cluster per ClickHouse installation (in fact, we recommend doing that), so no need to go to cluster level settings.

[2021-11-14 22:45] alex-zaitsev commented on #813
Hi @a-dot , this error is from file system. It complains that hard links are not supported. ClickHouse users hard links very extensively, so it can not work without them.

Could you elaborate with a couple of things:
1) Does it work if you setup a single node ClickHouse?  (no ZK and replication at all)
2) What is your storage class and file system?

[2021-11-15 01:19] a-dot commented on #813
Hello! I just managed to get this fixed by using the `managed-premium` instead of `default` storage class in AKS. *shrug*

Thanks for the help!

[2021-11-15 01:19] #813 closed

[2021-11-15 06:37] alex-zaitsev commented on #813
Excellent!

[2021-11-15 06:40] #774 closed

[2021-11-16 08:06] jessezax commented on #631
it seems like not works

[2021-11-16 08:16] Slach commented on #631
@jessezax could you share your `kind: ClickHouseInstallation` manifest?

[2021-11-16 08:38] jessezax commented on #631
sorry.forget add :
[code]
and did
serviceTemplate -- >LoadBalancer
clusterServiceTemplate --> ClusterIP
?

[2021-11-16 09:05] Slach commented on #631
@jessezax if you have

[code]

it will create service with `type: LoadBalancer`
change type: LoadBalancer to `type: ClusterIP` and you will get another service type

if you not define  serviceTemplate, clusterServiceTemplate, shardServiceTemplate, replicaServiceTemplate in defaults.templates, for example
[code]

then default serviceTemplates (defined in golang code) will applied for creating servi

[2021-11-16 09:22] jessezax commented on #631
thanks

[2021-11-25 08:56] Tomislav24i opened #822 "DBeaver to Clickhouse in Kubernetes connection"
I was able to connect to the clickHouse database running via independent instance on AWS with DBeaver without problem.
But now as database is running in Kubernetes on AWS and ClickHouse is open to public, I am not able to connect with DBeaver.
With some other apps, I do not have problem with connection.
Do I need to adjust some special setting in DBeaver to connect to ClickHouse running in Kuberne

[2021-11-25 09:50] Slach commented on #822
Could you share your `kind: ClickHouseInstallation` manifest?

When you set up `clickhouse` via `clickhouse-operator`, by default it creates one service with `type: LoadBalancer`
check it
```kubectl get svc --all-namespaces -o wide | grep Load | grep chi```

and check external `LoadBalancer` DNS name like
`c1ca6a04611544ae195f69367c4ec043-c28c310e0e208e73.elb.us-east-1.amazonaws.com`

Moreover, yo

[2021-11-25 13:16] jiugem opened #823 "default: Authentication failed: password is incorrect or there is no user with such name."
My pod:
chi-test-chtest-0-0-0.chi-test-chtest-0-0.default.svc.cluster.local

Regular expression:
host_regexp:'(chi-test-chtest-\d+-\d+|clickhouse-test).default.svc.cluster.local$'

Not tested

Using the above method, it still doesn't work
      default/networks/host_regexp:
      - ^chi-test-chtest-\d-\d.*$
      - ^chi-test-chtest-\d-\d-\d\..*$

![20211125210725](https://user-images.githubusercon

[2021-11-26 07:53] alex-zaitsev commented on #823
@jiugem , if you need to disable hostRegexp, you can do it with this:

[code]

[2021-11-26 10:20] jiugem commented on #823
The purpose is to only allow the nodes in the cluster to use this default empty password to access, so that other nodes can also be configured to access it. @alex-zaitsev

I don’t know if I configured it wrong, my user configuration is as follows：

spec:
  configuration:
    users:
      default/password: ""
      default/networks/host_regexp: '(chi-test-chtest-\d+-\d+|clickhouse-test).default.svc

[2021-11-26 15:56] alex-zaitsev commented on #823
It is configured to work this way by default. If you do not do anything to default user, it generates proper hostRegexp and empty password.

However, sometimes (in GCP, for example) kube-dns does not resolve host correctly, so host_regexp may not work.

As a workaround, you can put IP addresses of all pods to networks/ip.

[2021-11-28 23:23] alex88 opened #824 "Users config not being applied"
Hi everyone, I'm trying to add a user in clickhouse using thie configuration:

[code]

tried to apply config, restart operator, the `chi-clickhouse-common-usersd` configmap doesn't have the user nor the clickhouse server files.
Am I missing a step?

Note that I see some operator logs like these:
[code]
but they don't show up again after restart

Update: after a while they eventually show again (wi

[2021-11-29 00:27] alex88 commented on #824
Oh my fault, seems there's no support for full objects, just single line overrides

[code]

this works

[2021-11-29 00:27] #824 closed

[2021-11-29 01:24] AceHCL opened #825 "Zookeeper schema configuration"
Hello, I'd like to ask you, can the zookeeper cluster of a single namespace be used by multiple Clickhouse clusters under this namespace?

[2021-11-29 07:35] Slach commented on #825
yes, it possible
but you need to setup differente `zookeeper/distributed_ddl` in `settings` section of yaml manifests and different zookeeper `path` in `Engine=ReplicatedMergeTree()` parameters to avoid wrong interactions between separate clickhouse-clusters

[2021-11-29 07:35] #825 closed

[2021-11-30 08:59] Sallery-X commented on #786
yes,you can try

[2021-12-01 05:41] jessezax opened #826 "Error from server (MethodNotAllowed): error when creating "./test.yaml": the server does not allow this method on the requested resource (post clickhouseinstallations.clickhouse.altinity.com)"
i use kubectl apply -f https://raw.githubusercontent.com/Altinity/clickhouse-operator/master/deploy/operator/clickhouse-operator-install-bundle-v1beta1.yaml
 and kubectl apply -f ./test.yaml

[2021-12-01 05:42] jessezax commented on #826
logs
E1201 05:07:14.524422       1 reflector.go:138] pkg/client/informers/externalversions/factory.go:117: Failed to watch *v1.ClickHouseOperatorConfiguration: failed to list *v1.ClickHouseOperatorConfiguration: the server could not find the requested resource (get clickhouseoperatorconfigurations.clickhouse.altinity.com)

[2021-12-01 07:04] Slach commented on #826
@jessezax which kubernetes version do you use and which distribution?

It's a managed or local \ bare-metal installation?
It's a Google GKE or AWS EKS or Azure AKS?

[2021-12-01 07:04] jessezax commented on #826
v1.15.11-eks-065dce

[2021-12-01 07:05] jessezax commented on #826
Was normal before

[2021-12-01 07:22] Slach commented on #826
could you share output for following commands

```kubectl apply -f https://raw.githubusercontent.com/Altinity/clickhouse-operator/master/deploy/operator/clickhouse-operator-install-bundle-v1beta1.yaml```

```kubectl get pods --all-namespaces | grep clickhouse-operator```

[2021-12-01 07:23] jessezax commented on #826
[code]

[code]

[2021-12-01 07:35] Slach commented on #826
look like you creating multiple clickhouse-operator installations
clickhouse-operator inside

you should run
[code]

cause `clickhouse-operator`  installed into `kube-system` will watch all another namespaces

[2021-12-01 07:53] jessezax commented on #826
thank you。works！

[2021-12-01 08:40] #826 closed

[2021-12-01 13:01] R-omk commented on #797
This would be great, but only generate a new secret if no existing one is explicitly specified.

[2021-12-01 18:49] alex-zaitsev commented on #795
Implemented in 0.17.0 version
cc @joewreschnig

[2021-12-01 18:49] #795 closed

[2021-12-06 12:04] anatoliicasafari opened #828 "Too many simultaneous queries. Maximum: 100"
Hi.
Please advice how I can change this setting using operator?
As I understand I need to change this setting `max_concurrent_queries` (https://github.com/ClickHouse/ClickHouse/blob/master/programs/server/config.xml#L272)
But I don't known how I can do this?

[2021-12-06 18:14] a-dot opened #829 "Proper way to wait for deployment of cluster to be done?"
Hi, what's the proper way to wait for a cluster deployment to be complete? (all pods for all shards/replicas are in a ready state and services are ready). I thought about using "kubectl wait" on the statefulset but CHO spawns up one statefulset per shard per replica so that's not possible. For the same reason "rollout status" can't be used on the STS because it's scattered and not a single Statefu

[2021-12-07 09:13] sunsingerus commented on #829
CHI's `status.status` field comes to help.

[2021-12-07 09:13] sunsingerus commented on #829
Examples:
`status: InProgress` vs `status: Completed`

[2021-12-07 13:44] a-dot commented on #829
That would definitely work but it looks like status.status is not supported as a field selector? I'm getting a "field label status.status not supported: status.status" when trying to use it with `wait` or even to get the chi with --field-selector.

I _could_ have a shell script that looks like this:
[code]

But that wouldn't be as clean. Any way to use status.status as a field-selector that I'm mi

[2021-12-07 14:35] Slach commented on #829
i just use
[code]

[2021-12-07 23:09] hodgesrm opened #830 "Deleting the operator while clusters are running can cause them to be deleted without warning"
Deleting the operator and then reinstalling it may cause currently running clusters to be deleted without warning. Here's a reproduction of the problem from current HEAD repo contents.

1. Install operator according to instructions at docs.altinity.com:
```kubectl apply -f https://raw.githubusercontent.com/Altinity/clickhouse-operator/master/deploy/operator/clickhouse-operator-install-bundle.yaml`

[2021-12-07 23:11] hodgesrm commented on #830
Here's the simple-01-a.yaml file to create a cluster, since Github won't let me attach it.
[code]

[2021-12-08 00:14] hodgesrm commented on #830
For anyone reading this, the root cause is that deleting the bundle .yaml file deletes the custom resource definition. Kubernetes automatically cleans up. This is standard Kubernetes behavior though the corrupted api-resources seem to be a bonus feature. We are considering how to fix this.  In the meantime, **never** run the following command while there are live ClickHouse clusters:

[code]

[2021-12-08 13:20] udmdan opened #831 "Encoding doesn't work properly in Tableau"
We use Altinity to connect ClickHouse to Tableau. Main problem is that sometimes Tableau does not recognize even latin symbols.
For example, there are a lot of ����� symbols instead of real ones.
<img width="270" alt="Снимок экрана 2021-12-08 в 16 20 10" src="https://user-images.githubusercontent.com/38276992/145215253-f0d83908-6a6d-482a-b090-bfa0c7e6a8ed.png">

[2021-12-09 15:09] nsakovich commented on #714
does anybody know how to solve this issue?

[2021-12-09 15:21] Slach commented on #714
@nsakovich @ossinkine
issue is not related to `clickhouse-operator` or `clickhouse-server` itself
issue related to internal Kubernetes machinery (maybe it service mech control plane health check, maybe it external load balancer health probes)

which create TCP connection to HTTP clickhouse port and abnormally close it

you could run `apt-get update && apt-get install tcpdump && tcpdump -i any -w c

[2021-12-11 15:52] apibfilip opened #832 "Clickhouse Golang Client problems"
Dear all,

my deployment schema is:
[code]

I am trying to connect using the default user from another go application in Kubernetes using the loadbalancer cloud IP. The connection initiation as well as ping works. The same data retrieval code (below) gives different results when used, it seem like as if the loadbalancer connects only to a specific pod but on the next request it connects to a diffe

[2021-12-12 03:43] surajmachamasi opened #833 "The data are not distruted across the Shards"
i have two shrads up and running, the data pulled via kafka server are distributed across the shards. only shard 1 gets all the data but shards 2 is not receiving the data. is there any way to configure this in clickhouse configuration?

distrubuted table:

     ENGINE = Distributed('cluster', 'addotnet', 'ad_event_local', toYYYYMM(event_date))

[2021-12-13 08:33] Slach commented on #833
Issue is not related to clickhouse-operator
`toYYYYMM(event_date)` as `sharding key`, mean you will get the same "shard id" in whole month for every row when try to insert data into engine=Distributed table

[2021-12-13 08:33] #833 closed

[2021-12-13 10:46] Slach commented on #832
By default, `clickhouse-operator` restricts `default` user connection to `127.0.0.1` for security reason

you can add
[code]

and you should use IP address (or maybe DNS name will better) of your `kind: Service` which Will generated and cover replica or shard, or cluster or whole Installation

look services list on
[code]

[2021-12-13 15:12] apibfilip commented on #832
So I included the user in the spec and I can connect using the clickhouse-cli. However when I list the services using the provided snippet I only get cluster IP on the loadbalancer. When trying to connect using the cluster IP using Golang client I get permission denied error. Any ideas why this is happening?

Thank tou,
Filip